@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');  */
/* Font */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
   src:url('/font/NotoSansKR/NotoSans-Thin.eot');
   src:url('/font/NotoSansKR/NotoSans-Thin.eot?#iefix' ) fomat('embedden-opentype');
   src:url('/font/NotoSansKR/NotoSans-Thin.woff2') format('woff2'),
         url('/font/NotoSansKR/NotoSans-Thin.woff') format('woff'),
         url('/font/NotoSansKR/NotoSans-Thin.otf') format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src:url('/font/NotoSansKR/NotoSans-Light.eot'); 
    src:url('/font/NotoSansKR/NotoSans-Light.eot?#iefix' ) fomat('embedden-opentype');
    src:url('/font/NotoSansKR/NotoSans-Light.woff2') format('woff2'),
         url('/font/NotoSansKR/NotoSans-Light.woff') format('woff'),
         url('/font/NotoSansKR/NotoSans-Light.otf') format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src:url('/font/NotoSansKR/NotoSans-Regular.eot'); 
     src:url('/font/NotoSansKR/NotoSans-Regular.eot?#iefix' ) fomat('embedden-opentype');
     src:url('/font/NotoSansKR/NotoSans-Regular.woff2') format('woff2'),
          url('/font/NotoSansKR/NotoSans-Regular.woff') format('woff'),
          url('/font/NotoSansKR/NotoSans-Regular.otf') format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src:url('/font/NotoSansKR/NotoSans-Medium.eot'); 
     src:url('/font/NotoSansKR/NotoSans-Medium.eot?#iefix' ) fomat('embedden-opentype');
     src:url('/font/NotoSansKR/NotoSans-Medium.woff2') format('woff2'),
          url('/font/NotoSansKR/NotoSans-Medium.woff') format('woff'),
          url('/font/NotoSansKR/NotoSans-Medium.otf') format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 700;
     src:url('/font/NotoSansKR/NotoSans-Bold.eot'); 
     src:url('/font/NotoSansKR/NotoSans-Bold.eot?#iefix' ) fomat('embedden-opentype');
     src: url('/font/NotoSansKR/NotoSans-Bold.woff2') format('woff2'),
          url('/font/NotoSansKR/NotoSans-Bold.woff') format('woff'),
          url('/font/NotoSansKR/NotoSans-Bold.otf') format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 900;
     src:url('/font/NotoSansKR/NotoSans-Black.eot'); 
     src:url('/font/NotoSansKR/NotoSans-Black.eot?#iefix' ) fomat('embedden-opentype');
     src: url('/font/NotoSansKR/NotoSans-Black.woff2') format('woff2'),
          url('/font/NotoSansKR/NotoSans-Black.woff') format('woff'),
          url('/font/NotoSansKR/NotoSans-Black.otf') format('opentype');
   }
/* Common */
* {
 font-family: "Noto Sans KR", sans-serif;
}
html {
 font-size: 100%;
}
html,
body {
 margin: 0;
 padding: 0;
 border: none;
 color: #111;
 font-family: "Noto Sans KR", sans-serif;
 font-size: 10px;
 line-height: 10px;
 background: transparent;
 -webkit-text-size-adjust: none;
 -webkit-font-smoothing: antialiased;
 height: 100%;
 width: 100%;
 overflow-x: hidden;
}
body,
button,
input,
select,
table,
textarea {
 font-size: 1.6rem;
 line-height: 2.2rem;
 border: none;
}
body {
 font-family: "Noto Sans KR", sans-serif;
 -webkit-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 500;
}
h1 {
 font-size: 3.4rem;
 line-height: 4.2rem;
}
h2 {
 font-size: 2.2rem;
 line-height: 3rem;
}
h3 {
 font-size: 2rem;
 line-height: 2.8rem;
}
h4 {
 font-size: 1.8rem;
 line-height: 2.4rem;
}
h5 {
 font-size: 1.6rem;
 line-height: 2.4rem;
}
h6 {
 font-size: 1.4rem;
 line-height: 2.2rem;
}
pre {
 white-space: pre-wrap;
}
address {
 font-style: normal;
}
strong {
 font-weight: 500;
}

/* Display */
.dp-b {
 display: block !important;
}
.dp-i {
 display: inline !important;
}
.dp-ib {
 display: inline-block !important;
}

/* Float Style */
.fl-l {
 float: left;
}
.fl-r {
 float: right;
}
.clearfix {
 clear: both !important;
}
.clearfix:before,
.clearfix:after {
 content: "";
 display: block;
 height: 0;
 overflow: hidden;
}

/* Eliipsis */
.ellipsis {
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

/* Text align style */
.ta-c {
 text-align: center !important;
}
.ta-l {
 text-align: left !important;
}
.ta-r {
 text-align: right !important;
}

/* hidden */
.hdn {
 overflow: hidden;
 display: inline-block;
 position: absolute;
 width: 1px;
 height: 1px;
 border: 0;
 clip: rect(1px, 1px, 1px, 1px);
 clip-path: inset(50%);
}
.t-hdn {
 overflow: hidden;
 display: inline-block;
 position: absolute;
 width: 1px;
 height: 1px;
 border: 0;
 clip: rect(1px, 1px, 1px, 1px);
 clip-path: inset(50%);
}
.txt-hide {
    font-size:0;
    text-indent: -9999em;
}
/* Grid System */
.col-2 {
 width: 50%;
}
.col-3 {
 width: 33.33333333%;
}
.col-4 {
 width: 25%;
}
.col-5 {
 width: 20%;
}

/* Margin */
.mt0 {
 margin-top: 0 !important;
}
.mt5 {
 margin-top: 5px !important;
}
.mt10 {
 margin-top: 10px !important;
}
.mt14 {
 margin-top: 14px !important;
}
.mt15 {
 margin-top: 15px !important;
}
.mt20 {
 margin-top: 20px !important;
}
.mt25 {
 margin-top: 25px !important;
}
.mt30 {
 margin-top: 30px !important;
}
.mt40 {
 margin-top: 40px !important;
}
.mt50 {
 margin-top: 50px !important;
}
.mt60 {
 margin-top: 60px !important;
}

.mb0 {
 margin-bottom: 0 !important;
}
.mb5 {
 margin-bottom: 5px !important;
}
.mb10 {
 margin-bottom: 10px !important;
}
.mb15 {
 margin-bottom: 15px !important;
}
.mb20 {
 margin-bottom: 20px !important;
}
.mb25 {
 margin-bottom: 25px !important;
 margin-bottom: 2.5rem;
}
.mb30 {
 margin-bottom: 30px !important;
}
.mb35 {
 margin-bottom: 35px !important;
}
.mb40 {
 margin-bottom: 40px !important;
}
.mb45 {
 margin-bottom: 45px !important;
}
.mb50 {
 margin-bottom: 50px !important;
}
.mb55 {
 margin-bottom: 55px !important;
}
.mb60 {
 margin-bottom: 60px !important;
}
.mb65 {
 margin-bottom: 65px !important;
}
.mb70 {
 margin-bottom: 70px !important;
}
.mb90 {
 margin-bottom: 90px !important;
}
.mb140 {
 margin-bottom: 140px !important;
}

.ml0 {
 margin-left: 0 !important;
}
.ml5 {
 margin-left: 5px !important;
}
.ml10 {
 margin-left: 10px !important;
}
.ml15 {
 margin-left: 15px !important;
}
.ml20 {
 margin-left: 20px !important;
}
.ml30 {
 margin-left: 30px !important;
}
.ml40 {
 margin-left: 40px !important;
}
.ml50 {
 margin-left: 50px !important;
}
.mr0 {
 margin-right: 0;
}
.mr15 {
 margin-right: 15px !important;
}

/* Padding */
.pd0 {
 padding: 0 !important;
}
.pt0 {
 padding-top: 0 !important;
}
.pt10 {
 padding-top: 10px !important;
}
.pt20 {
 padding-top: 20px !important;
}
.pt30 {
 padding-top: 30px !important;
}
.pb0 {
 padding-bottom: 0 !important;
}
.pb10 {
 padding-bottom: 10px !important;
}
.pb20 {
 padding-bottom: 20px !important;
}
.pb30 {
 padding-bottom: 30px !important;
}
.pl0 {
 padding-left: 0 !important;
}
.pl10 {
 padding-left: 10px !important;
}
.pl20 {
 padding-left: 20px !important;
}
.pl30 {
 padding-left: 30px !important;
}
.pr0 {
 padding-right: 0 !important;
}
.pr10 {
 padding-right: 10px !important;
}
.pr20 {
 padding-right: 20px !important;
}
.pr30 {
 padding-right: 30px !important;
}

/* Key Color */
.c-blue {
 background-color: #0779d1 !important;
 color: #fff !important;
}
.c-red {
 background-color: #e62323 !important;
 color: #fff !important;
}
.c-green {
 background-color: #088911 !important;
 color: #fff !important;
}
.c-purple {
 background-color: #5454cf !important;
 color: #fff !important;
}
.c-darkgray {
 background-color: #444 !important;
 color: #fff !important;
}
.tc-blue {
 color: #0060b1 !important;
}
.tc-red {
 color: #cd0000 !important;
}
.tc-green {
 color: #05670c !important;
}
.tc-purple {
 color: #3434a7 !important;
}
.tc-black {
 color: #111111 !important;
}
.tc-darkgray {
 color: #444444 !important;
}
.tc-gray {
 color: #737373 !important;
}

/* Button Style */
button {
 cursor: pointer;
}
.btn-grp {
 clear: both;
 padding: 30px 0 0;
}
.btn-wrap {
 overflow: hidden;
 padding-bottom: 20px;
}
.btn-wrap:after {
 content: "";
 display: block;
 visibility: hidden;
 clear: both;
 overflow: hidden;
}
.btn-wrap h3.fl-l {
 margin: 0;
}
.tit-wrap {
 margin-top: 30px;
 padding-top: 1px;
 overflow: hidden;
}
.tit-wrap:after {
 content: "";
 display: block;
 height: 0;
 clear: both;
 overflow: hidden;
}
.tit-wrap .checkbox.fl-l,
.btn-wrap .checkbox.fl-l {
 margin: -2px 0 0 10px;
}
a.btn,
button.btn {
 display: inline-block;
 min-width: 70px;
 height: 40px;
 padding: 0 20px;
 font-size: 1.6rem;
 line-height: 4rem;
 border-radius: 5px;
 white-space: nowrap;
 background: transparent;
 color: #fff;
 transition: background-color 0.5s ease-in-out, color 0.15s ease-in-out;
 vertical-align: middle;
 text-align: center;
}
a.btn {
 min-width: 30px;
}
.btn:hover,
.btn:focus {
 font-weight: 400;
 color: #fff;
 transition: background-color 0.5s ease-in-out, color 0.15s ease-in-out;
 outline-offset: 0;
 text-decoration: none;
}
.btn + .btn {
 margin-left: 6px;
}
.btn.small {
 min-width: 40px;
 height: 30px;
 padding: 0 6px;
 font-size: 1.4rem;
 line-height: 3rem;
 border-radius: 5px;
}
a.btn.small {
 min-width: 28px;
 line-height: 2.8rem;
}
.btn.large {
 min-width: 100px;
 height: 50px;
 padding: 0 30px;
 line-height: 5rem;
 border-radius: 8px;
}
a.btn.large {
 min-width: 40px;
 line-height: 4.8rem;
}
.btn.blue {
 background-color: #0779d1;
}
.btn.blue:hover,
.btn.blue:focus {
 background-color: #0060b1;
}
.btn.line {
 background-color: #fff;
 border: 1px solid #0779d1;
 color: #0060b1;
}
.btn.line:hover,
.btn.line:focus {
 background-color: #dff1ff;
 color: #0060b1;
}
.btn.red {
 background-color: #e62323;
}
.btn.red:hover,
.btn.red:focus {
 background-color: #cd0000;
}
.btn.darkgray {
 background-color: #666;
}
.btn.darkgray:hover,
.btn.darkgray:focus {
 background-color: #444;
}
.btn.gray {
 background-color: #eee;
 color: #111;
}
.btn.gray:hover,
.btn.gray:focus {
 background-color: #d7d7d7;
 color: #111;
}
.btn.disable {
 background-color: #bbb;
 cursor: not-allowed;
}
.btn.disable:hover,
.btn.disable:focus {
 background-color: #d7d7d7;
}
.btn.arrow {
 position: relative;
 height: 30px;
 padding: 0 20px 0 10px;
 border: 1px solid #d7d7d7;
 background-color: #fff;
 border-radius: 15px;
 font-size: 1.4rem;
 line-height: 2.8rem;
 color: #737373;
}
a.btn.arrow {
 height: 28px;
}
.btn.arrow:hover,
.btn.arrow:focus {
 background-color: #f9f9f9;
}
.btn.arrow:before {
 content: "";
 display: block;
 width: 5px;
 height: 5px;
 position: absolute;
 right: 10px;
 top: 50%;
 margin-top: -3px;
 background-color: transparent;
 border-top: 1px solid #737373;
 border-right: 1px solid #737373;
 transform: rotate(45deg);
}
/* Dimmed */
#dimmd {
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 z-index: 2;
 width: 100vw;
 height: 100vh;
 background-color: #000;
 opacity: 0.5;
}

/* Pagination */
.pagination {
 padding-top: 30px;
 text-align: center;
}
.mobile .pagination {
 display: none;
}
.pagination a,
.pagination button {
 display: inline-block;
 position: relative;
 width: 30px;
 height: 30px;
 font-size: 1.8rem;
 line-height: 3rem;
 color: #737373;
 vertical-align: top;
 transition: background-color 0.5s ease-in-out;
}
.pagination a.active,
.pagination a:hover,
.pagination a:focus {
 text-decoration: underline;
 color: #0060b1;
 transition: background-color 0.3s ease-in-out;
}
.pagination button:hover,
.pagination button:focus {
 transition: background-color 0.3s ease-in-out;
}
.pagination button[disabled] {
 cursor: default;
}
.pagination button[disabled]:hover,
.pagination button[disabled]:focus {
 background-color: transparent !important;
}
.pagination .btn-first,
.pagination .btn-prev,
.pagination .btn-next,
.pagination .btn-last {
 border-radius: 15px;
 text-indent: -9999em;
 font-size: 0;
 background-color: transparent;
}
.pagination .btn-first:before,
.pagination .btn-prev:before,
.pagination .btn-next:before,
.pagination .btn-last:before {
 content: "";
 display: block;
 width: 30px;
 height: 30px;
 background: url(/images/bg_iconset.png) no-repeat 0 0;
}
.pagination .btn-first:before {
 background-position: 0 -0;
}
.pagination .btn-first[disabled]:before {
 background-position: 0 -87px;
}
.pagination .btn-prev:before {
 background-position: -31px 0;
}
.pagination .btn-prev[disabled]:before {
 background-position: -31px -87px;
}
.pagination .btn-next:before {
 background-position: -62px 0;
}
.pagination .btn-next[disabled]:before {
 background-position: -62px -87px;
}
.pagination .btn-last:before {
 background-position: -93px 0;
}
.pagination .btn-last[disabled]:before {
 background-position: -93px -87px;
}
.pagination .btn-first:hover,
.pagination .btn-prev:hover,
.pagination .btn-next:hover,
.pagination .btn-last:hover {
 background-color: #eee;
}

.m-paging {
 margin-top: 20px !important;
 text-align: center;
}
.pc .m-paging {
 display: none;
}
.m-paging .btn.more {
 width: 100px;
 padding: 0 36px 0 18px;
 background: url(/images/ico_arrow_blue.png) no-repeat calc(100% - 20px) 50%;
 background-size: 12px 7px;
}

/* Tabs */
.tab {
 margin: 30px 0;
}
.tab .tab-nav {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: center;
 max-width: 1000px;
}
.tab .tab-nav > li {
 flex-grow: 1;
 flex-shrink: 0;
 flex-basis: auto;
}
.tab .tab-nav.col-3type li {
 width: 33.333333%;
}
.tab .tab-nav > li > a {
 display: block;
 height: 50px;
 background-color: #f4f5f5;
 border: 1px solid #d7d7d7;
 font-size: 1.6rem;
 line-height: 5rem;
 color: #444;
 text-align: center;
 transition: color 0.5s ease-in-out;
}
.tab .tab-nav > li.active > a,
.tab .tab-nav > li > a:hover,
.tab .tab-nav > li > a:focus {
 background-color: #fff;
 border-color: #333;
 font-weight: 700;
 color: #111;
 transition: color 0.5s ease-in-out;
}
.tab .tab-cont > div > strong {
 display: block;
}
.tab.subtype .tab-nav {
 position: relative;
}
.tab.subtype .tab-nav > li > ul {
 position: absolute;
 top: 52px;
 right: 0;
 left: 0;
 width: 948px;
 height: 48px;
 padding: 0 25px;
 background-color: #f9f9f9;
 border-color: #d7d7d7;
 border-width: 0 1px 1px 1px;
 border-style: solid;
}
.tab.subtype .tab-nav > li > ul > li {
 display: inline-block;
 margin: 0 25px;
}
.tab.subtype .tab-nav > li > ul > li > a {
 display: block;
 font-size: 1.6rem;
 line-height: 4.8rem;
}
.tab.subtype .tab-nav > li > ul > li.active > a {
 color: #0060b1;
 text-decoration: underline;
}
.tab.subtype .tab-cont {
 margin-top: 60px;
}

/* Input : Radio & Checkbox */
.checkbox,
.radiobox {
 display: inline-block;
 position: relative;
 margin-right: 0;
 line-height: 2.4rem;
}
.checkbox + .checkbox,
.radiobox + .radiobox {
 margin-left: 30px;
}
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0 1000px white inset;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 margin: 0;
}
input[type="checkbox"],
input[type="radio"] {
 position: absolute;
 left: 0;
 top: 2px;
 width: 24px;
 height: 24px;
 clip: rect(1px, 1px, 1px, 1px);
 clip-path: inset(50%);
}
input[type="checkbox"]:checked,
input[type="checkbox"]:focus,
input[type="radio"]:checked,
input[type="radio"]:focus {
 outline: none !important;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
 position: relative;
 font-size: 1.6rem;
 line-height: 2.4rem;
 color: #111;
 cursor: pointer;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
 outline: auto;
}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
 cursor: default;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
 content: "";
 display: inline-block;
 width: 24px;
 height: 24px;
 margin-right: 10px;
 font-size: 1.6rem;
 line-height: 2.4rem;
 color: #222;
 vertical-align: top;
}
input[type="checkbox"] + label:before {
 background: url(/images/bg_iconset.png) no-repeat -148px 0;
}
input[type="checkbox"]:checked + label:before {
 background: url(/images/bg_iconset.png) no-repeat -124px 0;
}
input[type="checkbox"]:disabled + label:before {
 background: url(/images/bg_iconset.png) no-repeat -172px 0;
}
input[type="radio"] + label:before {
 background: url(/images/bg_iconset.png) no-repeat -148px -24px;
}
input[type="radio"]:checked + label:before {
 background: url(/images/bg_iconset.png) no-repeat -124px -24px;
}
input[type="radio"]:disabled + label:before {
 background: url(/images/bg_iconset.png) no-repeat -172px -24px;
}

/* Input : Text & etc */
input[type="text"],
input[type="password"],
input[type="number"] {
 display: inline-block;
 width: auto;
 height: 38px;
 padding: 0 15px;
 border: 1px solid #bbb;
 border-radius: 4px;
 line-height: 3.8rem;
 color: #111;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}
input::-ms-clear {
 display: none;
}
input[type="number"] {
 min-width: 88px;
 -moz-appearance: textfield;
}
input[type="text"]::placeholder {
 color: #737373;
}
input[type="text"]:disabled,
input[type="text"]:read-only {
 background-color: #f9f9f9;
}
input[type="text"].xxsmall,
input[type="password"].xxsmall,
input[type="number"].xxsmall {
 width: calc(50px - 32px);
 min-width: auto;
}
input[type="text"].xsmall,
input[type="password"].xsmall,
input[type="number"].xsmall {
 width: calc(120px - 32px);
 min-width: auto;
}
input[type="text"].small,
input[type="password"].small,
input[type="number"].small {
 width: calc(200px - 32px);
 min-width: auto;
}
input[type="text"].mediun,
input[type="password"].mediun,
input[type="number"].mediun {
 width: calc(400px - 32px);
 min-width: auto;
}
input[type="text"].full,
input[type="password"].full,
input[type="number"].full {
 width: calc(100% - 22px);
 min-width: auto;
}
input[type="text"].xhalf,
input[type="password"].xhalf,
input[type="number"].xhalf {
 width: calc(50% - 116px);
 min-width: auto;
}
input[type="text"].half,
input[type="password"].half,
input[type="number"].half {
 width: calc(50% - 32px);
 min-width: auto;
}

.frm-file {
 position: relative;
}
input[type="file"] {
 position: absolute;
 left: 0;
 top: 0;
 width: 78px;
 height: 40px;
 line-height: 4rem;
 opacity: 0;
}
input[type="file"] + label {
 display: inline-block;
 height: 40px;
 margin-right: 5px;
 padding: 0 10px;
 background-color: #666666;
 border-radius: 4px;
 line-height: 4rem;
 color: #fff;
 cursor: pointer;
}
input[type="file"]:focus + label {
 outline: auto !important;
}
.frm-file .btn-file-del {
 flex-grow: 0;
 display: inline-block;
 position: relative;
 margin-right: 5px;
 padding: 10px;
 border: 1px solid #bbb;
 border-radius: 5px;
 background-color: #fff;
 line-height: 2rem;
 cursor: pointer;
}
.filefrm .frm-file .btn-file-del {
 margin-top: 10px;
}
.frm-file .btn-file-del > span {
 display: inline-block;
 vertical-align: top;
}
.frm-file .btn-file-del > button {
 content: "";
 display: inline-block;
 width: 20px;
 height: 20px;
 margin-left: 10px;
 background: url(/images/bg_iconset.png) no-repeat -148px -51px;
 text-indent: -9999em;
 vertical-align: middle;
}

.lbl {
 position: relative;
 display: inline-block;
 font-size: 1.6rem;
 line-height: 4rem;
 color: #111;
 vertical-align: top;
}
.tbl-h th .lbl {
 margin-left: 10px;
 font-weight: 500;
 color: #444;
}
.tbl-h tbody th .lbl {
 margin-left: 0;
}
.lbl em {
 display: inline-block;
 position: relative;
 width: 10px;
 height: 40px;
 font-size: 0;
}
.lbl em:before {
 content: "*";
 display: inline-block;
 position: absolute;
 left: 0;
 top: -2px;
 color: #cd0000;
 font-size: 1.6rem;
}

.unit {
 display: inline-block;
 height: 40px;
 padding: 0 5px;
 line-height: 4rem;
 text-align: center;
}
.unit.pd0 {
 padding: 0;
}

.info-txt {
 display: block;
 position: relative;
 margin-top: 10px;
 padding-left: 30px;
 line-height: 2.2rem;
 color: #cd0000;
}
span.info-txt {
 display: inline-block;
 margin: 0 0 0 5px;
}
.info-txt:before {
 content: "※";
 display: inline-block;
 position: absolute;
 left: 0;
 top: 2px;
 width: 20px;
 height: 20px;
 background: url(/images/bg_iconset.png) no-repeat -197px 0;
 text-indent: -9999em;
}

/* Form List */
fieldset legend {
 position: absolute;
 z-index: -1;
 width: 0;
 height: 0;
 visibility: hidden;
 text-indent: -9999em;
}
.tbl-frm {
 table-layout: fixed;
 width: 100%;
 border-collapse: collapse;
 word-break: break-all;
}
.tbl-frm th,
.tbl-frm td {
 padding: 12px 10px;
}
.tbl-frm > thead > tr > th {
 font-weight: 500;
 vertical-align: top;
 text-align: left;
}
.flexbox {
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 align-items: flex-start;
 position: relative;
}
.flexbox input,
.flexbox select {
 flex: 1;
 min-width: 0 !important;
}
.flexbox select {
 min-width: 96px;
}
.flexbox .txt {
 display: inline-block;
 min-height: 40px;
 margin: 0 10px;
 line-height: 4rem;
}
.flexbox .txt.mg0 {
 margin: 0;
}
.flexbox button,
.flexbox button + select,
.flexbox select + input,
.flexbox input + input,
.flexbox input + a,
.flexbox a + select {
 margin-left: 5px;
}
.flexbox.email select,
.flexbox.frm-file input[type="text"] {
 margin-right: 5px;
}
.flexbox.address {
 margin-top: 5px;
}
.flexbox.address:first-child {
 margin-top: 5px;
}
.flexbox.address:first-child input {
 flex-grow: 0;
 flex-shrink: 1;
 flex-basis: auto;
 width: calc(50% - 130px);
}
.flexbox.address input + input {
 margin-left: 5px;
}
.flexbox .datepicker {
 background-position: calc(100% - 10px) 8px;
}
.flexbox .lbl {
 font-weight: 500;
}
.popup-box .flexbox .lbl {
 width: 100%;
 margin-top: 15px;
 text-align: left;
}
.popup-box fieldset legend + .flexbox .lbl {
 margin-top: 0;
}
.readonly-txt {
 text-align: left;
}

/* Select & Textarea */
select {
 min-width: 200px;
 height: 40px;
 padding: 0 10px;
 border: 1px solid #bbb;
 border-radius: 4px;
 background-color: #fff;
/* background-image: url(/images/ico_select_arrow.png);*/
 background-repeat: no-repeat;
 background-position: calc(100% - 10px) 15px;
 line-height: 4rem;
 vertical-align: middle;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}
select::-ms-expand {
 display: none;
}
select.xxsmall {
 min-width: 60px;
}
select.xsmall {
 min-width: 90px;
}
select.small {
 min-width: 120px;
}
.searchfrm {
 position: relative;
 margin: 0 auto 30px;
 text-align: center;
}
.searchfrm .search-input {
 position: relative;
 display: inline-block;
}
.searchfrm .search-input input[type="text"] {
 min-width: auto;
 width: 400px;
}
.searchfrm .search-select,
.searchfrm .search-input input[type="text"] {
 height: 50px;
 padding: 0 30px;
 border: 1px solid #333;
 border-radius: 25px;
}
.searchfrm .search-select {
 position: relative;
 min-width: auto;
 width: 150px;
 background: #fff url(/images/ico_searchselect_arrow.png) no-repeat 115px 20px;
}
.searchfrm .search-input .btn.search {
 position: absolute;
 right: 0;
 top: 1px;
 min-width: 50px;
 height: 50px;
 padding: 0;
 border: none;
 font-size: 0;
 color: #333;
}
.searchfrm .search-input .btn.search:before {
 content: "";
 display: block;
 position: absolute;
 top: 13px;
 right: 25px;
 width: 24px;
 height: 24px;
 background: url(/images/bg_iconset.png) no-repeat -236px 0;
}
.searchfrm .search-input + .btn {
 position: absolute;
 right: 0;
}
.textarea {
 width: calc(100% - 22px);
 padding: 10px;
 border: 1px solid #bbb;
 border-radius: 4px;
 background-color: #fff;
}
.textarea textarea {
 width: 100%;
}

/* Datepicker */
input.datepicker {
 min-width: 120px;
 background-color: #fff;
 background-image: url(/images/ico_datepicker.png);
 background-repeat: no-repeat;
 background-position: calc(100% - 10px) 8px;
 letter-spacing: -0.5px;
}
#ui-datepicker-div[tabindex="0"] {
 outline: auto !important;
}
.ui-widget.ui-widget-content {
 z-index: 5 !important;
 padding: 30px 20px;
 border: 1px solid #e7e7e7;
 border-radius: 10px;
 box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
 font-family: "Noto Sans KR", sans-serif;
 color: #111;
}
.ui-datepicker .ui-datepicker-header {
 padding: 0;
 border-radius: 10px;
}
.ui-widget-header {
 background: transparent;
 border: none;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
 width: 7px;
 height: 12px;
 top: 0;
 border: none;
 cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
 left: 0;
}
.ui-datepicker .ui-datepicker-next {
 right: 0;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
 background-color: transparent;
}
.ui-datepicker .ui-datepicker-prev-hover {
 left: 0;
}
.ui-datepicker .ui-datepicker-next-hover {
 right: 0;
}
.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
 position: static;
 width: 7px;
 height: 12px;
 margin: 0;
 background-size: 220% auto;
 background-repeat: no-repeat;
}
.ui-datepicker .ui-datepicker-prev .ui-icon {
 margin-left: 240px;
 background-image: url('../img/main/main_visual_arrow.png');
 background-position:0 0;
}
.ui-datepicker .ui-datepicker-next .ui-icon {
 background-image: url('../img/main/main_visual_arrow.png');
 background-position:100% 0;
}
.ui-datepicker .ui-datepicker-prev .ui-icon:hover,
.ui-datepicker .ui-datepicker-next .ui-icon:hover {
    background-position-y: bottom;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
 width: 38%;
 font-weight: 600;
}
.ui-datepicker .ui-datepicker-title select {
 min-width: auto;
 margin: 0;
 border: none;
}
.ui-datepicker table {
 margin-top: 10px;
}
.ui-datepicker th {
 color: #737373;
 font-weight: 400;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
 padding: 0;
 border: none;
 background: none;
 border-radius: 20px;
 font-weight: 600;
 line-height: 3.6rem;
 text-align: center;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
 background-color: #0779d1;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
 background-color: transparent;
 border: 1px solid #0779d1;
 line-height: 3.4rem;
 color: #0779d1;
}
.ui-datepicker table > tbody > tr > td:first-child.ui-datepicker-week-end .ui-state-default {
 color: #cd0000;
}
.ui-datepicker table > tbody > tr > td:last-child.ui-datepicker-week-end .ui-state-default {
 color: #0779d1;
}
.ui-datepicker table > tbody > tr > td:first-child.ui-datepicker-week-end .ui-state-default.ui-state-active,
.ui-datepicker table > tbody > tr > td:last-child.ui-datepicker-week-end .ui-state-default.ui-state-active {
/* color: #fff; */
}

/* Table */
.tbl-v,
.tbl-h,
.tbl-vh {
 table-layout: fixed;
 width: 100%;
 margin-top: 30px;
 border-collapse: collapse;
 border-top: 1px solid #333;
 border-right: 1px solid #d7d7d7;
 word-break: break-all;
}
.tbl-v th,
.tbl-h th,
.tbl-vh th {
 background-color: #f9f9f9 !important;
}
.tbl-vh th.bg-w {
 background-color: #fff !important;
}
.tbl-v th,
.tbl-v td,
.tbl-h th,
.tbl-h td,
.tbl-vh th,
.tbl-vh td {
 height: 42px;
 padding: 9px 10px;
 background-color: #fff;
 border-left: 1px solid #d7d7d7;
 border-bottom: 1px solid #d7d7d7;
 font-size: 1.6rem;
 font-weight: 500;
 color: #444;
}
.tbl-h.small th {
 height: 22px;
}
.tbl-v th,
.tbl-v td,
.tbl-vh thead th {
 text-align: center;
}
h3 + fieldset .tbl-h,
h3 + .tbl-h {
 margin-top: 0;
}

.tbl-h th,
.tbl-h td,
.tbl-vh tbody th,
.tbl-vh tbody td {
 min-height: 36px;
}
.tbl-v td input[type="text"].full,
.tbl-v td input[type="password"].full,
.tbl-v td input[type="number"].full,
.tbl-h td input[type="text"].full,
.tbl-h td input[type="password"].full,
.tbl-h td input[type="number"].full,
.tbl-vh tbody td input[type="text"].full,
.tbl-vh tbody td input[type="password"].full,
.tbl-vh tbody td input[type="number"].full {
 width: calc(100% - 32px);
}
.tbl-v tfoot.total td {
 background-color: #dff1ff;
}

/* Box list */
.boxlist {
}
.boxlist.col-2 {
 width: 100%;
}
.boxlist ul {
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 align-items: stretch;
 width: calc(100% + 18px);
 margin: -18px 0 0 -18px;
}
.boxlist ul li {
 flex-grow: 0;
 flex-shrink: 0;
 flex-basis: auto;
 position: relative;
 width: calc(33.33333% - 19px);
 max-width: calc(33.33333% - 19px);
 margin: 20px 0 0 17px;
 background-color: #fff;
 border: 1px solid #d7d7d7;
 border-radius: 15px;
}
.boxlist.col-2 ul li {
 width: calc(50% - 19px);
 max-width: calc(50% - 19px);
}
.boxlist ul li:after {
 content: "";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.boxlist ul li .sort-info {
 overflow: hidden;
 margin: 15px 30px 10px;
}
.boxlist ul li .sort-info .sequence {
 display: inline-block;
 width: 35px;
 max-height: 25px;
 border-radius: 13px;
 background-color: #0779d1;
 font-size: 1.4rem;
 line-height: 2.5rem;
 color: #fff;
 text-align: center;
 vertical-align: top;
}
.boxlist ul li .sort-info .sequence + .radiobox {
 margin-top: -3px;
}
.boxlist ul li .tit {
 display: block;
 max-width: calc(100% - 62px);
 height: 50px;
 margin: 0 30px 17px;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 font-size: 1.8rem;
 line-height: 2.4rem;
 color: #111;
}
.boxlist ul li .txt {
 max-width: 255px;
 max-height: 50px;
 margin: 0 30px 17px;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 font-size: 1.6rem;
 line-height: 2.4rem;
 color: #737373;
}
.boxlist ul li .data-info {
 padding: 11px 30px;
 background-color: #f9f9f9;
 border-radius: 0 0 15px 15px;
}
.boxlist ul li .data-info dl {
 margin-top: 5px;
}
.boxlist ul li .data-info dl:first-child {
 margin-top: 0;
}
.boxlist ul li .data-info dl dt,
.boxlist ul li .data-info dl dd {
 display: inline-block;
 font-size: 1.4rem;
 line-height: 1.8rem;
 color: #737373;
}
.boxlist ul li .data-info dl dt {
 min-width: 55px;
}
.boxlist ul li .data-info dl dd {
 font-weight: 500;
 color: #111;
}
.boxlist ul li .btn-more {
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 color: transparent;
 text-align: center;
 vertical-align: middle;
 border-radius: 15px;
 transition: background-color 0.5s ease-out;
}
.boxlist ul li .btn-more:hover,
.boxlist ul li .btn-more:focus {
 background-color: rgba(7, 121, 209, 0.95);
 transition: background-color 0.5s ease;
 color: #fff;
}
.boxlist ul li .btn-more span {
 display: block;
 position: absolute;
 left: calc(50% - 30px);
 top: calc(50% - 12px);
}
.boxlist ul li .btn-more:hover span,
.boxlist ul li .btn-more:focus span {
 text-decoration: underline;
}
.boxlist ul li .btn-del {
 display: block;
 position: absolute;
 right: -20px;
 top: -10px;
 width: 41px;
 height: 41px;
 background: url(/images/btn_del.png) no-repeat 0 0;
 color: transparent;
}

.boxlist.type2 > h3 {
 margin-top: 30px;
}
.boxlist.type2 ul li {
 width: calc(50% - 19px);
 max-width: calc(50% - 19px);
}
.boxlist.type2 .sort-info .checkbox {
 margin-left: 5px;
}
.boxlist.type2 .data-info {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: flex-start;
}
.boxlist.type2 .data-info dl {
 flex-grow: 1;
 flex-shrink: 0;
 flex-basis: auto;
 margin-top: 0;
}
.boxlist.type2 .data-info dl dt {
 width: auto;
}
.boxlist.type2 .data-info dl dt,
.boxlist.type2 .data-info dl dd {
 display: block;
 text-align: center;
}
.boxlist.type2 .data-info.dot-type {
 padding: 11px 0;
 background: none;
}
.boxlist.type2 .data-info.dot-type dl {
 position: relative;
 height: 52px;
 padding: 30px 0;
 background-color: #f9f9f9;
}
.boxlist.type2 .data-info.dot-type dl:before {
 content: "";
 display: inline-block;
 position: absolute;
 left: 0;
 top: 30px;
 width: 1px;
 height: 52px;
 border-left: 1px dashed #d7d7d7;
}
.boxlist.type2 .data-info.dot-type dl:first-child:before {
 content: none;
}
.boxlist.type2 .data-info.dot-type dl dt {
}
.boxlist.type2 .data-info.dot-type dl dd {
 margin-top: 15px;
 font-size: 2.4rem;
}
.boxlist.type2 .data-info.dot-type dl dd span {
 font-size: 1.6rem;
}
.boxlist.type2 .data-info.dot-type .progress {
 width: 100%;
 height: auto;
 padding: 20px 0 10px;
 background: none;
 margin-left: calc(50% - 165px);
}
.boxlist.type2 .data-info.dot-type .progress:before {
 content: none;
}
.boxlist.type2 .data-info.dot-type .progress dt,
.boxlist.type2 .data-info.dot-type .progress dd {
 display: inline-block;
 vertical-align: middle;
}
.boxlist.type2 .data-info.dot-type .progress dt {
 line-height: 2rem;
}
.boxlist.type2 .data-info.dot-type .progress dd {
 min-width: 263px;
 margin: 0 0 0 10px;
}
.boxlist.type2 .data-info.dot-type .progress dd .progress-bar {
 position: relative;
 display: inline-block;
 width: 100%;
 height: 20px;
 background-color: #e8e8e8;
 border-radius: 10px;
}
.boxlist.type2 .data-info.dot-type .progress dd .state-graph {
 display: block;
 height: 20px;
 background-color: #0779d1;
 border-radius: 10px;
 text-indent: -9999px;
}
.boxlist.type2 .data-info.dot-type .progress dd .state-txt {
 display: inline-block;
 position: absolute;
 right: -65px;
 top: 0;
 font-size: 2.4rem;
 color: #0060b1;
}
.boxlist.type2 .data-info.dot-type .progress dd .state-txt em {
 font-size: 1.6rem;
 color: #111;
}
.boxlist.type2 .data-info.dot-type.small {
 padding-bottom: 0;
}
.boxlist.type2 .data-info.dot-type.small dl {
 flex-basis: calc(33.33333% - 40px);
 min-height: 70px;
 padding: 30px 20px;
}
.boxlist.type2 .data-info.dot-type.small dl:before {
 height: 70px;
}
.boxlist.type2 .data-info.dot-type.small dl:first-child {
 border-radius: 0 0 0 15px;
}
.boxlist.type2 .data-info.dot-type.small dl:last-child {
 border-radius: 0 0 15px 0;
}
.boxlist.type2 .data-info.dot-type.small dl:last-child dd {
 font-size: 2.4rem;
}
.boxlist.type2 .data-info.dot-type.small dl dd {
 font-size: 1.6rem;
}
.boxlist.type2 .data-info.ico-type {
 padding: 20px 0;
}
.boxlist.type2 .data-info.ico-type dl {
 position: relative;
}
.boxlist.type2 .data-info.ico-type dl:before {
 content: "";
 display: block;
 position: absolute;
 left: 50%;
 bottom: 24px;
 background: url("/images/bg_iconset.png") no-repeat;
}
.boxlist.type2 .data-info.ico-type dl.ico-01.compulsory:before {
 width: 47px;
 height: 43px;
 margin-left: -23.5px;
 background-position: 0 -317px;
}
.boxlist.type2 .data-info.ico-type dl.ico-01.select:before {
 width: 48px;
 height: 39px;
 margin-left: -24px;
 background-position: -48px -321px;
}
.boxlist.type2 .data-info.ico-type dl.ico-02:before {
 width: 47px;
 height: 47px;
 margin-left: -23.5px;
 background-position: -97px -313px;
}
.boxlist.type2 .data-info.ico-type dl.ico-03:before {
 width: 53px;
 height: 45px;
 margin-left: -26.5px;
 background-position: -146px -315px;
}
.boxlist.type2 .data-info.ico-type dl.ico-04:before {
 width: 38px;
 height: 43px;
 margin-left: -19px;
 background-position: -200px -317px;
}
.boxlist.type2 .data-info.ico-type dl dt {
}
.boxlist.type2 .data-info.ico-type dl dd {
 width: 70px;
 height: 24px;
 margin: 60px auto 0;
 border-radius: 12px;
 background-color: #444;
 font-size: 1.6rem;
 line-height: 2.4rem;
 color: #fff;
}
.boxlist.type2 .data-info.ico-type dl.ico-01.compulsory dd {
 background-color: #0779d1;
}
.boxlist.type2 .data-info.ico-type dl.ico-01.select dd {
 background-color: #cd0000;
}

.boxlist ul li.col-2 {
 width: calc(50% - 19px);
 max-width: calc(50% - 19px);
}

.boxlist.normal > h3 {
 margin-top: 50px;
 padding-bottom: 15px;
}
.boxlist.normal .tit-wrap {
 margin-top: 50px;
 overflow: hidden;
}
.boxlist.normal .tit-wrap .checkbox.fl-l {
 margin: -2px 0 0 10px;
}
.boxlist.normal ul {
 display: block;
}
.boxlist.normal ul li {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: flex-start;
 width: calc(100% - 78px);
 max-width: calc(100% - 78px);
 padding: 17px 30px;
}
.boxlist.normal ul li > a {
 display: block;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 word-break: break-all;
}
.boxlist.normal ul li .sort-info {
 flex-grow: 1;
 flex-shrink: 1;
 flex-basis: auto;
 margin: 0;
}
.boxlist.normal ul li .sort-info .checkbox {
 margin-left: 5px;
 width: calc(100% - 44px);
}
.boxlist.normal ul li .sort-info .checkbox label {
 display: inline-block;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.boxlist.normal ul li .tit {
 flex-grow: 1;
 flex-shrink: 1;
 flex-basis: auto;
 display: inline-block;
 max-width: calc(100% - 191px);
 height: auto;
 margin: 0 10px;
 white-space: nowrap;
}
.boxlist.normal ul li .data-info {
 margin-left: 20px;
 padding: 0;
 background: transparent;
}

.boxlist .btn-wrap {
 margin-top: 50px;
 padding-bottom: 10px;
}
.boxlist .btn-wrap h3 {
 margin: 6px 0 0 0;
}
.boxlist .btn-wrap .checkbox {
 margin: 8px 0 0 10px;
}
/* List nodata */
.no-data {
 position: relative;
 min-height: 300px;
 background-color: #f4f5f5;
 border-radius: 20px;
}
.no-data .result-txt {
 position: absolute;
 top: 50%;
 width: 100%;
 margin-top: -33px;
 padding-top: 45px;
 text-align: center;
}
.no-data .result-txt:before {
 content: "";
 display: block;
 position: absolute;
 left: 50%;
 top: 0;
 width: 22px;
 height: 24px;
 background: url(/images/bg_iconset.png) no-repeat -198px -22px;
}

/* Normal/Num List */
.list-normal > li,
.bl-dot {
 position: relative;
 padding-left: 12px;
 line-height: 2.4rem;
}
.list-normal > li:before,
.bl-dot:before {
 content: "";
 display: inline-block;
 position: absolute;
 left: 0;
 top: 10px;
 width: 3px;
 height: 3px;
 background-color: #bebebe;
}
.list-num {
 margin-bottom: 20px;
}
.list-num > li {
 text-indent: 20px;
 color: #737373;
}

/* Accodion List */
.acco-wrap {
 width: 100%;
 border-top: 1px solid #333;
 border-bottom: 1px solid #d7d7d7;
}
.acco-wrap > ul > li {
 border-top: 1px solid #d7d7d7;
 background-color: #fff;
}
.acco-wrap > ul > li:first-child {
 border-top: none;
}
.acco-wrap .tit-area {
 display: block;
 position: relative;
 padding: 16px 20px;
}
.acco-wrap .tit-area:hover,
.acco-wrap .tit-area:focus {
 text-decoration: none;
}
.acco-wrap .tit-area:before {
 content: "";
 display: block;
 position: absolute;
 top: 50%;
 right: 20px;
 width: 22px;
 height: 12px;
 margin-top: -6px;
 background: url(/images/bg_iconset.png) no-repeat -22px -219px;
}
.acco-wrap .tit-area.active:before {
 background-position: 0 -219px;
}
.acco-wrap .tit-area .tit {
 display: block;
 max-width: 930px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 font-weight: 500;
 line-height: 2.4rem;
 color: #111;
}
.acco-wrap .tit-area:hover .tit,
.acco-wrap .tit-area:focus .tit {
 color: #111;
}
.acco-wrap .tit-area:focus .info dd {
 color: #111;
}
.acco-wrap .tit-area .info dt,
.acco-wrap .tit-area .info dd {
 display: inline-block;
 font-size: 1.4rem;
 color: #111;
}
.acco-wrap .tit-area .info dt {
 color: #737373;
}
.acco-wrap .cont-area {
 display: none;
 padding: 25px;
 background-color: #f9f9f9;
 border-top: 1px solid #d7d7d7;
}
.tab-cont .acco-wrap.faq {
 margin-top: 30px;
}
.acco-wrap.faq .tit-area {
 padding: 10px 20px;
}
.acco-wrap.faq .tit-area .tit {
 position: relative;
 max-width: 880px;
 height: 38px;
 padding: 0 20px 0 58px;
 line-height: 3.8rem;
 color: #444;
}
.acco-wrap.faq .tit-area .tit:before {
 content: "Q";
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 38px;
 height: 38px;
 background-color: #bbb;
 border-radius: 19px;
 font-size: 1.6rem;
 line-height: 3.8rem;
 color: #fff;
 text-align: center;
}
.acco-wrap.faq .tit-area.active .tit:before {
 background-color: #349ff2;
}
.acco-wrap.faq .cont-area {
 position: relative;
 min-height: 29px;
 padding-left: 113px;
}
.acco-wrap.faq .cont-area:before {
 content: "A";
 display: block;
 position: absolute;
 left: 55px;
 top: 20px;
 width: 38px;
 height: 38px;
 background-color: #0779d1;
 border-radius: 19px;
 font-size: 1.6rem;
 line-height: 3.8rem;
 color: #fff;
 text-align: center;
}
.acco-wrap.faq .cont-area:after {
 content: "";
 display: block;
 position: absolute;
 left: 40px;
 top: 35px;
 width: 7px;
 height: 7px;
 background: url(/images/bg_iconset.png) no-repeat 0 -259px;
}


/* Classify */
.classify {
 display: inline-block;
 min-width: 9px;
 height: 25px;
 padding: 0 8px;
 border-radius: 13px;
 font-size: 1.4rem;
 line-height: 2.5rem;
}
.classify.red {
 border: 1px solid #e62323;
 color: #cd0000;
}
.classify.purple {
 border: 1px solid #5454cf;
 color: #3434a7;
}
.classify.green {
 border: 1px solid #088911;
 color: #05670c;
}
.classify.blue {
 border: 1px solid #0779d1;
 color: #0060b1;
}

.classify.fill {
 color: #fff;
}
.classify.fill.red {
 background-color: #e62323;
}
.classify.fill.purple {
 background-color: #5454cf;
}
.classify.fill.green {
 background-color: #088911;
}
.classify.fill.blue {
 background-color: #0779d1;
}
.classify.fill.darkgray {
 background-color: #444;
}
.classify.fill.yellow {
 background-color: #ffd800;
 font-weight: 500;
 color: #111;
}


/* Popup */
.popup-box.lay {
 display: none;
 position: fixed;
 left: 50%;
 top: 50%;
 z-index: 3;
 padding: 30px;
 min-width: 320px;
 background-color: #fff;
 border-radius: 15px;
}
.popup-box.win {
 padding: 30px;
 background-color: #fff;
}
.popup-box .pop-head {
 position: relative;
 height: 40px;
 border-bottom: 1px solid #333;
}
.popup-box .pop-head .tit {
 display: block;
 font-size: 2.2rem;
 line-height: 2.6rem;
}
.popup-box .pop-head .pop-close {
 display: block;
 position: absolute;
 right: 0;
 top: 0;
 width: 16px;
 height: 16px;
 background: url(/images/bg_iconset.png) no-repeat -124px -50px;
 text-indent: -9999em;
 cursor: pointer;
}
.popup-box .pop-cont {
 margin-top: 30px;
}
.popup-box .pop-foot {
 margin-top: 30px;
 text-align: center;
}

/* Scroll box */
.scrollbox {
 padding: 20px 10px 20px;
 border: 1px solid #d7d7d7;
 border-radius: 15px;
 background-color: #fff;
}
.scrollbox.noline {
 padding: 0;
 border: none;
}

/* Mobile Device */
@media screen and (max-width: 415px) {
 .boxlist.type2 .data-info.dot-type .progress dd {
  max-width: 190px;
  width: auto;
 }
}
/* Mobile Device */
@media screen and (max-width: 639px) {
 /* Input */
 .flexbox.address:first-child input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
 }
 input[type="text"].xhalf,
 input[type="password"].xhalf,
 input[type="number"].xhalf,
 input[type="text"].half,
 input[type="password"].half,
 input[type="number"].half {
  width: calc(100% - 22px);
  min-width: auto;
 }

 /* Table */
 .tbl-v,
 .tbl-h,
 .tbl-vh {
  table-layout: auto;
 }
 .tbl-v th,
 .tbl-v td,
 .tbl-h th,
 .tbl-h td,
 .tbl-vh th,
 .tbl-vh td {
  display: block;
  width: calc(100% - 20px);
  padding: 11px 10px;
 }
 .tbl-v th,
 .tbl-h th {
  line-height: 3.6rem;
 }

 /* Boxlist */
 .boxlist ul li,
 .boxlist.type2 ul li,
 .boxlist ul li.col-2 {
  width: calc(100% - 19px) !important;
  max-width: calc(100% - 19px) !important;
 }
}
@media screen and (max-width: 767px) {
 body,
 button,
 input,
 select,
 table,
 textarea {
  font-size: 1.4rem;
  line-height: 2rem;
 }
 h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
 }
 h3 {
  font-size: 2rem;
  line-height: 2.8rem;
 }
 h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
 }
 h5 {
  font-size: 1.4rem;
  line-height: 2rem;
 }
 h6 {
  font-size: 1.3rem;
  line-height: 1.8rem;
 }
 /* Button Group */
 .btn-grp {
  padding: 20px 0 0;
 }

 /* BUtton */
 a.btn,
 button.btn {
  min-width: 60px;
  height: 36px;
  padding: 0 18px;
  font-size: 1.4rem;
  line-height: 3.6rem;
  border-radius: 4px;
 }
 a.btn {
  min-width: 24px;
 }
 .btn.small {
  min-width: 36px;
  height: 26px;
  font-size: 1.3rem;
  line-height: 2.6rem;
 }
 a.btn.small {
  min-width: 24px;
  line-height: 2.6rem;
 }
 .btn.large {
  min-width: 80px;
  height: 44px;
  padding: 0 28px;
  font-size: 1.4rem;
  line-height: 4.4rem;
  border-radius: 7px;
 }
 a.btn.large {
  min-width: 24px;
  line-height: 4.4rem;
 }

 /* Form */
 input[type="text"],
 input[type="password"],
 input[type="number"] {
  height: 34px;
  padding: 0 10px;
  line-height: 3.6rem;
 }
 .tbl-v td input[type="text"].full,
 .tbl-v td input[type="password"].full,
 .tbl-v td input[type="number"].full,
 .tbl-h td input[type="text"].full,
 .tbl-h td input[type="password"].full,
 .tbl-h td input[type="number"].full,
 .tbl-vh tbody td input[type="text"].full,
 .tbl-vh tbody td input[type="password"].full,
 .tbl-vh tbody td input[type="number"].full {
  width: calc(100% - 22px);
 }
 input[type="checkbox"] + label,
 input[type="radio"] + label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
 }
 input[type="checkbox"] + label:before,
 input[type="radio"] + label:before {
  width: 25px;
  height: 27px;
 }
 input[type="checkbox"] + label:before,
 input[type="radio"] + label:before {
  background: url(/images/ico_mobile_iconset.png) no-repeat -118px -40px;
  background-size: 360px auto !important;
 }
 input[type="checkbox"]:checked + label:before,
 input[type="radio"]:checked + label:before {
  background: url(/images/ico_mobile_iconset.png) no-repeat -90px -40px;
  background-size: 360px auto !important;
 }
 input[type="checkbox"]:disabled + label:before,
 input[type="radio"]:disabled + label:before {
  background: url(/images/ico_mobile_iconset.png) no-repeat -149px -40px;
 }
 input[type="radio"]:checked + label:before {
  background-position: -181px -40px;
 }
 input[type="radio"] + label:before {
  background-position: -210px -40px;
 }
 input[type="radio"]:disabled + label:before {
  background-position: -241px -40px;
 }
 input.datepicker {
  background-color: #fff;
  background-image: url(/images/ico_mobile_datepicker.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 5px !important;
  background-size: 26px 23px !important;
 }
 input[type="file"],
 input[type="file"] + label {
  width: 60px;
  height: 36px;
  line-height: 3.6rem;
  text-align: center;
 }
 .frm-file .btn-file-del {
  margin-top: 5px;
  border-radius: 4px;
 }
 .frm-file .btn-file-del > button {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
 }
 select {
  height: 36px;
  line-height: 3.6rem;
 }
 .unit {
  height: 36px;
  line-height: 3.6rem;
 }
 .lbl {
  font-size: 1.4rem;
  line-height: 3.6rem;
 }
 .searchfrm {
  overflow: hidden;
 }
 .searchfrm.mt50 {
  margin-top: 30px !important;
 }
 .searchfrm .search-select {
  background-position: calc(100% - 20px) 18px;
 }
 .searchfrm .search-input {
  width: 100%;
 }
 .search-select + .search-select,
 .search-select + .search-input {
  margin-top: 10px;
 }
 .searchfrm .search-select,
 .searchfrm .search-input input[type="text"] {
  width: 100%;
  height: 42px;
  padding: 0 20px;
  border-radius: 22px;
 }
 .searchfrm .search-input input[type="text"] {
  width: calc(100% - 42px);
 }
 .searchfrm .search-input .btn.search {
  height: 44px;
 }
 .searchfrm .search-input .btn.search:before {
  right: 15px;
  background: url(/images/ico_mobile_iconset.png) no-repeat -56px -44px;
  background-size: 360px auto;
 }
 .searchfrm .search-input + a {
  margin-top: 10px;
 }
 .searchfrm .search-input + .btn {
  position: static;
  margin-top: 10px;
  float: right;
 }

 /* Table */
 .tbl-v,
 .tbl-h,
 .tbl-vh {
  margin-top: 15px;
 }
 .tbl-v th,
 .tbl-v td,
 .tbl-h th,
 .tbl-h td,
 .tbl-vh tbody th,
 .tbl-vh tbody td {
  min-height: 20px;
 }
 .tbl-v th {
  height: auto;
  padding: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
 }
 .tbl-h th,
 .tbl-vh th {
  height: auto;
  padding: 2px 10px;
  font-size: 1.4rem;
 }
 .tbl-vh th {
  padding: 10px;
 }
 .tbl-v td,
 .tbl-h td,
 .tbl-vh td {
  height: auto;
  padding: 10px;
  font-size: 1.4rem;
 }

 /* Table-Form */
 .tbl-frm {
  table-layout: auto;
 }
 _:-ms-lang(x),
 .tbl-frm {
  table-layout: fixed;
 }
 .tbl-frm th .lbl {
  margin-top: 20px;
 }
 .tbl-frm tr:first-child th .lbl {
  margin-top: 0;
 }
 .tbl-frm th,
 .tbl-frm td {
  display: block;
  padding: 0;
 }

 /* Tab */
 .tab {
  margin: 20px 0;
 }
 .tab .tab-nav > li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
 }
 .tab .tab-nav > li > a {
  height: 42px;
  font-size: 1.4rem;
  line-height: 4.2rem;
 }
 .tab-cont .acco-wrap.faq {
  margin-top: 20px;
 }

 /* Accodion */
 .acco-wrap .tit-area {
  padding: 12px 10px;
 }
 .acco-wrap .tit-area:before {
  right: 10px;
 }
 .acco-wrap.faq .tit-area .tit {
  height: 26px;
  padding: 0 30px 0 35px;
  line-height: 2.6rem;
 }
 .acco-wrap.faq .tit-area .tit:before {
  width: 26px;
  height: 26px;
  font-size: 1.4rem;
  line-height: 2.6rem;
 }
 .acco-wrap .cont-area {
  padding: 12px 10px;
 }
 .acco-wrap.faq .cont-area:after {
  left: 20px;
  top: 17px;
 }
 .acco-wrap.faq .cont-area:before {
  left: 32px;
  top: 10px;
  width: 26px;
  height: 26px;
  font-size: 1.4rem;
  line-height: 2.6rem;
 }
 .acco-wrap.faq .cont-area {
  padding: 15px 10px 10px 67px;
 }

 /* List */
 .boxlist ul li {
  width: calc(50% - 19px);
  max-width: calc(50% - 19px);
  margin: 10px 0 0 17px;
 }
 .boxlist ul li .sort-info {
  margin: 15px 20px 5px;
 }
 .boxlist ul li .sort-info .sequence {
  font-size: 1.3rem;
  line-height: 2rem;
 }
 .boxlist ul li .sort-info .sequence + .radiobox {
  margin-top: 0;
 }
 .boxlist ul li .tit {
  height: 40px;
  margin: 0 20px 10px;
  font-size: 1.6rem;
  line-height: 2rem;
 }
 .boxlist ul li .txt {
  margin: 0 20px 10px;
  font-size: 1.4rem;
  line-height: 1.8rem;
 }
 .boxlist ul li .data-info {
  padding: 10px 20px;
 }
 .boxlist ul li .data-info dl {
  margin-top: 4px;
 }
 .boxlist ul li .data-info dl dt,
 .boxlist ul li .data-info dl dd,
 .boxlist.type2 .data-info.dot-type.small dl dd {
  font-size: 1.3rem;
  line-height: 1.6rem;
  vertical-align: top;
 }
 .boxlist.type2 .data-info.dot-type dl {
  padding: 20px 0;
 }
 .boxlist.type2 .data-info.dot-type dl:before {
  top: 20px;
 }
 .boxlist.type2 .data-info.dot-type dl dd {
  font-size: 2rem;
 }
 .boxlist.type2 .data-info.dot-type.small dl {
  padding: 20px 11px;
 }
 .boxlist.type2 .tit-wrap {
  margin: 15px 0;
 }
 .tit-wrap .checkbox.fl-l,
 .btn-wrap .checkbox.fl-l {
  margin: -2px 0 0 10px;
 }
 .btn-wrap .checkbox.fl-l + .fl-r {
  margin-top: 10px;
 }
 .boxlist.type2 ul li .sort-info .sequence,
 .boxlist.normal ul li .sort-info .sequence {
  margin-top: 3px;
 }
 .boxlist.type2 .data-info.dot-type .progress {
  margin-left: calc(50% - 125px);
 }
 .boxlist.type2 .data-info.dot-type .progress dd {
  min-width: 150px;
  max-width: 263px;
 }
 .boxlist.type2 .data-info.ico-type {
  padding: 18px 0;
 }
 .boxlist.type2 .data-info.ico-type dl:before {
  bottom: 20px;
 }
 .boxlist.type2 .data-info.ico-type dl dd {
  height: 20px;
  margin: 55px auto 0;
  font-size: 1.4rem;
  line-height: 2rem;
 }
 .boxlist.normal .tit-wrap {
  margin: 50px 0 15px;
  padding-bottom: 10px;
 }
 .boxlist.normal ul li {
  padding: 15px;
  width: calc(100% - 48px) !important;
  max-width: calc(100% - 48px) !important;
 }
 .boxlist.normal ul li .sort-info .sequence + .checkbox {
  margin-top: 1px;
 }
 .boxlist.normal ul li .sort-info .checkbox label {
  line-height: 2.4rem;
 }
 .boxlist.normal ul li .data-info {
  width: 100%;
  margin-left: 78px;
  margin-right: 5px;
  text-align: right;
 }
 .sub-top.visual05 + .sub-content .boxlist > .btn-wrap {
  position: relative;
  overflow: visible;
  height: 36px;
 }
 .sub-top.visual05 + .sub-content .boxlist > .btn-wrap .fl-r.pop-open {
  position: absolute;
  right: 0;
  top: -5px;
 }
 .sub-top.visual05 + .sub-content .boxlist .sort-info .sequence {
  margin: 3px 0 0 0;
 }
 .apply-info-wrap + .boxlist ul li .sort-info .sequence {
  margin-top: 0 !important;
 }
 .no-data.mt50 {
  margin-top: 30px !important;
 }
 .classify {
  height: 18px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  vertical-align: top;
 }

 /* POPUP */
 .popup-box.win,
 .popup-box.lay {
  padding: 20px;
 }
 .popup-box.lay {
  left: 15px;
  right: 15px;
  min-width: calc(100% - 70px);
  width: calc(100% - 70px);
  margin-left: 0 !important;
 }
 .popup-box .pop-head {
  height: 34px;
 }
 .popup-box .pop-head .tit {
  font-size: 2rem;
 }
 .popup-box .pop-cont {
  font-size: 1.4rem;
 }
 .popup-box .pop-foot {
  padding-bottom: 10px;
 }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
 .tab .tab-nav > li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto important;
 }
}

/* Mobile Device (randscape mode) */
@media screen and (min-width: 576px) and (max-width: 767px) {
 .searchfrm .search-select {
  width: 150px;
 }
 .searchfrm .search-input {
  width: auto;
 }
 .search-select + .search-select,
 .search-select + .search-input {
  margin-top: 0;
 }
 .search-select + .search-select + .search-input {
  width: calc(100% - 307px);
 }
 .search-select + .search-select + .search-input input[type="text"] {
  width: calc(100% - 42px);
 }
 .searchfrm .search-input input[type="text"] {
  width: 300px;
 }
 .searchfrm .search-input + .btn {
  margin-top: 0;
 }
 .boxlist.type2 .data-info.dot-type .progress dt {
  margin: 0 0 0 10px;
 }
}

/* Iphone X & Tablet Device */
@media screen and (min-width: 768px) and (max-width: 812px) {
 .sub-content {
  margin: 50px 15px 0;
 }
 .searchfrm {
  overflow: hidden;
  text-align: center !important;
 }
 .searchfrm .search-input {
  overflow: hidden;
 }
 .search-select + .search-select + .search-input {
  width: calc(100% - 308px);
 }
 .search-select + .search-select + .search-input input[type="text"] {
  width: calc(100% - 63px);
 }
 .searchfrm .search-input + .btn {
  position: static;
  float: right;
  margin-top: 10px;
 }
 .boxlist.type2 .data-info.dot-type .progress {
  margin-left: calc(50% - 125px);
 }
 .boxlist.type2 .data-info.dot-type .progress dd {
  min-width: 150px;
  max-width: 263px;
 }
}

/* Desktop Device */
@media screen and (min-width: 1024px) {
}

/* Desktop Device (big screen) */
@media screen and (min-width: 1280px) {
}
