@charset "utf-8";

html,
body {
 margin: 0;
 padding: 0;
 border: none;
 color: #222;
 font-family: "Noto Sans KR", sans-serif;
 font-weight: 400;
 background: transparent;
 -webkit-text-size-adjust: none;
 -webkit-font-smoothing: antialiased;
 height: 100%;
 width: 100%;
 overflow-x: hidden;
}

.txt-hdn {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}