@charset "utf-8";

/* All Device */
/* Skip Navigation*/
#skip-nav {
 position: relative;
 z-index: 9999;
}
#skip-nav a {
 display: block;
 height: 1px;
 width: 1px;
 margin-bottom: -1px;
 overflow: hidden;
 font-size: 20px;
 color: #fff;
 font-weight: bold;
 background: #0779d1;
 white-space: nowrap;
 text-align: center;
}
#skip-nav a:focus,
#skipNav a:active {
 height: auto;
 width: 100%;
 padding: 5px;
 margin-bottom: 10px;
 position: absolute;
 left: 0;
 top: 0;
}

/* Header */
#header {
    border-bottom:1px solid #eff3f6;
}
#header h1 {
    margin-bottom:10px;
}
#header,
#container,
#footer {
 width: 100%;
}
.main-content,
.sub-content,
.footer-content {
 max-width: 1200px;
 margin: 0 auto;
}
.header-content {
    position: relative;
}
.header-wrap {
    
}

/* Navigation */
#gnb {
    margin-left:16px;
}
#gnb > ul {
}
#gnb > ul > li {
 float: left;
 position: relative;
 width: 180px;
 text-align: center;
 box-sizing: border-box;
}
#gnb > ul > li:last-child {
 margin-right: 0;
}
#gnb > ul > li > a {
 display: block;
 padding: 39px 20px;
 position: relative;
 font-size:2rem;
 font-weight: bold;
}
#gnb > ul > li.active > a {
 color: #2f8188;
}
#gnb .depth2 {
    display: none;
 position: absolute;
 left:0;
 top: 101px;
 margin-top:-1px;
 min-width: 143px;
 min-height: 270px;
 padding: 20px;
 text-align: left;
 font-size: 1.6rem;
 border-top:1px solid #eff3f6;
 border-left: 1px solid #eff3f6;
 background:#fff;
 z-index: 3;
}
#gnb .menu4 .depth2 {
    border-right: 1px solid #eff3f6;
}
#gnb .active .depth2 {
    /* margin-top: -1px;
    min-height: 269px;
    border-top: 2px solid #2f8188; */
    background:#fafafa;
}
#gnb .active .depth2:after {
    display: inline-block;
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:2px;
    background:#2f8188;
}
#gnb .depth2 > ul > li a {
 display: inline-block;
 height: 32px;
 line-height: 32px;
 vertical-align: top;
}
#gnb .depth2 ul li:hover a {
    position: relative;
}
#gnb .depth2 > ul > li a:hover:after {
    content: '';
    position: absolute;
    top:16px;
    left:0;
    width: 100%;
    height:16px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
#gnb .depth3 > ul > li a  {
    height:23px;
    line-height:23px;
    font-size:1.4rem;
    font-weight: 400;
    color:#727272;
}
#gnb .depth3 > ul > li a:hover:after {
    top:10px;
}
#gnb .depth3 > ul > li a::before {
    content:'- ';
}
.bg-gnb {
    display: none;
    position: absolute;
    top:101px;
    width: 100%;
    height: 310px;
    background:#fff;
    box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.bg-gnb.down {
    display: block;
}
.bg-gnb.search {
    display:block;
    height:186px;
}
.top-util {
    margin-left:auto;
}
.top-util .gnb-search {
    display: block;
    width:50px;
    height:50px;
    text-indent: -999em;
    background:url('../img/common/bg_sprite.png') no-repeat -72px 0;
}
.top-util .gnb-search.active {
    background-position: -128px 0;
}
.top-util .search-box {
    display: none;
    position: absolute;
    top:160px;
    left:50%;
    padding:13px 20px;
    width:100%;
    max-width: 700px;
    margin-left:-350px;
    text-align: center;
    border-bottom:2px solid #111;
    box-sizing: border-box;
    z-index: 3;
}
.top-util .search-box.on {
    display: block;
    padding:13px 20px;
    border:0 none;
    border-bottom: 2px solid #111;
    border-radius: 0;
}
.top-util .search-box .input_search {
    border:0 none;
    padding:0;
    width: 95%;
}
.top-util .search-box .btn_search {
    display: inline-block;
    width: 22px;
    height:22px;
    vertical-align: middle;
    background:url('../img/common/btn_search.png') no-repeat center;
    text-indent: -999em;
}
.top-util .nav-action {
    display:none;
}
/* Top area */
.top-area {
    height:200px;
}
.top-area.edu {
    background-image:url('../img/common/toparea_edu.gif');
}
.top-area.support {
    background-image:url('../img/common/toparea_support.gif');
}
.top-area.file {
    background-image:url('../img/common/toparea_file.gif');
}
.top-area.news {
    background-image:url('../img/common/toparea_news.gif');
}
.top-area.faq {
    background-image:url('../img/common/toparea_faq.gif');
}
.top-area.intro {
    background-image:url('../img/common/toparea_intro.gif');
}
.top-area.search {
    background-image:url('../img/common/toparea_search.gif');
}
.top-area .wrap {
    position: relative;
}
.top-area .sub-tit {
    font-size:3.6rem;
    text-align:center;
    line-height:200px;
}
.top-area .sub-util {
    position:absolute;
    bottom:20px;
    right: 0;
}
.top-area .sub-util ul { 
    font-size:0;
}
.top-area .sub-util ul li {
    display:inline-block;
    margin:0 5px;
 }
.top-area .sub-util ul li a { 
    display: block;
    width:38px;
    height:38px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    background:#fff;
    background-image:url('../img/common/bg_sprite.png');
    background-repeat:no-repeat;
    background-position: -223px 0;
}
.top-area .sub-util ul li.copy a { 
    background-position: -264px 0;
}

/* lnb */
.lnb-box {
    border-bottom: 1px solid #e8e8e8;
    background: #fbfbfb;
}
.lnb-box .wrap .lnb-menu {
    font-size:0;
}
.lnb-box .wrap .lnb-menu > li {
    position:relative;
    display:inline-block;
}
.lnb-box .wrap .lnb-menu > li > a:after {
    content:'';
    position: absolute;
    top:28px;
    right:37px;
    width:12px;
    height:8px;
    background:url('../img/common/ico_footer_arrow.png') no-repeat;
    transform: rotate(180deg);
    z-index: 1;
}
.lnb-box .wrap .lnb-menu > li a.on:after {
    transform: rotate(0deg);
}
.lnb-box .wrap .lnb-menu > li.home a {
    padding:0 24px;
    min-width: auto;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
} 
.lnb-box .wrap .lnb-menu > li.home a span {
    display:inline-block;
    width: 22px;
    height:16px;
    text-indent: -999em;
    background:url('../img/common/bg_sprite.png') 0 -25px;
}
.lnb-box .wrap .lnb-menu > li.home:after,
.lnb-box .wrap .lnb-menu > li.home a:after,
.lnb-box .wrap .lnb-menu > li.home:before {
    display:none;
}
.lnb-box .wrap .lnb-menu > li > a {
    display:block;
    padding:0 29px;
    min-width:208px;
    height:64px;
    line-height:64px;
    font-size:1.6rem;
    color:#666;
}
.lnb-box .wrap .lnb-menu > li:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top:0;
    right: 1px;
    border-top: 32px inset transparent;
    border-bottom: 32px inset transparent;
    border-left: 32px solid #fbfbfb;
    z-index: 1;
}
.lnb-box .wrap .lnb-menu > li:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top:0;
    right: 0;
    border-top: 32px inset transparent;
    border-bottom: 32px inset transparent;
    border-left: 32px solid #e8e8e8;
    z-index: 0;
}
.lnb-box .sub-depth  {
    display:none;
    position: absolute;
    padding:20px 30px;
    width:calc(100% - 32px);
    text-align:left;
    border:1px solid #e8e8e8;
    box-sizing: border-box;
    background:#fff;
    z-index: 2;
}

.lnb-box lI:nth-child(3) .sub-depth, .lnb-box lI:nth-child(4) .sub-depth {
    left:-33px;
    width:100%;
}
.lnb-box .sub-depth li a {
    display:block;
    margin:10px 0;
    font-size:1.6rem;
}
.lnb-box .sub-depth li a:hover {
    color:#2f8188;
}
/* Contents */
#container {
}
#container .section-tit {
    font-size: 3rem;
}
/* Main */


/* footer */
#footer {
    padding:51px 0 50px;
    border-top:2px solid #505358;
    background:#f2f2f2;
}
#footer .footer-content {
 position: relative;
}
#footer .footer-content .footer-top {
    display: flex;
    justify-content: space-between;
}
#footer .footer-content .footer-top .logo {
    display: flex;
}
#footer .footer-content .footer-top .logo > span {
    display:inline-block;
    margin-right:20px;
}
#footer .footer-content .footer-util {
    display: flex;
}
#footer .footer-content .footer-util > a {
    display: inline-block;
    margin-left:5px;
    padding: 0 19px 0;
    height: 44px;
    line-height: 44px;
    color:#111;
    font-size:1.8rem;
    border:1px solid #a2dbdf;
    border-radius: 8px;
    background:#a2dbdf;
}
#footer .footer-content .footer-util > a:hover {
    text-decoration: none;
}
#footer .footer-content .footer-util .family-site {
    min-width: 258px;
    border:1px solid rgba(0, 0, 0, 0);
    background:#fff;
}
#footer .footer-content .footer-util .family-site:after{
    content: '';
    background: url(/img/common/ico_footer_arrow.png) no-repeat 0 0;
    width: 12px;
    height: 7px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(180deg);
}
#footer .footer-content .footer-util .family-site.active {
    border:1px solid #e3e3e3;
}
#footer .footer-content .footer-util .family-site.active:after{
    transform: translate(0);
}
#footer .footer-content .footer-util .link-wrap  {
    display: none;
    position:absolute;
    top:-312px;
    right:0;
    padding:20px 19px 5px;
    min-width:258px;
    border:1px solid #e3e3e3;
    border-radius: 8px;
    background:#fff;
}
#footer .footer-content .footer-util .link-wrap li {
    margin-bottom:15px;
    font-size: 1.6rem;
}
#footer .footer-content .footer-util .link-wrap li a {
    display: block;
    color:#666;
}
#footer .footer-content .footer-util .link-wrap li a:hover {
    font-weight: bold;
    color:#111;
    text-decoration: none;
}
#footer .address-wrap {
    margin-top:40px;
}
#footer .address-wrap .address {
    color:#666;
    font-size: 1.6rem;
}
#footer .address-wrap .address > span {
    display: inline-block;
    position: relative;
    margin-right:13px;
    padding-left:13px;
    font-weight: 400;
    vertical-align: text-bottom;
}
#footer .address-wrap .address > span b {
    color:#111;
    font-weight: 500;
}
#footer .address-wrap .address > span::before {
    content: '';
    width: 1px;
    height: 13px;
    position: absolute;
    left:0;
    bottom:3px;
    background: #666;
}
#footer .address-wrap .address > span:first-child {
    padding-left:0;
}
#footer .address-wrap .address > span:first-child::before {
   display: none;
}
#footer .address-wrap .address > span address {
    display: inline-block;
}
#footer .address-wrap .address .copyright {
    margin-top:15px;
    font-size:1.4rem;
}

/*top 버튼*/
.btn-top {
    display:none;
    position:fixed; 
    bottom:50px; 
    right:7%;
}
.btn-top a {
    display:block; 
    width:50px; 
    height:50px; 
    text-indent:-999em; 
    border-radius: 8px; 
    background:#fff url('../img/common/bg_btn_top.png') no-repeat center;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

/* dim */
.dim {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
}
/* Mobile Device  */
@media screen and (max-width: 320px) {

}

/* Mobile Device  */
@media screen and (max-width: 660px) {
    
.top-area.edu {
    background-image:url('../img/common/toparea_edu_m.gif');
}
.top-area.support {
    background-image:url('../img/common/toparea_support_m.gif'); 
}
.top-area.file {
    background-image:url('../img/common/toparea_file_m.gif');
}
.top-area.news {
    background-image:url('../img/common/toparea_news_m.gif');
}
.top-area.faq {
    background-image:url('../img/common/toparea_faq_m.gif');
}
.top-area.intro {
    background-image:url('../img/common/toparea_intro_m.gif');
}
.top-area.search {
    background-image:url('../img/common/toparea_search_m.gif');
}
 .main-info-box .box {
  width: 120px;
  transition: 0.5s ease;
 }
 .category-menu ul li.active:nth-child(3) a:before {
  bottom: calc(100% - 51px);
 }
 .sub-cont-box .box.login.complete {
  height: 240px !important;
  max-height: 240px !important;
 }
}

/* Mobile Device  */
@media screen and (max-width: 1000px) {
 #header .header-content {
    padding:0 20px;
    height: 50px;
    box-sizing: border-box;
 }
 #header .header-content .header-wrap {
     display:flex;
     align-items: center;
 }
 #header h1 > a > img {
  width: 140px;
 }

 #header .top-util {
    margin-top:8px;
    display:flex;
 }
 #header .top-util a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-indent:-999em;
  border-radius: 50%;
  background-size:30px auto;
 }
 .top-util .gnb-search {
    margin-right:10px;
    background-color:#2f8188;
    background-image:url('../img/common/ico_nav.png');
    background-position:0 0
 }
 .top-util .gnb-search.active {
     background-position:0 bottom;
 }
 .top-util .nav-action {
    background-color:#383b4a;
    background-image:url('../img/common/ico_nav.png');
    background-repeat: no-repeat;
    background-position:0 -30px;
}
.top-util .nav-action.close {
    position: fixed;
    right: 55%;
    margin-right: 10px;
    background-position:0 bottom;
    /* transition:all 100ms linear; */
    z-index: 5;
}
 .top-util .search-box {
     top:51px;
     left:0;
     margin:0 20px;
     width:calc(100vw - 40px);
 }
 .top-util .search-box .input_search {
     width: 90%;
 }
 .top-util .nav-action {
     display: none;
 }
 #header #gnb {
 }
 #gnb > ul {
  border-top: 1px solid #d7d7d7;
 }
 #gnb > ul > li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #d7d7d7;
 }
 #gnb > ul > li > a {
  padding: 17px 20px;
 }
 #gnb .depth2 {
  position: static;
  min-width: auto;
  margin: 0 15px 15px 15px;
  padding: 0;
  background-color: #f4f5f5;
  border: none;
  border-radius: 0;
 }
 #gnb .depth2:before {
  content: none;
 }
 #gnb .depth2 {
     display:none !important;
 }
 #gnb .active .depth2 {
     display:block !important;
 }
 #gnb .active .depth2:after {
    top:59px;
}
 #gnb .depth2 > ul > li a {
  padding: 0 15px;
}
 
 .bg-gnb {
    top:51px;
    left:0;
    height:73px;

 }

 /* 2Depth */
 .category-menu {
  height: 50px;
 }
 .category-menu ul {
  height: 49px;
 }
 .category-menu ul li a {
  font-size: 1.6rem;
 }
 .category-menu ul li.active a:before {
  left: 6px;
  right: 6px;
  bottom: calc(100% - 36px);
 }

 /* Main */
 #container {
     position: relative;
 }
 
 #container .section-tit {
     font-size:2.3rem;
     font-weight: bold;
 }
/* Top area */
.top-area {
    height:100px;
    background-size: cover;
}
.top-area .wrap {
    position: relative;
}
.top-area .sub-tit {
    font-size:2.2rem;
    line-height:100px;
}
.top-area .sub-util {
    display:none;
}
.lnb-box {
    position: absolute;
    margin-top:-30px;
    width: 100%;
    text-align: center;
    border:0 none;
    background:transparent;
}
 .lnb-box .wrap .lnb-menu > li {
    position:relative;
    display:inline-block;
}
.lnb-box .wrap .lnb-menu > li.home a {
    margin-top:-2px;
    padding:0 10px 0 0;
    min-width: auto;
    border:0 none;
} 
.lnb-box .wrap .lnb-menu > li.home a span {
    width: 11px;
    height: 8px;
    background-size: 800px auto;
    background-position: 0 -12px;
}
.lnb-box .wrap .lnb-menu > li.home:after,
.lnb-box .wrap .lnb-menu > li.home a:after,
.lnb-box .wrap .lnb-menu > li.home:before {
    display:none;
}
.lnb-box .wrap .lnb-menu > li > a {
    display:block;
    padding:0 10px;
    min-width:auto;
    height:9px;
    line-height:9px;
    color:#666;
    font-size:1.2rem;
}
.lnb-box .wrap .lnb-menu > li > a:after,.lnb-box .wrap .lnb-menu > li > a.on:after {
    top:3px;
    left:-7px;
    background-size: 6px auto;
    transform: rotate(90deg);
}
.lnb-box .wrap .lnb-menu > li:before {
    display:none;
}
.lnb-box .wrap .lnb-menu > li:after {
    display:none;
}
.lnb-box .sub-depth  {
    display:none !important;
}

.lnb-box .sub-depth li a {
    display:none;
}

 /* Footer*/
 #footer {
    padding:30px 20px;
    box-sizing: border-box;
 }
 #footer .footer-content {
     text-align: center;
 }
 #footer .footer-content .footer-util > a {
     padding:0 10px;
     height:30px;
     line-height:30px;
     font-size:1.4rem;
     box-sizing: border-box;
 }
 #footer .footer-content .footer-util .family-site {
     position: relative;
     min-width:150px;
     text-align: left;
 }
 #footer .footer-content .footer-util .family-site:after {
     top:12px;
     right:10px;
 }
 #footer .address-wrap {
    margin-top:20px;
 }
 #footer .address-wrap span {
     text-indent: -0.2rem;
     font-size:1.3rem;
 }
 #footer .address-wrap .address > span {
    margin-right: 4px;
    padding-left: 8px;
 }
 #footer .address-wrap span:first-child {
     display: block;
     color:#111;
 }
 #footer .address-wrap .address > span address {
     color:#666;
 }
 #footer .address-wrap .address > span.tel {
     padding-left:0;
 }
 #footer .address-wrap .address > span.tel::before {
     display:none;
 }
 #footer .footer-content .footer-top .logo {
  display: none;
 }
 /*top 버튼*/
 .btn-top {
     right: 2%;
 }
.btn-top a {
    width: 40px; 
    height:40px; 
    border-radius: 8px; 
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.15);
    background-size:10px;
}
}

/* Desktop Device */
@media screen and (max-width: 1200px) {
    #header .header-wrap h1 {
        width:140px;
    }
    #header .header-wrap h1 img {
        width:100%;
    }
    #gnb > ul > li > a {
        padding:39px 10px;
        font-size:1.8rem;
    }
    #gnb > ul > li {
        width: 160px;
    }
    .bg-gnb.search {
        display:block;
        height:90px;
    }
}
@media screen and (min-width: 1024px) {
    .header-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 100px;
    }
}

/* Desktop Device (big screen) */
@media screen and (min-width: 1280px) {
}
