@charset "utf-8";

@import url("reset.css");
@import url("layout.css");
@import url("common.css");
@import url("style_pc.css") screen and (min-width:1025px);
@import url("style_mobile.css") screen and (max-width:1024px);




/* main */
.main-slide {
    background-size: cover;
}
.main-slide .visual-box .visual-cont {
    position: relative;
}
.main-slide .visual-box .visual-cont .slide-txt {
   color:#666;
}
.main-slide .visual-box .visual-cont .slide-detail {
    position: relative;
    display: inline-block;
    color:#111;
}
.main-slide .visual-box .visual-cont .slide-detail::after {
    content: '';
    position: absolute;
    left:0;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
/* dot */
.main-slide .visual-box .slide-dots {
    position: absolute;
    display: inline-block;
    padding: 0;
    list-style: none;
    text-align: center;
}
.main-slide .visual-box .slide-dots li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}
.main-slide .visual-box .slide-dots li a {
    display:block;
    width:100%;
    height:100%;
    color:#111;
    border:1px solid #e6e6e6;
    border-radius:50%;
}
.main-slide .visual-box .slide-dots li.slick-active a, .main-slide .visual-box .slide-dots li a:hover {
    color:#fff;
    border-color:#383b4a;
    background:#383b4a;
}
/* Arrows */
.main-slide .visual-box .slick-prev,
.main-slide .visual-box .slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-color:transparent;
    background-image:url('/img/main/main_visual_arrow.png')
}
.main-slide .visual-box .slick-prev{
}
.main-slide .visual-box .slick-next{
    background-position: top right;
}
.main-slide .visual-box button:hover {
    background-position-y: bottom;
}
.main-slide .visual-box .play-ctrl {
    position:absolute;
    left:50%;
    text-indent:-9999em;
    font-size: 0;
    border:1px solid #e6e6e6;
    border-radius:50%;
    background-color:transparent;
    background-image:url('/img/main/main_visual_auto.png');
}

.category {

}
.category .cate-wrap {
    margin:0 auto;
}
.category .cate-wrap ul {
}
.category .cate-wrap ul li {
    display: block;
}
.category .cate-wrap ul li a:hover {
    text-decoration: none;
}
.category .cate-wrap .thumb {
   background-image:url('/img/main/bg_category.png');
   background-repeat: no-repeat;
}

.category .cate-wrap .thumb.grow {
    
}
.category .cate-wrap .thumb.hope {
    
}
.category .cate-wrap .thumb.psy {
    
}
.category .cate-wrap .thumb.visit {
    
}
.category .cate-wrap .thumb.fit {
    
}
.category .cate-wrap a:hover .thumb {
    
}
.category .cate-wrap dl {
    line-height: 1.2;
}
.category .cate-wrap dt {
    display: inline-block;
    position: relative;
    font-weight: bold;
}
.category .cate-wrap a:hover dt::after {
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.category .cate-wrap dd {
    display: block;
    color:#666;
}
.category .cate-wrap dd > span {
    display: block;
}

/* news */
.main .news {
   position: relative;
}
.main .news:after {
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.wrap {
    margin:0 auto;
}
.main .news .news-tab li { 
    display:inline-block;
}
.main .news .news-tab li a {
    position: relative;
    display: inline-block;
    color:#666;
}
.main .news .news-tab li.active a {
    font-weight:bold;
    color:#111;
}
.main .news .news-tab li.active a::after {
    content: '';
    position: absolute;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.main .news .news-cont {
    
}
.main .news .news-cont .news-list {
    display: inline-block;
    line-height: 1.4;
    box-sizing: border-box;
    background:#fff;
}
.main .news .news-cont .news-list .news-tit {
    color:#111;
    font-weight: 600;
}

.main .news .news-cont .news-list .news-tit .ico-new {
    display:inline-block;
    color:#fff;
    border-radius: 50%;
    font-weight: 400;
    vertical-align: top;
    background:#f16b60;
}
.main .news .news-cont .news-list .news-detail {
    color:#666;
    font-weight: 400;
}
.main .news .news-cont .news-list .news-date {
    text-align:right;
    color:#666;
    font-weight: 600;
}

.center-news {
    background-color:#fef9e6;
}
.center-news .wrap {

}
.center-news .center-act {

}
.center-news .center-act .center-info {

}
.center-news .center-act .center-info .info-box {
    overflow:hidden;
    background: #fff;
}
.center-news .center-act .center-info .thumb img {
    width: 100%;
}
.center-news .center-act .center-info .info-date {
    text-align:right;
    color:#666;
}
.center-news .center-act .slick-dots {
    position: absolute;
    display: block;
    list-style: none;
    text-align: center;
}
.center-news .center-act .slick-dots li {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.center-news .center-act .slick-dots li button {
    display:block;
    width: 100%;
    color:#111;
    border-radius: 50%;
    background:transparent;
}
.center-news .center-act .slick-dots li.slick-active button, .center-news .center-act .slick-dots li button:hover {
    background:#fff;
}
/* link text decoration */
.link-deco {
    position: relative;
}
.link-deco::after {
    content: '';
    position: absolute;
    top:16px;
    left:0;
    width: 100%;
    height:16px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}

/* badge icon */
.ico {
    display: inline-block;
    text-align:center;
}
/* search */
.search-area {
    margin:0 auto;
}
.search-box {
    border-radius: 4.5rem;
    border:1px solid #b1b1b1;
}
.search-box .input_search {
    border:0 none;
    padding:0;
}
.search-box .btn_search {
    display: inline-block;
    vertical-align: middle;
    background:url('/img/common/btn_search.png') no-repeat center;
    text-indent: -999em;
}

.section-box {
}
.section-box .sec-tit {
    background:url('/img/common/tit_bullet.png') no-repeat left center;
}
.section-box .sec-sub-tit {
    background:url('/img/common/sub_bullet.png') no-repeat left center;
}
.section-box .sec-txt {
    color:#666;
}
.section-box .caution {
    color:#666;
}
.section-box .section {

}
.section-box .round-box {
    border-radius: 3.5rem;
    border:1px dotted #bde6e8;
    background:#e8f9fa;
}
.half-box {

}
.half-box > div {
}

.half-box.info  {
    border-bottom:1px dashed #e9e9e9;
}
.half-box.info:first-child  {
    padding-top:0;
}
.half-box.info > div {
}.half-box.info  {

}
.half-box.info:nth-child(2n)  {
    flex-direction: row-reverse;
}
.half-box.info h4 {
    color:#2f8188;
}
.half-box.info .txt {
    color:#666;
}
.half-box.info .btn {

}
/* 조직도 */
.org-list {}
.org-list .org-box {
    text-align:center;
}
.org-list .org-box > ul {}
.org-list .org-box li {
    position: relative;
}
.org-list .org-box ul > li > span {
    display:inline-block;
    color:#fff;
    text-align:center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color:#383b4a;
}
.org-list .org-box .mid-org {
    background-color:#2f8188;
}
.org-list .org-box .mid-org dt, .org-list .org-box .mid-org dd {
    display:inline-block;
}
.org-list .org-box .sub-org {
    color:#111;
    background-color:#96dfe4;
}
.org-list .org-box .sub-org.line {
}
.org-list .org-box .half > ul {
}
.org-list .org-box .half > ul > li {
}
/* table */
.table-box {
}
.table-box .table-top-box {
    position: relative;
}
.table-box .table-top-box.sec {

}
.table-box .table-top-box .btn-box {

}
.table-box .table-top-box .table-top-info {
    font-weight: bold;
}
.table-box table {
    width:100%;
    border-top:2px solid #333;
}
.table-box thead th {
    border-bottom:1px solid #333;

}
.table-box tbody td {
    color:#666;
    text-align: center;
    border-bottom:1px solid #e8e8e8;
}
.table-box tbody td.left {
    text-align:left;
}
.table-box tbody td.title {
    color:#333;
    text-align:left;
}
.table-box .title span {
}
.table-box .title .badge {
}
.table-box .title a {
    position: relative;
    display:inline-block;
    max-width:88%;
    vertical-align: middle;
}

.table-box .title .b-tit {

}
/* 테이블 조직도 */
.table-box.org {

}
.table-box.org table {
    border-top:1px solid #e8e8e8;
}
.table-box.org table td:first-child {
    border-right:1px solid #e8e8e8;
}
/* 테이블 type01 */
.table-box .m-board {
    overflow: hidden;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #e8e8e8;
}
.table-box .m-board.solo {

}
.table-box .m-board th {
    border: 1px solid #b1e2e5;
    background:#e8f9fa;
}

.table-box .m-board td {
    border:1px solid #e8e8e8;
}

.table-box .m-board .row td {
    text-align:left;
}
.table-box .m-board .part tr {
    background:url('/img/common/bg_tr_arrow.png') no-repeat center;
}
.table-box .m-board .part tr td {
    border:0 none;
    border-bottom: 1px solid #e8e8e8;
}

/* list */
.list-box {

}
.list-box .thumb-list {
}
.list-box .thumb-list ul {

}
.list-box .thumb-list li {
    position: relative;
    overflow:hidden;
    border-radius: 25px;
    border:1px solid #ddd;
}
.list-box .thumb {
    position: relative;
    overflow:hidden;
}
.list-box .thumb img {
    width: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%); */
}
.list-box .cont {

} 
.list-box .cont .list-tit {

} 
.list-box .cont .date {
    text-align:right;
    color:#666;
}
.list-box .over {
    display: none;
    position: absolute;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    background:rgba(77,179,186,0.6);
}
.list-box .thumb-list li:hover {

}
.list-box li a:hover .over {
    display: flex;
}
.list-box .over .ico {
    display:block;
    border:1px solid #fff;
    border-radius: 50%;
    color:#fff;

}

.horizen-list {}
.horizen-list ul {}
.horizen-list li {
    border:1px solid #bcbcbc;
    border-radius: 1.5rem;
}
.horizen-list .thumb {
    border:1px solid #bcbcbc;
    border-radius: 1.5rem;
    vertical-align: middle;
}
.horizen-list .list-cont {

}
.horizen-list .list-tit {

}
.horizen-list .list-tit .info-badge {
    vertical-align: middle;
}
.horizen-list .list-txt {
    color:#666;
}
/* search */
.search-tit {
    color:#111;
}
.search-tit .key-word {
    color:#2f8188;
    vertical-align: top;
}
.s-result {
}
.s-result .s-head {
    font-size:500;
    border-bottom:1px solid #333;
}
.s-result .s-head .count {
    vertical-align: top;
    font-weight: bold;
    color:#2f8188;
}
.s-result ul {
}
.s-result li {
    border-bottom:1px solid #e8e8e8;
}
.s-result li .date {
    margin-left:auto;
    color:#666;
}
.s-result li .key-word {
    color:red;
    vertical-align: top;
}

.no-result {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding:170px 0;
    text-align: center;
    border:1px solid #e8e8e8;
    border-radius: 8px;
}
.no-result .empty {
    width:220px;
    font-size:2.4rem;
}
.no-result .empty .thumb {
    display: block;
    margin:0 auto 20px;
    width:110px;
    height:110px;
    text-indent:-9999em;
    background:url('/img/common/bg_sprite.png') no-repeat;
    background-position:0 -136px ;
}

/* badge */
.info-badge {
    display: inline-block;
    margin-right: 10px;
    padding: 0 5px;
    min-width:52px;
    height:25px;
    line-height:25px;
    font-size:1.2rem;
    color:#fff;
    text-align: center;
    border-radius: 2.5rem;
}
.info-badge.b-bg {
    background:#5779a7;
}
.info-badge.o-bg {
    background:#b85c37;
}
.info-badge.g-bg {
    background:#3d8835;
}
.info-badge.r-bg {
    background:#c84d46;
}
.info-badge.bl-bg{
    background:#383b4a;
}
.info-badge.lg {
    margin-right:5px;
    padding:0 10px;
    height:30px;
    line-height:30px;
}
.info-badge.hash {
    color:#333;
    background:#ececec;
}
/* tab */
.nav {}
.nav .nav-item {
}
.nav .nav-item li {
    text-align: center;
}
.nav .nav-item li a {
    display:block;
    border:1px solid #d8d8d8;
    border-radius:1.5rem;
    box-sizing: border-box;
}
.nav .nav-item li.active a, .nav .nav-item li a:hover {
    margin:-1px;
    color:#2f838d;
    border:2px solid #2f838d;
}
.nav .nav-item li a .count {
    vertical-align: top;
}

/* faq */
.faq-list {
}
.faq-list dl {
    overflow:hidden;
    border-radius: 8px; 
    border:1px solid #e8e8e8;
}
.faq-list dt {
    position: relative;
    font-weight: 600;
} 
.faq-list dt:before {
   content: '';
   position: absolute;
   background-repeat:no-repeat;
   background-image:url('/img/common/bg_sprite.png');
}
.faq-list dt::after {
    content: '';
    position: absolute;
    background-repeat:no-repeat;
    background-image:url('/img/common/bg_sprite.png');
}
.faq-list .active dt::after {
    transform: rotate(180deg);
}
.faq-list .active {
    border:2px solid #2f8188;
}
.faq-list .active dt {
    color:#2f8188;
}
.faq-list dd {
    display: none;
    position: relative;
    color:#666;
    background:#f9f9f9;
}
.faq-list dd::before {
    content: '';
    position: absolute;
    background-repeat:no-repeat;
    background-image:url('/img/common/bg_sprite.png');
}

/* button */
.btn-box {
    text-align:center;
}
button.btn,a.btn,input[type="button"].btn {
    display: inline-block;
    border: 1px solid transparent;
    background-color: #fff;
    color: #333;
}
.btn.small {

}
.btn.large {

}
.btn.round {
    border-radius:3.5rem;
}
.btn.normal {
    border: 1px solid #bcbcbc;
}
.btn.normal:hover {
    color:#333;
    border: 1px solid #686868;
}
.btn.strong {
    color:#fff;
    background:#2f8188;
}
.btn.strong:hover {
    background:#237178;
}
.btn.dark {
    color:#fff;
    background:#666;
}
.btn.dark:hover {
    background:#444;
}
.btn.direct {
    color:#111;
    border:1px solid transparent;
    background:#a2dbdf;
}
.btn.direct:hover {
    border:1px solid transparent;
    background:#237178;
}

/* ico 아이콘형 버튼 */
a.btn-ico, button.btn-ico, span.btn-ico,span.ico {
    display:inline-block;
    overflow:hidden;
    font-size:0;
    line-height:0;
    vertical-align:middle;
    white-space:nowrap;
    background-repeat:no-repeat;
    background-image:url('/img/common/bg_sprite.png');
}

/* 행사일정 */
#calendar {
    width: 100%;
    margin: 0 auto;
  }
  .fc-toolbar-title {
    /*display: none;*/
  }
  .fc .fc-button-primary.fc-Year-button,
  .fc .fc-button-primary.fc-Month-button {
    background: none;
    color: #000;
    border: 0;
    margin: 0 0 0 5px;
    padding: 0;
    font-size: 26px;
  }
  .fc .fc-button-primary.fc-Year-button > span,
  .fc .fc-button-primary.fc-Month-button > span {
    position: relative;
    z-index: -1;
  }
  .fc .fc-button-primary.fc-Year-button:hover,
  .fc .fc-button-primary.fc-Month-button:hover,
  .fc .fc-button-primary.fc-Year-button:focus,
  .fc .fc-button-primary.fc-Month-button:focus,
  .fc .fc-button-primary.fc-Year-button:active,
  .fc .fc-button-primary.fc-Month-button:active {
    background: none;
    border: 0;
    outline: 0;
    box-shadow: none !important;
    color: #000;
  }
  
  .fc-license-message {
    display: none;
  }
  .yearpicker-container {
    z-index: 50;
  }
  .yearpicker-container ul {
    margin: 0;
  }
  .yearpicker-container .yearpicker-items {
   box-sizing: border-box; 
  }
  .monthpicker {
      display: none;
  }
  .fc .fc-daygrid-day.fc-day-today {
    position: relative;
    background: #fff;
  }
  .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    background: #378006;
    color: #fff;
  }
  .fc-daygrid-day {
    transition: all .5s ease;
  }
  .fc-daygrid-day.active,
  .fc .fc-daygrid-day.fc-day-today.active {
    background: #efefef;
  }
  .fc-theme-standard td,
  .fc-theme-standard th {
    border-bottom: 0;
    border-right: 0;
  }
  .fc-theme-standard th {
    border-bottom: 1px solid #ddd;
  }
  .wrap.calendar {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }
  .wrap.calendar .calendar-list {
    min-width: 300px;
    border: 1px solid #ddd;
    border-top: 0;
    margin-left: 20px;
    margin-top: 70px;
    border-radius: 20px 20px 20px 20px;
  }
  .wrap.calendar .calendar-list h2 {
    margin: 0;
    padding: 15px;
    background: #efefef;
    border: 1px solid #b1e2e5;
    background: #e8f9fa;
    border-radius: 20px 20px 0 0;
    margin: -1px;
    text-align: center;
    font-size: 16px;
  }
  .wrap.calendar .calendar-list ul,
  .wrap.calendar .calendar-list li,
  .wrap.calendar .calendar-list h3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .wrap.calendar .calendar-list ul {
    padding: 0 0 0 20px;
    margin: 10px 0 10px 20px;
  }
  .wrap.calendar .calendar-list li {
    list-style-type: disc;
    padding: 10px 0;
  }
  .wrap.calendar .calendar-list li .tit {
    font-size: 16px;
    padding: 5px 0;
  }
  .wrap.calendar .calendar-list li .date {
    font-size: 14px;
    color: #666;
  }
  .fc .fc-daygrid-day-top {
    flex-direction: row;
  }
  .fc .fc-daygrid-day-number {
    padding: 0;
    margin: 3px 5px;
    border-radius: 50%;
    width: 27px;
    height: 26px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 3px;
    font-size: 14px;
  }
  .fc .fc-button.fc-prev-button {
    transform: translateX(-30px);
    background-color: #fff;
    border-color: #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .fc .fc-button.fc-next-button {
    transform: translateX(30px);
    background-color: #fff;
    border-radius: 50%;
    border-color: #ddd;
    width: 40px;
    height: 40px;
  }
  .fc .fc-button.fc-prev-button .fc-icon,
  .fc .fc-button.fc-next-button .fc-icon {
    color: #333;
    width: auto;
    height: auto;
    top: 10px;
    left: 9px;
    font-size: 18px;
    position: absolute;
  }
  .fc .fc-button.fc-next-button .fc-icon {
    left: 11px;
  }
  .fc .fc-button.fc-prev-button:active,
  .fc .fc-button.fc-next-button:active,
  .fc .fc-button.fc-prev-button.fc-button-primary:focus,
  .fc .fc-button.fc-next-button.fc-button-primary:focus {
    background: #fff;
    border-color: #ddd;
    box-shadow: none;
  }
  .fc .fc-today-button.fc-button-primary {
    background-color: #2f8188;
    border-color: #2f8188;
    border-radius: 6px;
    padding: 5px 15px;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin: 10px 0 20px;
  }
  .fc .fc-col-header-cell {
    padding: 13px 0;
    background-color: #f1f4f6;
    font-size: 16px;
    font-weight: 500;
  }
  .fc .fc-col-header-cell.fc-day-sun {
    color: #d72727;
  }
  .fc .fc-col-header-cell.fc-day-sat {
    color: #2b6fcb;
  }
  .fc .fc-scrollgrid-liquid {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
  }
  /*.fc .fc-daygrid-day-frame {
    height: 100px;
  }*/
  .fc .fc-cell-shaded, 
  .fc .fc-day-disabled {
  }
  .fc-direction-ltr .fc-daygrid-event.fc-event-start,
  .fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-right: 4px;
  }
  .fc-direction-ltr .fc-daygrid-event.fc-event-start,
  .fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 4px;
  }
  .fc .fc-daygrid-more-link {
    border-radius: 5px;
    background: orange;
    padding: 1px 5px;
    display: inline-block;
    margin-top: 2px;
  }
  .fc-h-event .fc-event-main-frame {
    line-height: 1;
  }
  .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
    padding: 3px 2px;
  }
  .fc-list-event-time {
    display:none;
  }
  @media (max-width: 768px) {  
    .wrap.calendar {
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        display: block;
    }
    .wrap .calendar-list {
     /* display: none; */
    }
    .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
        display:none;
    }
    .wrap.calendar .calendar-list {
        margin:20px 0 0;
    }
    .fc .fc-toolbar.fc-header-toolbar {
      white-space: nowrap;  
    }
    .fc .fc-button-primary.fc-Year-button,
    .fc .fc-button-primary.fc-Month-button {
      font-size: 15px;
    }
    .fc .fc-button.fc-prev-button,
    .fc .fc-button.fc-next-button{
      transform: scale(.8);
    }
    .fc .fc-today-button.fc-button-primary {
      padding: 3px 10px;
      font-size: 14px;
    }
    
  }

@media screen and (max-height: 280px) {
 
}

/* Mobile Device */
@media screen and (max-width: 320px) {

}


@media screen and (min-height: 280px) and (max-height: 414px) {

}

@media screen and (min-height: 280px) and (max-height: 414px) and (min-width: 768px) {
}

/* Desktop Device */
@media screen and (max-width: 1099px) {

}

/* Desktop Device */
@media screen and (max-height: 1000px) {

}
