@charset "utf-8";

/* 헤더 */
#header {
    height:78px;
    color:#fff;
    background-color: #fff;
}
#header.on {
    background-color:#fff;
}
#header .logo {
    position: absolute;
    top:25px;
    left:0;
    width: 148px;
    height:22px;
    background-color: #fff;
}
#header .top-util {
    position:absolute;
    right:0;
    top:25px;
}
#header .top-util .login a {
    display: block;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:red;
    text-indent:-9999em;
}
.gnb-area .gnb {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 300px;
}
.gnb-area .gnb .gnb-menu li {
    display: inline-block;
    font-size:0;
}
.gnb-area .gnb .gnb-menu li a {
    font-size:16px;
    color:#676767;
    
}
.on .gnb-area .gnb .gnb-menu li a {
    color:#002c5f;
}
.gnb-area .gnb .gnb-menu > li > a {
    display:block;
    padding:30px 0;
    margin:0 40px;
    box-sizing: border-box;
    border-bottom:3px solid transparent;
}
.gnb-area .gnb .gnb-menu > li.active > a,
.gnb-area .gnb .gnb-menu > li > a:hover {
    color:#002c5f;
    border-bottom:3px solid #002c5f;
}
.gnb-area .gnb .gnb-menu li .sub-area {
    display:none;
    position: fixed;
    top:79px;
    left:50%;
    margin-left:-615px;
    width: 1030px;
    height:54px;
    
    z-index: 10;
}
.gnb-area .gnb .gnb-menu li.active .sub-area {
    display: block;
}
.gnb-area .gnb .gnb-menu li .sub-area ul {
    text-align: center;
}
.gnb-area .gnb .gnb-menu li .sub-area a {
    margin:0 10px;
    padding:19px 0;
    color:#666;
}
.gnb-area .gnb .gnb-menu li .sub-area a:hover {
    color:#002c5f;
}
.gnb-area .bg-depth {
    display:none;
    position: fixed;
    top:79px;
    left:0;
    width: 100%;
    height:54px;
    background-color: #fff;
    border-bottom:1px solid #e2e2e2;
}
.gnb-area .bg-depth.on  {
    display:block;
}
#header .m-menu {
    display: none;
}

.contents {
    padding-top:78px;
}
.main-banner {
    padding:90px 100px 50px;
}

/* 메인 탑배너 */
.main-banner {}
.main-banner .slide-box {
    padding:90px 0;
}
.main-banner .slide-box h2 {
    font-size: 36px;
    color:#000;
}
.main-banner .slide-box p {
    margin-top:22px;
    font-size:22px;
}
.main-banner .slick-dots {
    left:0;
    bottom:25px;
}
.main-banner .slick-dots li {
    margin:0 0 0 5px;
    width:6px;
    height:6px;
}
.main-banner .slick-dots li button {
    padding: 0;
    width:100%;
    height:100%;
    border-radius: 50%;
    background: #acaaa9;
}
.slick-dots li.slick-active {
   
}
.slick-dots li.slick-active button {
    background: #007fa8;
}

.sectit {
    margin-bottom:80px;
    font-size:36px;
}
/* main sec01 */
.sec01 {
    padding:0  0 80px 0;
}
.quick-box {
    justify-content:space-between ;
}
.quick-box .quick-link {
    padding:40px;
    width:calc(25% - 15px);
    text-align:center;
    background:#fff;
    box-sizing: border-box;
    box-shadow:7px 13px 20px 0 rgba(57,57,57,0.07);
}

/* main sec02 */
.sec02 {
    padding:160px 0 155px;
}
.privacy-box {
    display:flex;
    justify-content: space-between;
}
.privacy-box .privacy-cont {
    width:calc(25% - 15px);
}

/* main sec03 */
.sec03 {
    padding:160px 0;
}
.tip-box {
    display:flex;
    justify-content: space-between;
}
.tip-box .tip-cont {
    padding:35px 40px;
    width:calc(33.33% - 30px);
    font-size:22px;
    box-sizing: border-box;
    background:#f6f3f2;
}
.tip-box .tip-cont a {
    display:block;
    margin-top:75px;
    font-size:16px;
    color:#002c5f;
}

/* main sec04 */
.sec04 {
    padding:100px 0;
}
.safe-box {}
.safe-box .tit-box {
    float:left;
    width:460px;
}
.safe-box .tit-box:after {
    display: block;
    content:'';
    clear:both;
}
.safe-box .safe-cont {
    padding-left:630px;
}
.safe-box .safe-cont li {
    margin:10px 0;
    padding:28px 35px;
    box-sizing: border-box;
    background:#fff;
}

/* 페이지 타이틀 */
.page-tit {
    width:100%;
    height:100px;
    font-size:30px;
    line-height:100px;
    text-align:center;
    background:#f6f3f2;
}

/* Eco-Mode */
#fullpage .page-tit {
    position: absolute;
    top:0;
    left:0;
}
#fullpage .section:nth-child(odd) {
    background:#fff;
}

/* 차량 데이터 관리 */
.cont {
    padding:20px 0;
}
.cont.wht {
    background:#fff;
}
.cont .sec-top {
    margin:60px 0;
}
.car-list > ul > li {
    margin-bottom:30px;
    padding: 40px;
    border:1px solid #eaeaea;
    box-shadow: 6px 7px 10px 0 rgba(137,137,137,0.08);
}
.car-list > ul > li > div {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.car-list .car-info {
    width: 40%;
}
.car-list .agree-wrap {
    width: 60%;
}
.car-list .agree-wrap li {
    border-bottom: 1px solid #eaeaea;
}
.car-list .agree-wrap li.total-area {
    border:0 none;
}
.car-list .agree-wrap li a {
    position: relative;
    display: block;
    padding:25px 50px 25px 20px;
}
.car-list .agree-wrap li a .badge {
    float:right;
}
.notice-box {
    padding:20px 40px;
    border:1px solid #666;
}