@charset "utf-8";

@import url("reset.css");
@import url("common.css");
@import url("slick.css");
@import url("style_pc.css") screen and (min-width:1025px);
@import url("style_mobile.css") screen and (max-width:1024px);



.wrap {
    position: relative;
    margin:0 auto;
    max-width: 1230px;
}
/* 헤더 */
#header {
    position: fixed;
    top:0;
    width: 100%;
    border-bottom:1px solid #e2e2e2;
    z-index: 1;
}
.gnb-area .gnb .gnb-menu li a {
    display:block;
}

/* 콘텐츠 */
.contents {
    background-color:#f7f3f2;
}
.sectit {
    text-align: center;
}
.sec01 {
    background:#f7f3f2;
}
.quick-box {
    display: flex;
}
.quick-box .quick-link {
    text-align:center;
    background:#fff;       
    box-sizing: border-box;
}
.sec02 {
    background:#e4dbd2;
}
.sec03 {
    background:#fff;
}
.sec04 {
    background:#f7f3f2;
}


/* 푸터 */
#footer {
    color:#fff;
    background:#1c1b1b;
}