@charset "utf-8";

/* main */
.main-slide {
    position: relative;
    height:630px;
}
.main-slide::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url('/img/main/main_slide01.png') no-repeat center;
    background-size: cover;
    z-index: -2;
}
.main-slide .visual-box {
    padding:50px 0;
}
.main-slide .visual-box .visual-cont {
    position: relative;
    min-height: 530px;
}
.main-slide .visual-box .visual-cont .slide-tit {
    margin-top:68px;
}
.main-slide .visual-box .visual-cont .slide-txt {
   margin-top:20px;
    font-size: 2.3rem;
   color:#666;
}
.main-slide .visual-box .visual-cont .slide-detail {
    position: relative;
    display: inline-block;
    margin-top:40px;
    font-size: 2rem;
    color:#111;
}
.main-slide .visual-box .visual-cont .slide-detail::after {
    content: '';
    position: absolute;
    top:12px;
    left:0;
    width: 100%;
    height:16px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.main-slide .visual-box .visual-cont .slide-img {
    position:absolute;
    top:0;
    right: 0;
}
/* dot */
.main-slide .visual-box .slide-dots {
    position: absolute;
    top: 50%;
    display: inline-block;
    padding: 0;
    margin:37px 0 0 0;
    list-style: none;
    text-align: center;
}
.main-slide .visual-box .slide-dots li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    line-height: 50px;
    padding: 0;
    cursor: pointer;
}
.main-slide .visual-box .slide-dots li a {
    display:block;
    width:100%;
    height:100%;
    color:#111;
    font-size:1.2rem;
    border:1px solid #e6e6e6;
    border-radius:50%;
}
.main-slide .visual-box .slide-dots li.slick-active a, .main-slide .visual-box .slide-dots li a:hover {
    color:#fff;
    border-color:#383b4a;
    background:#383b4a;
}
/* Arrows */
.main-slide .visual-box .slick-prev,
.main-slide .visual-box .slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-top:-67px;
    width: 34px;
    height: 54px;
    padding: 0;

    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-color:transparent;
    background-image:url('/img/main/main_visual_arrow.png')
}
.main-slide .visual-box .slick-prev{
    left: -9.34%;
}
.main-slide .visual-box .slick-next{
    right: -9.34%;
    background-position: top right;
}
.main-slide .visual-box button:hover {
    background-position-y: bottom;
}
.main-slide .visual-box .play-ctrl {
    position:absolute;
    top:50%;
    left:50%;
    margin:38px 0 0 -413px;
    width:50px;
    height:50px;
    text-indent:-9999em;
    font-size: 0;
    border:1px solid #e6e6e6;
    border-radius:50%;
    background-color:transparent;
    background-image:url('/img/main/main_visual_auto.png');
    background-position: -2px;
}
.main-slide .visual-box .play-ctrl.play {
    background-position: -54px;
}
.main-slide .visual-box .play-ctrl:hover {
    background-position-y:-2px;
}
.category {
    padding:60px 0 80px;
}
.category .cate-wrap {
    max-width:1200px;
}
.category .cate-wrap ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.category .cate-wrap ul li {
    max-width: 170px;
}
.category .cate-wrap ul li a:hover {
    text-decoration: none;
}
.category .cate-wrap .thumb {
   margin-bottom:20px;
   width:160px;
   height:160px;
}

.category .cate-wrap .thumb.grow {
    background-position: -160px 0;
}
.category .cate-wrap .thumb.hope {
    background-position: -320px 0;
}
.category .cate-wrap .thumb.psy {
    background-position: -480px 0;
}
.category .cate-wrap .thumb.visit {
    background-position: -640px 0;
}
.category .cate-wrap .thumb.fit {
    background-position: -800px 0;
}
.category .cate-wrap a:hover .thumb {
    background-position-y: -160px;
}
.category .cate-wrap dl {

}
.category .cate-wrap dt {
    font-size:2rem;
}
.category .cate-wrap a:hover dt::after {
    top:13px;
    left:0;
    width: 100%;
    height:16px;
}
.category .cate-wrap dd {
    margin-top: 10px;
    font-size: 1.6rem;
}
.category .cate-wrap dd > span {
}

/* news */
.news {
    padding:58px 0 80px;
}
.news:after {
    background:#fbfbfb;
}
.wrap {
    max-width: 1200px;
}
.news .news-tab {
    margin-top:30px;
}
.news .news-tab li {
    padding:0 5px;
    display:inline-block;
}
.news .news-tab li a {
    position: relative;
    display: inline-block;
    font-size:2rem;
    color:#666;
}
.news .news-tab li.active a {
    font-weight:bold;
    color:#111;
}
.news .news-tab li.active a::after {
    top:12px;
    left:0;
    width: 100%;
    height:16px;
}
.news .news-cont {
    display: flex;
    margin:24px -10px 0;
}
.news .news-cont .news-list {
    margin:0 10px;
    padding:50px 30px 40px;
    width: 285px;
    border-radius: 20px;
    box-shadow:7px 7px 30px 0px rgba(0, 0, 0, 0.1);
}
.news .news-cont .news-list .news-tit {
    min-height:84px;
    font-size:2rem;
}
.news .news-cont .news-list .news-tit .ico.ico-new {
    margin-top:2px;
    width:24px;
    height:24px;
    font-size:1.2rem;
    line-height:24px;
}
.news .news-cont .news-list .news-detail {
    margin:20px 0 38px;
    font-size:1.8rem;
}
.news .news-cont .news-list .news-date {
    font-size:1.6rem;
}
.center-news {
    padding:115px 0 90px;
    background:#fef9e6 url("/img/main/bg_center.png") no-repeat center;
}
.center-news .wrap {

}
.center-news .schedule .section-tit {
    margin-left:16px;
}
.center-news .wrap > div {
    display: inline-block;
    vertical-align: top;
}
.center-news .center-act {
    width:800px;
}
.center-news .center-act .center-info {
    margin-top:30px;
}
.center-news .center-act .center-info .info-box {
    margin:0 20px 30px 0;
    width: 380px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 13px 13px 0px rgba(71, 73, 75, 0.15);
}
.center-news .center-act .center-info .thumb img {
    min-height:234px;
}
.center-news .center-act .center-info .info-cont {
    padding:30px;
}
.center-news .center-act .center-info h3 {
    min-height:56px;
    font-size: 2.4rem;;
}
.center-news .center-act .center-info .info-date {
    margin-top:15px;
    font-size:1.6rem;
}
.center-news .center-act .slick-dots {
    top: -60px;
    right: 20px;
    padding: 0;
    margin: 0;
}
.center-news .center-act .slick-dots li {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
.center-news .center-act .slick-dots li button {
    line-height:30px;
}
.center-news .wrap .main-calendar {
    margin: 33px 0 0 16px;
    width: 376px;
}
.center-news .ui-widget.ui-widget-content {
    padding: 32px 30px;
    width: 100%;
    min-height:394px;
    box-sizing: border-box;
    border:0 none;
    border-radius: 20px;
    box-shadow: 15px 13px 20px 0px rgba(71, 73, 75, 0.15);
}
.center-news .ui-datepicker .ui-datepicker-title {
    margin:0;
    text-align:left;
    font-size:2.4rem;
}
.center-news .ui-datepicker .ui-datepicker-title select {
    padding-right:0;
    width:auto;
}
.center-news .ui-datepicker .ui-datepicker-prev span, .center-news  .ui-datepicker .ui-datepicker-next span {
    margin-top:17px;
}
.center-news .ui-datepicker .ui-datepicker-prev .ui-icon {
    margin-left:270px;
}
.center-news .ui-datepicker .ui-datepicker-next .ui-icon {
    margin-left:-20px;
}
.center-news .event-date {
    position: relative;
}
.center-news .event-date a {
    background: #a2dbdf;
}
.center-news .event-date a:hover {
    color:#fff !important;
    background:#2f8188;
}

.center-news .event-date:hover:after {
    background: #2f8188;
    border-radius: 25px;
    top: -90%;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
}
.center-news .event-date:hover:before {
    border: solid;
    border-color: #2f8188 transparent;
    border-width: 18px 23px 0 0px;
    content: "";
    left: 85%;
    top:-5px;
    position: absolute;
    transform: rotate(12deg);;
    z-index: 99;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    max-width:36px;
}

/* 메인 하단배너 */
.main-banner {
    position: relative;
    padding:80px;
}
.main-banner::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:url('/img/main/bg_banner.png') no-repeat center;
    background-size:cover;
    z-index: -2;
}
.main-banner .wrap {

}
.main-banner .banner-cont {
    position: relative;
    margin-top:15px;
}
.main-banner .banner-cont p {
    line-height:1.4;
    font-size:1.8rem;
    color:#666;
}
.main-banner .banner-cont .qrcode {
    position: absolute;
    top:30px;
    left:249px;
}
.main-banner .banner-cont .kakao {
    position: relative;
    padding-left:30px;
}
.main-banner .banner-cont .kakao > b {
    color:#111;
    vertical-align: top;
}
.main-banner .banner-cont .kakao::after {
    content:'';
    position: absolute;
    top:3px;
    left:0;
    display: block;
    width: 23px;
    height: 23px;
    background:url('/img/common/bg_sprite.png') no-repeat 0 0;

}
.main-banner .banner-cont .detail {
    margin-top:8px;
}
.main-banner .banner-cont .detail a {
    position: relative;
    display: inline-block;
    padding:0 5px;
    font-weight: bold;
    color: #111;
}
.main-banner .banner-cont .detail a::after
{
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 16px;
    border-radius: 2.5rem;
    background: #a2dbdf;
    z-index: -1;
}

/* btn-ico 아이콘형 버튼 */
a.btn-ico, button.btn-ico, span.btn-ico {
    display:inline-block;
    overflow:hidden;
    width:34px;
    height:34px;
    font-size:0;
    line-height:0;
    vertical-align:top;
    white-space:nowrap;
    background:url('/img/common/bg_sprite.png') 0 0 no-repeat;
}
.btn-ico.main-more {margin-left:13px; background-position:-184px 0;}

/* Desktop Device */
@media screen and (max-width: 1200px) {
    .main-slide .visual-box .play-ctrl {
        margin-left:-32%;
    }
    .main-slide .wrap {
        padding:0 40px;
    }
    .main-slide .visual-box .slick-prev {
        left:-4%;
    }
    .main-slide .visual-box .slick-next {
        right:-4%;
    }
    .category {
        padding:60px 40px 80px;
    }
}
