@charset "utf-8";

img {width:100%;}
.for-pc {display: none !important;}
.for-mobile {display: block !important;}
.m-block {display: block;}

#gnb {
    display:none;
    position: fixed;
    top:0;
    right:0;
    width:55%;
    height: 100vh;
    background:#fff;
    border-radius: 2.5rem 0 0 2.5rem;
    z-index:5;
}
#gnb > ul > li {
    float:none;
    width:100%;
    border-bottom:1px solid #dedede;
}
#gnb > ul > li.active {
   
}
#gnb > ul > li > a {
    display: block;
    padding: 20px 25px;
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
}
#gnb .depth2 {
    margin:0;
    padding:20px 15px;
    min-height:auto;
}
.bg-gnb.down {
    display:none;
}
/* main */
.main-slide {
    background:#f9f5f2;
}
.main-slide .visual-box {
    padding:40px 0 0;
}
.main-slide .visual-box .visual-cont {
    text-align:center;
    padding:0 20px;
}
.main-slide .visual-box .visual-cont .slide-detail {
    position: absolute;
    top:17%;
    left:50%;
    margin-top:10px;
    margin-left:-40px;
    padding:0 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.main-slide .visual-box .visual-cont .slide-detail::after {
    content: '';
    position: absolute;
    top:14px;
    left:0;
    width: 100%;
    height:8px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.main-slide .visual-box .visual-cont .slide-img {
}
.main-slide .visual-box .visual-cont .slide-img img {
    /* border-radius: 3.5rem;
    box-shadow: 9px 5px 12px 0px rgba(0, 0, 0, 0.1); */
}
/* dot */
.main-slide .visual-box .slide-dots {
    bottom: 0;
    margin:0 0 6% 0;
    width: 100%;
}
.main-slide .visual-box .slide-dots li {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    line-height: 25px;
}
.main-slide .visual-box .slide-dots li a {
    display:block;
    width:100%;
    height:100%;
    color:#111;
    font-size:1.1rem;
    border:1px solid #e6e6e6;
    border-radius:50%;
}
.main-slide .visual-box .slide-dots li.slick-active a, .main-slide .visual-box .slide-dots li a:hover {
    color:#fff;
    border-color:#383b4a;
    background:#383b4a;
}
/* Arrows */
.main-slide .visual-box .slick-prev,
.main-slide .visual-box .slick-next
{
    top: 50%;
    width: 17px;
    height: 27px;
    background-size: 200%;
    z-index: 4;
}
.main-slide .visual-box .slick-prev{
    left: 2%;
}
.main-slide .visual-box .slick-next{
    right: 2%;
    background-position: top right;
}
.main-slide .visual-box button:hover {
    background-position-y: bottom;
}
.main-slide .visual-box .play-ctrl {
    display:none;
    bottom:33px;
    width:25px;
    height:25px;
    margin-left:10%;
    background-size:52px 26px;
    background-position: -1px;
}
.main-slide .visual-box .play-ctrl.play {
    background-position: -27px;
}
.main-slide .visual-box .play-ctrl:hover {
    background-position-y:-1px;
}

.category {
    margin-top:-35px;
    padding-top:43px;
    background:#fff;
}

.category .cate-wrap {
    margin:0;
    padding:20px;
}
.category .cate-wrap ul {
    display: block;
    margin:0 -1%;
}
.category .cate-wrap ul li {
   display: inline-block !important;
    width: 30%;
    margin:0 1%;
}
.category .cate-wrap .thumb {
   padding-bottom:100%;
   background-size: 600%;
}

.category .cate-wrap .thumb.grow {
    background-position:20% 0 ;
}
.category .cate-wrap .thumb.hope {
    background-position:40% 0 ;
}
.category .cate-wrap .thumb.psy {
    background-position:60% 0 ;
}
.category .cate-wrap .thumb.visit {
    background-position:80% 0 ;
}
.category .cate-wrap .thumb.fit {
    background-position:100% 0 ;
}
.category .cate-wrap a:hover .thumb {
    
}
.category .cate-wrap dl {
    text-align: center;
    font-size: 1.4rem;
}
.category .cate-wrap dt {
    margin:10px 0 30px;
    letter-spacing: -0.1rem;
}
.category .cate-wrap dd {
    display:none !important;
}

/* News */
.main .news:after {
    background:#f2f2f2;
}
.main .news .wrap {
    padding:50px 0 50px 20px;
}
.main .news .btn-ico,.center-news .btn-ico {
    display: inline-block;
    vertical-align: top;
    margin-top:5px;
    width: 24px;
    height:24px;
}
.main .news .main-more, .center-news .main-more {
    background:url('../img/main/main_more_m.png');
    background-size: 24px;
}
.main .news .news-tab {
    margin-top:30px;
    text-align: center;
}
.main .news .news-tab li {
    padding:0 5px;
}
.main .news .news-tab li a {
    padding:0 4px;
    font-size:2rem;
    text-align: center;
}
.main .news .news-tab li.active a::after {
    top:14px;
    left:0;
    width: 100%;
    height:8px;
}
.main .news .tab-cont {
    display: block;
    margin-top:21px;
    overflow-x:auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main .news .tab-cont::-webkit-scrollbar {
    display: none;
}
.main .news .news-cont {
    display: block;
    width: calc(165px * 4 );
    
}
.main .news .news-cont .news-list {
    display: block;
    float:left;
    margin-right:10px;
    padding:25px 15px;
    width: 155px;
    border-radius: 15px;
}
.main .news .news-cont .news-list .news-tit {
    min-height:54px;
    font-size:1.3rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.main .news .news-cont .news-list .news-tit .ico-new {
    margin-top: 1px;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0 3px;
    width:16px;
    height:16px;
    line-height:16px;
}
.main .news .news-cont .news-list .news-detail {
    margin-top:13px;
    font-size: 1.1rem;
}
.main .news .news-cont .news-list .news-date {
    margin-top:17px;
    font-size: 1.1rem;
}

.center-news {
    padding:48px 20px 38px; 
    background-image:url('../img/main/bg_center_m.png');
    background-size: cover;
}
.center-news .center-act .center-info {
    margin:20px 0 80px;
}
.center-news .center-act .center-info .info-box {
    border-radius: 2rem;
}
.center-news .center-act .center-info .info-cont {
    padding:20px 15px 14px;
}
.center-news .center-act .center-info h3 {
    min-height:40px;
    line-height: 1.4;
    font-size: 1.6rem;;
}
.center-news .center-act .center-info .info-date {
    margin-top:15px;
    font-size:1.6rem;
}
.center-news .center-act .slick-dots {
    bottom:-43px;
    padding: 0;
    margin: 0;
    width: 100%;
}
.center-news .center-act .slick-dots li {
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
}
.center-news .center-act .slick-dots li button {
    line-height:22px;
    font-size:1.3rem;
}
.center-news .main-calendar {
    margin-top:20px;
}

.center-news .ui-widget.ui-widget-content {
    padding: 32px 30px;
    width: 100%;
    box-sizing: border-box;
    border:0 none;
    border-radius: 20px;
    box-shadow: 15px 13px 20px 0px rgba(71, 73, 75, 0.15);
}
.center-news .event-date {
    position: relative;
}
.center-news .event-date a {
    background: #a2dbdf;
}
.center-news .event-date a:hover {
    color:#fff !important;
    background:#2f8188;
}

.center-news .event-date:hover:after {
    background: #2f8188;
    border-radius: 25px;
    top: -90%;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
}
.center-news .event-date:hover:before {
    border: solid;
    border-color: #2f8188 transparent;
    border-width: 18px 23px 0 0px;
    content: "";
    left: 85%;
    top:-5px;
    position: absolute;
    transform: rotate(12deg);;
    z-index: 99;
}
.center-news .ui-datepicker .ui-datepicker-title {
    margin:0;
    text-align:left;
    font-size:2.4rem;
}
.center-news .ui-datepicker .ui-datepicker-title select {
    padding-right:0;
    width:auto;
}
.center-news .ui-datepicker .ui-datepicker-prev span, .center-news  .ui-datepicker .ui-datepicker-next span {
    margin-top:17px;
}
.center-news .ui-datepicker .ui-datepicker-prev .ui-icon {
    margin-left:220px;
}
.center-news .ui-datepicker .ui-datepicker-next .ui-icon {
    margin-left:-8px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    max-width:36px;
}
/* calendar */

.main-banner {
    position: relative;
    /* padding:49px 20px 140px;
    text-align: center; */
}
.main-banner::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-2;
}
/* .main-banner::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url('../img/main/bg_banner_m.png') no-repeat center bottom;
    background-size: 100% auto;
    z-index:-2;
}
.main-banner .wrap {
    position: relative;
}
.main-banner .m-block {
    display: block;
}
.main-banner .banner-cont p {
    margin-top:14px;
    text-indent: -0.6rem;
    font-size:1.5rem;
    color:#666;
}
.main-banner .banner-cont .kakao {
    margin-top:0;
}
.main-banner .banner-cont .kakao > b {
    vertical-align: top;
    color:#111;
}
.main-banner .banner-cont .qrcode {
    position: absolute;
    top:145px;
    left:275px;
} */
.main-banner .for-mobile {
    position: relative;
    z-index: -2;
}
.main-banner .detail {
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
}
.main-banner .detail a {
    position: relative;
    display: inline-block;
    margin-top:15px;
    padding:0 5px;
    font-size:3.8vw;
    font-weight: bold;
    color: #111;
}
.main-banner .detail a::after
{
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 2.5rem;
    background: #a2dbdf;
    z-index: -1;
}

/* search */
.search-area {
    width:100%;
}
.search-box {
    padding:8px 20px;
}
.search-box .input_search {
    width: 90%;
    height:20px;
}
.search-box .btn_search {
    width: 22px;
    height:22px;
    background:url('../img/common/btn_search.png') no-repeat center;
}
.cont-box {
    padding:30px 20px 50px;
}

.section-box {
    margin-top:30px;
}
.section-box.first {
    margin-top:0;
}
.section-box .sec-tit {
    margin-bottom:20px;
    padding-left:23px;
    font-size:1.8rem;
}
.section-box .sec-tit.sm {
    background-position: 0 8px;
}
.section-box .sec-sub-tit {
    padding-left:16px;
    background-size:800px auto;
}
.section-box .round-box.inline {
    padding:10px 20px;
    font-size:1.6rem;
    font-weight:500;
}
.section-box .sec-txt {
    margin-bottom:30px;
    line-height: 2.4rem;
    font-size:1.6rem;
    color:#666;
}
.section-box .sec-txt .import {
    display: inline-block;
}
.section-box .sec-txt .import::after {
    content: '';
    position: absolute;
    top:13px;
    left:0;
    width: 100%;
    height:10px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.section-box .caution {
    margin:10px 0 0 10px;
    padding-left:30px;
    text-indent: -30px;
    font-size: 1.6rem;
    color:#666;
}
.section-box .section {
    margin-top:40px;
}
.section-box .round-box {
    padding:10px 19px;
}
.section-box .round-box.center {
    padding:30px 0 20px;
    border-radius: 1.5rem;
    font-size:1.6rem;
}
.half-box {

}
.half-box > div {
    margin-top:10px;
}

.half-box.info  {
}
.half-box.info:first-child  {
}
.half-box.info > div {
}
.half-box.info {
    position: relative;
    border:0 none;
}
.half-box.info:nth-child(2n)  {
}
.half-box.info h4 {
    margin-bottom:10px;
    font-size: 2rem;
}
.half-box.info .img-box {
    margin:10px 0 40px;
}
.half-box.info .txt {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height:2.4rem;
}
.half-box.info .btn-box {
    text-align: left;
}
.half-box.info .btn {
    margin:0 10px 40px 0;
    font-size:1.2rem;
    font-weight: 600;
}
/* 탈북학생 현황 */
.graph-box {
    padding:75px 50px 50px 80px;
    border:1px solid #ddd;
    border-radius: 15px;
}

.chart-wrapper ul li {
    margin:0 10px;
    padding:22px 0 16px;
    width: 210px;
    text-align: center;
    background:url('/img/common/bg_graph_body.png') repeat-y center;
}
.chart-wrapper ul li::before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    right:-40px;
    width: 21px;
    height:100%;
    background: url('/img/common/bg_graph_top.png') no-repeat center;
    transform: rotate(90deg);
}
.chart-wrapper ul li::after {
    content: '';
    display: block;
    position: absolute;
    bottom:-0;
    left:-20px;
    right:0;
    width: 38px;
    height: 100%;
    background: url('/img/common/bg_graph_bottom.png') no-repeat center;
    transform: rotate(90deg);
}
.chart-wrapper ul li span {
    color:#333;
}
.chart-wrapper ul li .count {
    position: absolute;
    top:-40px;
    left:0;
    right:0;
}
.chart-wrapper ul li .year {
    position: absolute;
    bottom:-40px;
    left:0;
    right:0;
}


.bar-chart {
  position: relative;
  min-width: 21px;
  min-height: 322px;
  padding: 0;
  margin: 0;
}

.bar-chart .chart-column,
.bar-chart [data-cp-size] {
  position: relative;
}
.bar-chart {
  clear: both;
}
.bar-chart .container {
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
}
.bar-chart .container [data-cp-size="0"] {
    width: 0%;
  }
  .bar-chart .container [data-cp-size="1"] {
    width: 1%;
  }
  .bar-chart .container [data-cp-size="2"] {
    width: 2%;
  }
  .bar-chart .container [data-cp-size="3"] {
    width: 3%;
  }
  .bar-chart .container [data-cp-size="4"] {
    width: 4%;
  }
  .bar-chart .container [data-cp-size="5"] {
    width: 5%;
  }
  .bar-chart .container [data-cp-size="6"] {
    width: 6%;
  }
  .bar-chart .container [data-cp-size="7"] {
    width: 7%;
  }
  .bar-chart .container [data-cp-size="8"] {
    width: 8%;
  }
  .bar-chart .container [data-cp-size="9"] {
    width: 9%;
  }
  .bar-chart .container [data-cp-size="10"] {
    width: 10%;
  }
  .bar-chart .container [data-cp-size="11"] {
    width: 11%;
  }
  .bar-chart .container [data-cp-size="12"] {
    width: 12%;
  }
  .bar-chart .container [data-cp-size="13"] {
    width: 13%;
  }
  .bar-chart .container [data-cp-size="14"] {
    width: 14%;
  }
  .bar-chart .container [data-cp-size="15"] {
    width: 15%;
  }
  .bar-chart .container [data-cp-size="16"] {
    width: 16%;
  }
  .bar-chart .container [data-cp-size="17"] {
    width: 17%;
  }
  .bar-chart .container [data-cp-size="18"] {
    width: 18%;
  }
  .bar-chart .container [data-cp-size="19"] {
    width: 19%;
  }
  .bar-chart .container [data-cp-size="20"] {
    width: 20%;
  }
  .bar-chart .container [data-cp-size="21"] {
    width: 21%;
  }
  .bar-chart .container [data-cp-size="22"] {
    width: 22%;
  }
  .bar-chart .container [data-cp-size="23"] {
    width: 23%;
  }
  .bar-chart .container [data-cp-size="24"] {
    width: 24%;
  }
  .bar-chart .container [data-cp-size="25"] {
    width: 25%;
  }
  .bar-chart .container [data-cp-size="26"] {
    width: 26%;
  }
  .bar-chart .container [data-cp-size="27"] {
    width: 27%;
  }
  .bar-chart .container [data-cp-size="28"] {
    width: 28%;
  }
  .bar-chart .container [data-cp-size="29"] {
    width: 29%;
  }
  .bar-chart .container [data-cp-size="30"] {
    width: 30%;
  }
  .bar-chart .container [data-cp-size="31"] {
    width: 31%;
  }
  .bar-chart .container [data-cp-size="32"] {
    width: 32%;
  }
  .bar-chart .container [data-cp-size="33"] {
    width: 33%;
  }
  .bar-chart .container [data-cp-size="34"] {
    width: 34%;
  }
  .bar-chart .container [data-cp-size="35"] {
    width: 35%;
  }
  .bar-chart .container [data-cp-size="36"] {
    width: 36%;
  }
  .bar-chart .container [data-cp-size="37"] {
    width: 37%;
  }
  .bar-chart .container [data-cp-size="38"] {
    width: 38%;
  }
  .bar-chart .container [data-cp-size="39"] {
    width: 39%;
  }
  .bar-chart .container [data-cp-size="40"] {
    width: 40%;
  }
  .bar-chart .container [data-cp-size="41"] {
    width: 41%;
  }
  .bar-chart .container [data-cp-size="42"] {
    width: 42%;
  }
  .bar-chart .container [data-cp-size="43"] {
    width: 43%;
  }
  .bar-chart .container [data-cp-size="44"] {
    width: 44%;
  }
  .bar-chart .container [data-cp-size="45"] {
    width: 45%;
  }
  .bar-chart .container [data-cp-size="46"] {
    width: 46%;
  }
  .bar-chart .container [data-cp-size="47"] {
    width: 47%;
  }
  .bar-chart .container [data-cp-size="48"] {
    width: 48%;
  }
  .bar-chart .container [data-cp-size="49"] {
    width: 49%;
  }
  .bar-chart .container [data-cp-size="50"] {
    width: 50%;
  }
  .bar-chart .container [data-cp-size="51"] {
    width: 51%;
  }
  .bar-chart .container [data-cp-size="52"] {
    width: 52%;
  }
  .bar-chart .container [data-cp-size="53"] {
    width: 53%;
  }
  .bar-chart .container [data-cp-size="54"] {
    width: 54%;
  }
  .bar-chart .container [data-cp-size="55"] {
    width: 55%;
  }
  .bar-chart .container [data-cp-size="56"] {
    width: 56%;
  }
  .bar-chart .container [data-cp-size="57"] {
    width: 57%;
  }
  .bar-chart .container [data-cp-size="58"] {
    width: 58%;
  }
  .bar-chart .container [data-cp-size="59"] {
    width: 59%;
  }
  .bar-chart .container [data-cp-size="60"] {
    width: 60%;
  }
  .bar-chart .container [data-cp-size="61"] {
    width: 61%;
  }
  .bar-chart .container [data-cp-size="62"] {
    width: 62%;
  }
  .bar-chart .container [data-cp-size="63"] {
    width: 63%;
  }
  .bar-chart .container [data-cp-size="64"] {
    width: 64%;
  }
  .bar-chart .container [data-cp-size="65"] {
    width: 65%;
  }
  .bar-chart .container [data-cp-size="66"] {
    width: 66%;
  }
  .bar-chart .container [data-cp-size="67"] {
    width: 67%;
  }
  .bar-chart .container [data-cp-size="68"] {
    width: 68%;
  }
  .bar-chart .container [data-cp-size="69"] {
    width: 69%;
  }
  .bar-chart .container [data-cp-size="70"] {
    width: 70%;
  }
  .bar-chart .container [data-cp-size="71"] {
    width: 71%;
  }
  .bar-chart .container [data-cp-size="72"] {
    width: 72%;
  }
  .bar-chart .container [data-cp-size="73"] {
    width: 73%;
  }
  .bar-chart .container [data-cp-size="74"] {
    width: 74%;
  }
  .bar-chart .container [data-cp-size="75"] {
    width: 75%;
  }
  .bar-chart .container [data-cp-size="76"] {
    width: 76%;
  }
  .bar-chart .container [data-cp-size="77"] {
    width: 77%;
  }
  .bar-chart .container [data-cp-size="78"] {
    width: 78%;
  }
  .bar-chart .container [data-cp-size="79"] {
    width: 79%;
  }
  .bar-chart .container [data-cp-size="80"] {
    width: 80%;
  }
  .bar-chart .container [data-cp-size="81"] {
    width: 81%;
  }
  .bar-chart .container [data-cp-size="82"] {
    width: 82%;
  }
  .bar-chart .container [data-cp-size="83"] {
    width: 83%;
  }
  .bar-chart .container [data-cp-size="84"] {
    width: 84%;
  }
  .bar-chart .container [data-cp-size="85"] {
    width: 85%;
  }
  .bar-chart .container [data-cp-size="86"] {
    width: 86%;
  }
  .bar-chart .container [data-cp-size="87"] {
    width: 87%;
  }
  .bar-chart .container [data-cp-size="88"] {
    width: 88%;
  }
  .bar-chart .container [data-cp-size="89"] {
    width: 89%;
  }
  .bar-chart .container [data-cp-size="90"] {
    width: 90%;
  }
  .bar-chart .container [data-cp-size="91"] {
    width: 91%;
  }
  .bar-chart .container [data-cp-size="92"] {
    width: 92%;
  }
  .bar-chart .container [data-cp-size="93"] {
    width: 93%;
  }
  .bar-chart .container [data-cp-size="94"] {
    width: 94%;
  }
  .bar-chart .container [data-cp-size="95"] {
    width: 95%;
  }
  .bar-chart .container [data-cp-size="96"] {
    width: 96%;
  }
  .bar-chart .container [data-cp-size="97"] {
    width: 97%;
  }
  .bar-chart .container [data-cp-size="98"] {
    width: 98%;
  }
  .bar-chart .container [data-cp-size="99"] {
    width: 99%;
  }
  .bar-chart .container [data-cp-size="100"] {
    width: 100%;
  }
/* 단계별 교육 절차 */
.edu-step-box {
    padding:0 20px;
}
.edu-step-box .step-wrap {}
.edu-step-box .edu-step {}
.edu-step-box .tit-box {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
.edu-step-box .edu-step dl {
    margin-bottom:30px;
    padding:20px;
    font-size: 1.8rem;
}
.edu-step-box .edu-step dt {
    padding:12px 0;
}
.edu-step-box .edu-step dd {
    margin-top:20px;
    padding:12px 0;
}
.edu-step-box .edu-step .first {
  
}
.edu-step-box .edu-step .first dt {
    
}
.edu-step-box .edu-step .first dd {
    
}
.edu-step-box .edu-step.ele .second {
    display:none;
}
.edu-step-box .edu-step .second dt {
    
}
.edu-step-box .edu-step .second dd {
    
}
.edu-step-box .edu-step .third {
    
}
.edu-step-box .edu-step .third dt {
   
}
.edu-step-box .edu-step .third dd {
   
}
/* 인사말 */
.greeting-box {}
.greeting-box .g-tit {
    font-size:2rem;
}
.greeting-box .txt {
    margin-top:20px;
    line-height:2.2rem;
    font-size:1.6rem;
}
/* 조직도 */
.org-list {}
.org-list .org-box {
}
.org-list .org-box > ul {}
.org-list .org-box li {
  margin-bottom:8px;
}
.org-list .org-box > ul > li {
    margin-bottom:20px;
}
.org-list .org-box ul > li > span {
    padding:15px 20px;
    font-size:1.6rem;
}
.org-list .org-box ul > .line03 span {
    margin-left:60%;
}
.org-list .org-box ul > .line06 {
    margin-top:30px;
}
.org
.org-list .org-box li::after {
    content:"";
    position: absolute;
    background:#d5d6d8;
}
.org-list .org-box .line01::after {
    bottom:-232px;
    left:50%;
   width:1px;
   height:232px;
}

.org-list .org-box .line01::before {
    display:none;
}
.org-list .org-box .line02::before {
    display:none;
}
.org-list .org-box .line02::after {
    bottom: -50px;
    left: 50%;
    width: 30%;
    height: 1px;
}
.org-list .org-box .line03::after {
    display:none;
}
.org-list .org-box .line03::before {
    display:none;
}
.org-list .org-box .mid-org {
    
}
.org-list .org-box .mid-org dt, .org-list .org-box .mid-org dd {
    
}
.org-list .org-box .sub-org {
}
.org-list .org-box .sub-org.line {
}
.org-list .org-box .half > ul {
}
.table-box.org table td .s-bullet li {
    padding-left:20px;
    font-weight: 500;
    color:#333;
    background:url('/img/common/sub_bullet.png') no-repeat 10px 8px;
}
/* 지원체계 */
.org-list.support .support-tit {
    margin-bottom:20px;
    font-size:2rem;
}
.org-list .org-box .sub-org-info {
    display: block;
    margin:0 auto;
    max-width: 300px;
}
.org-list .org-box .sub-org-info dt {
    padding: 10px 0;
    width: 100%;
    font-size: 1.6rem;
}
.org-list .org-box .sub-org-info dd {
    padding: 10px 0;
    width: 100%;
    font-size: 1.6rem;
}
.org-list .org-box .sub-org.arrow {
    margin-top:20px;
}

.org-list.support .org-box .top-org {
    margin-top:20px;
}
.org-list.support .org-box .mid-org {
    margin-top:20px;
}
.org-list .org-box.line {
    padding:25px;
}
.org-list .org-box.line .round-box {
    padding:19px 0;
    font-size:1.6rem;
}
.org-list .org-box.line .round-box.dash {
    margin-top:10px;
}
.org-list .org-box .flex-box {
}
.org-list .org-box .flex-box .round-box.dash {
    min-width: 32%;
}
.org-list .org-box .flex-box .table-box {
    width: 100%;
}
.org-list .org-box .flex-box .table-box table {
    min-height:150px;
}
.org-list .org-box .flex-box .table-box table td {
}
/* map */
.map-box {}
.map-box .map-area {
    height:188px;
}
.map-box .map-area .root_daum_roughmap {
}
.map-box .loaction-info {
    margin-top:15px;
}
.map-box .loaction-info dl {
    font-size:1.6rem;
}
.map-box .loaction-info dt {
    min-width: 21%;
    padding-right:10px;
    height:20px;
}
.map-box .loaction-info dd {
}
.map-box .traffic-box {
    margin-top:30px;
}
.map-box .traffic-box .half-box {}
.map-box .traffic-box .half-box > div {
}
.map-box .traffic-box .half-box h4 {
    padding:15px 20px;
    font-size:2rem;
}
.map-box .traffic-box .half-box h4 .ico {
    margin-left:auto;
}
.map-box .traffic-box .detail-info {
    padding:0 20px 0;
}
.map-box .traffic-box dl {
    margin:20px 0;
}
.map-box .traffic-box dl:last-child {
    border:0 none;
}
.map-box .traffic-box .car-info dl {
}
.map-box .traffic-box dt {
    margin-bottom:17px;
    font-size:1.4rem;
}
.map-box .traffic-box dd {
    margin-bottom:20px;
    line-height:2rem;
    font-size:1.4rem;
}
.map-box .traffic-box dd li {
    margin-bottom: 10px;
}

/* table */
.table-box {
    margin-top:20px;
}
.table-box .table-top-box {
    position: relative;
    min-height:40px;
}
.table-box .table-top-box.sec {
    margin-top:30px;
}
.table-box .table-top-box .btn-box {
    margin:20px 0 0 -10px;
    text-align:left;
}
.table-box .table-top-box .table-top-info {
    font-size:1.8rem;
}
.table-box .table-top-box .table-top-info .m-hidden {
    display: none;
}
.table-box table {
    table-layout: auto;
}
.table-box thead th {
    height:50px;
}
.table-box .list-board thead th:nth-child(n+3) {
    display: none;
}
.table-box .list-board thead th:nth-child(1),.table-box .list-board tbody td:nth-child(1) {
    min-width: 50px;
}
.table-box .list-board thead th:nth-child(2),.table-box .list-board tbody td:nth-child(2) {
    width: 100%;
}
.table-box tbody td {
    padding:10px 0;
    color:#666;
    font-size:1.6rem;
}
.table-box .list-board tbody td:nth-child(n+3) {
    display:none;
}
.table-box tbody td.title {
    padding-left:10px;
}
.table-box .title span {
    display:none;
    
}
.table-box .title .badge {
    display:none;
}
.table-box .title a {
    position: relative;
    display:inline-block;
    max-width:88%;
    vertical-align: middle;
}
.table-box .title .b-tit {
    width: calc(100% - 14px);
    position: relative;
    margin-right: -14px;
    padding-right: 14px;
    display: block;
    overflow:hidden;
    max-width:100%;
    max-height:40px;
}
.table-box .title .b-tit:before {
    content: '...';
    position: absolute;
    right: 10px;
    bottom: 0; 
}
.table-box .title .b-tit:after {
    content: '';
    position: absolute;
    right: 10px;
    width: 14px;
    height: 14px;
    margin-top: 0.2em;
    background: white;  /* 배경색과 동일하게 적용 */
}
/* 테이블 type01 */
.table-box .m-board {
    overflow: hidden;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #e8e8e8;
}
.table-box .m-board.solo {
    margin-top:20px;
}
.table-box .m-board .st th::before {
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width: 2px;
    height:calc(100% + 3px);
    background: #2f8188;
}
/* 탈북학생 개념정의 모바일테이블 */
.table-box .m-board.m-line, 
.table-box .m-board.m-line thead, 
.table-box .m-board.m-line tbody, 
.table-box .m-board.m-line th, 
.table-box .m-board.m-line td, 
.table-box .m-board.m-line tr { 
    display: block; 
}
.table-box .m-board.m-line th {
    line-height:50px;
    border:0 none;
    border-bottom:1px solid #b1e2e5;
}
.table-box .m-board.m-line thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.table-box .m-board.m-line .row td { 
    border: none;
    position: relative;
    white-space: normal;
    text-align:center;
}

.table-box .m-board th {
    height:50px;
    border: 1px solid #b1e2e5;
    background:#e8f9fa;
}

.table-box .m-board td {
    padding:10px;
    border:1px solid #e8e8e8;
}
.table-box .m-board .part tr {
    background:url('../img/common/bg_tr_arrow.png') no-repeat center;
}

/* button */
.btn-box {
    margin-top:20px;
}
button.btn,a.btn,input[type="button"].btn {
    display: inline-block;
    min-width: 55px;
    height: 30px;
    margin:0 10px;
    padding: 0 15px;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 30px;
    color: #333;
}
.btn.small {
    margin:0 5px;
    padding:0 10px;
    height:25px;
    line-height:25px;
}
.btn.large {
    padding:0 20px;
    height:40px;
    line-height:40px;
}
.btn.round {
    padding:0 20px;
    height:35px;
    line-height:35px;
}

.detail-box {
    
}
.detail-box .detail-top {
    padding: 10px 20px;
    border-top:2px solid #333;
    border-bottom:1px solid #d5d6d8;
}
.detail-box .detail-top .detail-tit {
    padding:0;
    font-size:1.6rem;
    font-weight: 600;
}
.detail-box .detail-top .detail-util {
    margin-top:15px;
    text-align:right;
}
.detail-box .detail-top .detail-util dl {
    display: inline-block;
    margin-left:20px;
    font-size:1.2rem;
}
.detail-box .detail-top .detail-util dt {
    display: inline-block;
    margin-right:10px;
    font-weight: 600;
}
.detail-box .detail-top .detail-util dd {
    display: inline-block;
    color:#666;
}
.detail-box .detail-date {
    padding:10px 20px;
    font-size:1.2rem;
    font-weight:500;
    border-bottom: 1px solid #d5d6d8;
}
.detail-box .detail-date dt,
.detail-box .detail-date dd {
    display:inline-block;
}
.detail-box .detail-cont {
    position: relative;
    padding-top:10px;
    border-bottom:1px solid #333;
}
.detail-box .detail-cont .file-box {
    border-radius: 1.5rem;
    background:#f9f9f9;
}
.detail-box .detail-cont .file-tit {
    font-weight: bold;;
}
.detail-box .detail-cont .file-box .detail-part {
    padding:20px 15px;

}
.detail-box .detail-cont .file-box .detail-part li {
    margin:4px 0;
}
.detail-box .detail-cont .file-box .detail-part li .btn {
    display:none;
}
.detail-box .detail-cont .file-box .detail-part a {
    padding-left:5px;
}
.detail-box .detail-cont .file-box .detail-part a:hover {
    text-decoration: underline;
}
.detail-box .detail-cont .file-box .detail-part.dash {
    border-top:2px dashed #e8e8e8;
}
.detail-box .detail-cont .detail-txt {
    margin-top:40px;
    padding:20px;
    color:#666;
}
.detail-box .detail-cont .tag {
    margin-top:40px;
}
.detail-box .detail-cont .tag > span {
    margin:5px 5px 5px 0;
    height:23px;
    line-height:23px;
    font-size:1.1rem;
}
.detail-box .detail-cont .open-nuri {
    text-align: right;
}
.detail-box .detail-cont .open-nuri img {
    max-width: 100px;
}
.detail-box .list-ctrl {
    margin-top:40px;
    border:solid #333;
    border-width: 1px 0 1px 0;
}
.detail-box .list-ctrl ul {}
.detail-box .list-ctrl li {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:15px 20px;
}
.detail-box .list-ctrl li.next_list {
    border-top:1px solid #d5d6d8;
}
.detail-box .list-ctrl li .ico-updown {
    display: block;
    width: 12px;
    height: 7px;
    background: url(/img/common/ico_footer_arrow.png) no-repeat center;
}
.detail-box .list-ctrl .next_list .ico-updown {
    transform: rotate(180deg);
}
.detail-box .list-ctrl strong {
    padding-left:20px;
    
}
.detail-box .list-ctrl li a {
    margin-left:20px;
    width: 66%;
    color:#666;
}
.detail-box .list-ctrl .date {
    margin-left:auto;
    color:#666;
}


/* list */
.list-box {
    margin-top:20px;
}
.list-box .thumb-list {
}
.list-box .thumb-list ul {
    font-size:0;
}
.list-box .thumb-list li {
    position: relative;
    display:block;
    overflow:hidden;
    margin:10px 0;
    width:100%;
    border-radius: 25px;
}
.list-box .thumb {
    position: relative;
    width:100%;
    overflow:hidden;
}
.list-box .thumb img {

}
.list-box .cont {
    padding:20px;
} 
.list-box .cont .list-tit {

} 
.list-box .cont .date {
    margin-top:10px;
    text-align:right;
    color:#666;
    font-size:1.6rem;
}
.list-box .over {
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    background:rgba(77,179,186,0.6);
}
.list-box .over .ico {
    display:block;
    width:40px;
    height:40px;
    border:1px solid #fff;
    border-radius: 50%;
    color:#fff;

}
.horizen-list {}
.horizen-list ul {}
.horizen-list li {
    position: relative;
    margin:20px 0;
    padding:10px;
    border:1px solid #bcbcbc;
    border-radius: 1.5rem;
}
.horizen-list .thumb {
    display:inline-block;
    padding-bottom:0;
    width: 35%;
    border:1px solid #bcbcbc;
    border-radius: 1.5rem;
    vertical-align: top;
}
.horizen-list .list-cont {
    display:inline-block;
    vertical-align: top;
    width: calc(63% - 15px);
    padding-left:15px;
}
.horizen-list .list-tit {
    font-size:1.6rem;
}
.horizen-list .list-tit .info-badge {
    margin-left:10px;
    vertical-align: middle;
}
.horizen-list .list-txt {
    margin:6px 0 10px;
    height: 58px;
    overflow:hidden;
    line-height: 1.4;
    font-size:1.4rem;
}
.horizen-list .list-cont .tag {
    display: none;
}

/* tab */
.nav {}
.nav .nav-item {
    margin:0 -5px;
}
.nav .nav-item li {
    display: inline-block;
    margin:5px;
    width: calc(50% - 12px);
    font-size: 0;
}
.nav .nav-item li a {
    padding: 11px 0;
    font-size:1.4rem;
    font-weight: 500;
}
.nav .nav-item li.active a {
    margin:-1px;
}

/* faq */
.faq-list {
    margin-top:20px;
}
.faq-list dl {
    margin:10px 0;
    font-size:1.4rem;
}
.faq-list dt {
    padding:22px 40px;
}
.faq-list dt:before {
   top:24px;
   left:15px;
   width: 15px;
   height:15px;
   background-position:-61px -39px;
   background-size: 800px auto;
}
.faq-list dt::after {
    top:18px;
    right:10px;
    width: 26px;
    height:26px;
    background-position:-94px -39px;
    background-size: 800px auto;
}
.faq-list .active dt::after {
    top:19px;
}
.faq-list .active dt {
    margin:4px -1px;
}
.faq-list dd {
    padding:20px 40px;
    line-height:2.8rem;
}
.faq-list dd::before {
    top:28px;
    left:15px;
    width: 15px;
    height:15px;
    background-position:-77px -39px;
    background-size: 800px auto;
}

/* search */
.search-tit {
    margin: 20px 0 10px;
    font-size:1.8rem;
}
.s-result {
    margin-top:40px;
}
.s-result .s-head {
    position: relative;
    padding:15px 38px 15px 0;
    font-size:1.6rem;
}
.s-result .s-head .divider {
    width: 18px;
    height: 14px;
    background-image:url('/img/common/bg_search_divider_m.png');
    background-size:6px 10px;
}
.s-result .s-head .btn-ico {
   position: absolute;
   top:13px;
   right:0;
}
.s-result ul {
    margin-bottom:20px;
}
.s-result li {
    padding:15px 10px;
}
.s-result li .info-badge {
    display: none;
}
.s-result li .date {
    display: block;
    text-align: right;
}
.s-result li .key-word {
}

.no-result {
    margin-top: 30px;
    padding:80px 0;
    border-radius: 10px;
}
.no-result .empty {
    width:220px;
    font-size:1.6rem;
}
.no-result .empty .thumb {
    margin:0 auto 20px;
    width:76px;
    height:76px;
    background-position:-154px -67px ;
    background-size: 800px auto;
}
/* ico 아이콘형 버튼 */
a.btn-ico, button.btn-ico, span.btn-ico,span.ico {
    width:34px;
    height:34px;
    background-size: 800px 800px;
}
/* .btn-ico.main-more {
    margin-left:13px; 
    background-position:-184px 0;
} */
.ico.ico-file {
    margin-left:8px;  
    width:12px;
    height:14px;
    background-position:-24px -40px;
}
.ico.ico-link {
    margin-left: 8px;
    width: 14px;
    height: 14px;
    background-position: -23px -53px;
}
.ico.ico-noti {
    width:23px;
    height:19px;
    background-position:0 -40px;
}
.ico.ico-caution {
    margin-top:-5px;
    width:21px;
    height:21px;
    background-position:-38px -40px;
}
.ico.ico-arrow {
    margin-top:-2px;
    margin-left:15px;
    width:5px;
    height:9px;
    background-position:-122px -40px;
}
.ico.ico-car {
    width:35px;
    height:32px;
    background-position:-59px -68px;
}
.ico.ico-bus {
    width:31px;
    height:32px;
    background-position:-95px -68px;
}
.s-result .btn-ico.main-more {
    width:25px;
    height:25px;
    background-position:-128px -70px;
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
    .category .cate-wrap ul li {
        width: 14%;
    }
    .news .news-cont {
        width: 100%;
    }
    .news .news-cont .news-list {
        width: calc(25% - 14px) ;
    }
    .center-news .center-act .center-info .info-box {
        margin-right:10px;
    }
    .list-box .thumb-list ul {
        font-size:0;
        margin:0 -10px;
    }
    .list-box .thumb-list li {
        position: relative;
        display:inline-block;
        overflow:hidden;
        margin:10px;
        width:calc(50% - 22px);
        border-radius: 25px;
    }
    .horizen-list li { 
        padding-bottom:8%;
    }
    .horizen-list .thumb {
        width: 24%;
    }
    .horizen-list .list-tit {
        font-size: 2rem;
    }
    .horizen-list .list-txt {
        margin-top:10px;
        font-size: 1.8rem;
        height:auto;
    }
    .horizen-list .list-cont .tag {
        display: block;
        position: absolute;
        bottom:5%;
        left:10px;
        width: 100%;
    }
}