@charset "utf-8";

.for-pc {display: block !important;}
.for-mobile {display: none !important;}
/* main */
.main-slide {
    position: relative;
    height:630px;
    background:url('/img/main/main_slide01.png') no-repeat center;
}
.main-slide::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url('/img/main/main_slide01.png') no-repeat center;
    background-size: cover;
    z-index: -2;
}
.main-slide .visual-box {
    padding:50px 0;
}
.main-slide .visual-box .visual-cont {
    position: relative;
    min-height: 530px;
}
.main-slide .visual-box .visual-cont .slide-tit {
    margin-top:68px;
}
.main-slide .visual-box .visual-cont .slide-txt {
   margin-top:20px;
    font-size: 2.3rem;
   color:#666;
}
.main-slide .visual-box .visual-cont .slide-detail {
    position: relative;
    display: inline-block;
    margin-top:40px;
    font-size: 2rem;
    color:#111;
}
.main-slide .visual-box .visual-cont .slide-detail::after {
    content: '';
    position: absolute;
    top:12px;
    left:0;
    width: 100%;
    height:16px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.main-slide .visual-box .visual-cont .slide-img {
    position:absolute;
    top:0;
    right: 0;
}
/* dot */
.main-slide .visual-box .slide-dots {
    position: absolute;
    top: 50%;
    display: inline-block;
    padding: 0;
    margin:37px 0 0 0;
    list-style: none;
    text-align: center;
}
.main-slide .visual-box .slide-dots li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    line-height: 50px;
    padding: 0;
    cursor: pointer;
}
.main-slide .visual-box .slide-dots li:nth-child(n+4) {
    display: none !important;
}
.main-slide .visual-box .slide-dots li a {
    display:block;
    width:100%;
    height:100%;
    color:#111;
    font-size:1.2rem;
    border:1px solid #e6e6e6;
    border-radius:50%;
}
.main-slide .visual-box .slide-dots li.slick-active a, .main-slide .visual-box .slide-dots li a:hover {
    color:#fff;
    border-color:#383b4a;
    background:#383b4a;
}
/* Arrows */
.main-slide .visual-box .slick-prev,
.main-slide .visual-box .slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-top:-67px;
    width: 34px;
    height: 54px;
    padding: 0;

    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-color:transparent;
    background-image:url('/img/main/main_visual_arrow.png')
}
.main-slide .visual-box .slick-prev {
    left: -9.34%;
}
.main-slide .visual-box .slick-next {
    right: -9.34%;
    background-position: top right;
}
.main-slide .visual-box button:hover {
    background-position-y: bottom;
}
.main-slide .visual-box .play-ctrl {
    top:50%;
    margin:38px 0 0 -413px;
    width:50px;
    height:50px;
    background-position: -2px;
}
.main-slide .visual-box .play-ctrl.c-1 {
    margin-left:-534px
}
.main-slide .visual-box .play-ctrl.c-2 {
    margin-left:-474px
}
.main-slide .visual-box .play-ctrl.play {
    background-position: -54px;
}
.main-slide .visual-box .play-ctrl:hover {
    background-position-y:-2px;
}
.category {
    padding:60px 0 80px;
}
.category .cate-wrap {
    max-width:1200px;
}
.category .cate-wrap ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.category .cate-wrap ul li {
    max-width: 170px;
}
.category .cate-wrap ul li a:hover {
    text-decoration: none;
}
.category .cate-wrap .thumb {
   margin-bottom:20px;
   width:160px;
   height:160px;
}

.category .cate-wrap .thumb.grow {
    background-position: -160px 0;
}
.category .cate-wrap .thumb.hope {
    background-position: -320px 0;
}
.category .cate-wrap .thumb.psy {
    background-position: -480px 0;
}
.category .cate-wrap .thumb.visit {
    background-position: -640px 0;
}
.category .cate-wrap .thumb.fit {
    background-position: -800px 0;
}
.category .cate-wrap a:hover .thumb {
    background-position-y: -160px;
}
.category .cate-wrap dl {

}
.category .cate-wrap dt {
    font-size:2rem;
}
.category .cate-wrap a:hover dt::after {
    top:13px;
    left:0;
    width: 100%;
    height:16px;
}
.category .cate-wrap dd {
    margin-top: 10px;
    font-size: 1.6rem;
}
.category .cate-wrap dd > span {
}

/* news */
.main .news {
    padding:58px 0 80px;
}
.main .news:after {
    background:#fbfbfb;
}
.wrap {
    max-width: 1200px;
}
.main .news .news-tab {
    margin-top:30px;
}
.main .news .news-tab li {
    padding:0 5px;
    display:inline-block;
}
.main .news .news-tab li a {
    position: relative;
    display: inline-block;
    font-size:2rem;
    color:#666;
}
.main .news .news-tab li.active a {
    font-weight:bold;
    color:#111;
}
.main .news .news-tab li.active a::after {
    top:12px;
    left:0;
    width: 100%;
    height:16px;
}
.main .news .news-cont {
    display: flex;
    margin:24px -10px 0;
}
.main .news .news-cont .news-list {
    margin:0 10px;
    padding:50px 30px 40px;
    width: 285px;
    border-radius: 20px;
    box-shadow:7px 7px 30px 0px rgba(0, 0, 0, 0.1);
}
.main .news .news-cont .news-list .news-tit {
    min-height:84px;
    font-size:2rem;
}
.main .news .news-cont .news-list .news-tit .ico.ico-new {
    margin-top:2px;
    width:24px;
    height:24px;
    font-size:1.2rem;
    line-height:24px;
}
.main .news .news-cont .news-list .news-detail {
    margin:20px 0 38px;
    font-size:1.8rem;
}
.main .news .news-cont .news-list .news-date {
    font-size:1.6rem;
}
.center-news {
    padding:115px 0 90px;
    background:#fef9e6 url("/img/main/bg_center.png") no-repeat center;
}
.center-news .wrap {

}
.center-news .schedule .section-tit {
    margin-left:16px;
}
.center-news .wrap > div {
    display: inline-block;
    vertical-align: top;
}
.center-news .center-act {
    width:800px;
}
.center-news .center-act .center-info {
    margin-top:30px;
}
.center-news .center-act .center-info .info-box {
    margin:0 20px 30px 0;
    width: 380px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 13px 13px 0px rgba(71, 73, 75, 0.15);
}
.center-news .center-act .center-info .thumb img {
    min-height:234px;
}
.center-news .center-act .center-info .info-cont {
    padding:30px;
}
.center-news .center-act .center-info h3 {
    min-height:56px;
    font-size: 2.4rem;;
}
.center-news .center-act .center-info .info-date {
    margin-top:15px;
    font-size:1.6rem;
}
.center-news .center-act .slick-dots {
    top: -60px;
    right: 20px;
    padding: 0;
    margin: 0;
}
.center-news .center-act .slick-dots li {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
.center-news .center-act .slick-dots li button {
    line-height:30px;
}
.center-news .wrap .main-calendar {
    margin: 33px 0 0 16px;
    width: 376px;
}
.center-news .ui-widget.ui-widget-content {
    padding: 32px 30px;
    width: 100%;
    min-height:394px;
    box-sizing: border-box;
    border:0 none;
    border-radius: 20px;
    box-shadow: 15px 13px 20px 0px rgba(71, 73, 75, 0.15);
}
.center-news .ui-datepicker .ui-datepicker-title {
    margin:0;
    text-align:left;
    font-size:2.4rem;
}
.center-news .ui-datepicker .ui-datepicker-title select {
    padding-right:0;
    width:auto;
}
.center-news .ui-datepicker .ui-datepicker-prev span, .center-news  .ui-datepicker .ui-datepicker-next span {
    margin-top:17px;
}
.center-news .ui-datepicker .ui-datepicker-prev .ui-icon {
    margin-left:270px;
}
.center-news .ui-datepicker .ui-datepicker-next .ui-icon {
    margin-left:-20px;
}
.center-news .event-date {
    position: relative;
}
.center-news .event-date a {
    background: #a2dbdf;
}
.center-news .event-date a:hover {
    color:#fff !important;
    background:#2f8188;
}

.center-news .event-date:hover:after {
    background: #2f8188;
    border-radius: 25px;
    top: -90%;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
}
.center-news .event-date:hover:before {
    border: solid;
    border-color: #2f8188 transparent;
    border-width: 18px 23px 0 0px;
    content: "";
    left: 85%;
    top:-5px;
    position: absolute;
    transform: rotate(12deg);;
    z-index: 99;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    max-width:36px;
}

/* 메인 하단배너 */
.main-banner {
    position: relative;
    /* padding:80px; */
}
.main-banner::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size:cover;
    z-index: -2;
}
.main-banner .wrap {
}
/* .main-banner .banner-cont {
    position: relative;
    margin-top:15px;
}
.main-banner .banner-cont p {
    line-height:1.4;
    font-size:1.8rem;
    color:#666;
}
.main-banner .banner-cont .qrcode {
    position: absolute;
    top:30px;
    left:249px;
}
.main-banner .banner-cont .kakao {
    position: relative;
    padding-left:30px;
}
.main-banner .banner-cont .kakao > b {
    color:#111;
    vertical-align: top;
}
.main-banner .banner-cont .kakao::after {
    content:'';
    position: absolute;
    top:3px;
    left:0;
    display: block;
    width: 23px;
    height: 23px;
    background:url('/img/common/bg_sprite.png') no-repeat 0 0;

} */
.main-banner .for-pc {
    position: relative;
    z-index: -2;
}
.main-banner .detail {
    position: absolute;
    top:50%;
    left:50%;
    margin:50px 0 0 -552px;
}
.main-banner .detail a {
    position: relative;
    display: inline-block;
    padding:0 5px;
    font-weight: bold;
    color: #111;
}
.main-banner .detail a::after
{
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 16px;
    border-radius: 2.5rem;
    background: #a2dbdf;
    z-index: -1;
}

/* search */
.search-area {
    width:60%;
}
.search-box {
    padding:10px 20px;
}
.search-box .input_search {
    width: 95%;
}
.search-box .btn_search {
    width: 22px;
    height:22px;
    background:url('/img/common/btn_search.png') no-repeat center;
}


.cont-box {
    padding:60px 0 100px;
}
.section-box {
    margin-top:60px;
}
.section-box.first {
    margin-top:0px;
}
.section-box .sec-tit {
    margin-bottom:30px;
    padding-left:23px;
    font-size:2.4rem;
}
.section-box .sec-sub-tit {
    padding-left:16px;
}
.section-box .sec-txt {
    margin-bottom:30px;
    line-height: 3.2rem;
    font-size:1.8rem;
    color:#666;
}
.section-box .caution {
    margin:10px 0 0 10px;
    padding-left:30px;
    text-indent: -30px;
    font-size: 1.6rem;
    color:#666;
}
.section-box .section {
    margin-top:80px;
}


.section-box .half-box .round-box {
    margin:36px 0 -28px;
    padding:10px 0;
    font-size:1.5rem;
    letter-spacing: -0.02rem;
    text-align: center;
}
.section-box .round-box.solo {
    padding:50px 0 35px;
    font-size:2.4rem;
}
.half-box {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px -10px 0;
}
.half-box > div {
    margin:0 10px;
}

.half-box.info  {
    padding:30px 0 50px;
}
.half-box.info:first-child  {
    padding-top:0;
}
.half-box.info > div {
    margin:0 20px;
    width:calc(50% - 20px);
}
.half-box.info  {
    border-bottom:1px dashed #e9e9e9;
}
.half-box.info:nth-child(2n)  {
    flex-direction: row-reverse;
}
.half-box.info:nth-child(2n) .txt {
   text-align: right;
}
.half-box.info:nth-child(2n) .btn-box {
    text-align: right;
 }
 .half-box.info:nth-child(2n) .btn-box .btn {
    margin-right: 0;
 }
.half-box.info .img-box {
    border-radius: 2.5rem;
}
.half-box.info h4 {
    margin-top:20px;
    font-size:3.6rem;
}
.half-box.info .txt {
    margin-top:40px;
    line-height:3.2rem;
    font-size:1.8rem;
}
.half-box.info .btn-box {
    text-align: left;
}
.half-box.info .btn-box .btn {
    margin-left:0;
}
/* 인사말 */
.greeting-box {}
.greeting-box .g-tit {
    font-size:3.6rem;
}
.greeting-box .txt {
    margin-top:40px;
    line-height:3.2rem;
    font-size:1.8rem;
}

/* 조직도 */
.org-list {}
.org-list .org-box {
}
.org-list .org-box > ul {}
.org-list .org-box li {
    position: relative;
}
.org-list .org-box li::after {
    content:"";
    position: absolute;
    background:#d5d6d8;
}
.org-list .org-box li::before {
    content:"";
    position: absolute;
    left: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
}
.org-list .org-box .line01::after {
    bottom:-232px;
    left:50%;
   width:1px;
   height:232px;
}
.org-list .org-box .line01::before {
    bottom: -28px;
    margin-left: -7px;
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    background: #2f8188;
}
.org-list .org-box .line02::before {
    bottom: -47px;
    z-index: 1;
    margin-left: 297px;
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    background: #96dfe4;
}
.org-list .org-box .line02::after {
    bottom: -20px;
    left: 50%;
    width: 304px;
    height: 1px;
}
.org-list .org-box .line03::after {
    bottom: 62px;
    left: 50%;
    margin-left: 303px;
    width: 1px;
    height: 20px;
}
.org-list .org-box .line03::before {
    bottom: -47px;
    z-index: 1;
    margin-left: -275px;
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    background: #96dfe4;
}
.org-list .org-box .line04::after {
    top: 22px;
    left: 50%;
    width: 537px;
    height: 1px;
    margin-left: -268px;
}
.org-list .org-box .line04::before {
    top: 33px;
    z-index: 1;
    margin-left: 261px;
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    background: #96dfe4;
}
.org-list .org-box .line05::after {
    top: 22px;
    left: 50%;
    width: 1px;
    height: 100px;
    margin-left: 3px;
    z-index: -1;
}
.org-list .org-box .line05::before {
    top: 115px;
    margin-left: -4px;
    width: 14px;
    height: 14px;
    border: 4px solid #96dfe4;
    background: #f9f9f9;
}
.org-list .org-box .line06::after {
    top: 22px;
    left: 50%;
    width: 1px;
    height: 100px;
    margin-left: -3px;
    z-index: -1;
}
.org-list .org-box .line06::before {
    top: 115px;
    margin-left: -10px;
    width: 14px;
    height: 14px;
    border: 4px solid #96dfe4;
    background: #f9f9f9;
}
.org-list .org-box ul > li > span {
    padding:20px 0;
    min-width:280px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.org-list .org-box .mid-org {
    margin-top:20px;
}
.org-list .org-box .mid-org dt, .org-list .org-box .mid-org dd {
    display:inline-block;
}
.org-list .org-box .sub-org {
    margin-top:40px;
    min-width:425px;
}
.org-list .org-box .sub-org.line {
    margin-left:610px;
    min-width:280px;
}
.org-list .org-box .half > ul {
    display: flex;
    justify-content: space-evenly;
}
.org-list .org-box .half > ul > li {
    width: 425px;
}

/* map */
.map-box {}
.map-box .map-area {
    height:375px;
}
.map-box .map-area .root_daum_roughmap {
}
.map-box .loaction-info {
}
.map-box .loaction-info dl {
    font-size:1.6rem;
}
.map-box .loaction-info dt {
    min-width: 80px;
    padding-right:20px;
    height:22px;
}
.map-box .loaction-info dd {
}
.map-box .traffic-box {
    margin-top:55px;
}
.map-box .traffic-box .half-box {}
.map-box .traffic-box .half-box > div {
    min-height:600px;
}
.map-box .traffic-box .half-box h4 {
    padding:24px 40px;
    font-size:3rem;
}
.map-box .traffic-box .half-box h4 .ico {
    margin-left:auto;
}
.map-box .traffic-box .detail-info {
    padding:0 40px 40px;
}
.map-box .traffic-box dl {
    margin:40px 0;
}
.map-box .traffic-box .car-info dl {
}
.map-box .traffic-box dt {
    margin-bottom:27px;
    font-size:1.6rem;
}
.map-box .traffic-box dd {
    margin-bottom:40px;
    line-height:2.8rem;
    font-size:1.6rem;
}
.map-box .traffic-box dd li {
    margin-bottom: 15px;
}

/* table */
.table-box {
    margin-top:30px;
}
.table-box .table-top-box {
    position: relative;
    min-height:40px;
}
.table-box .table-top-box.sec {
    margin-top:30px;
}
.table-box .table-top-box .btn-box {
    position: absolute;
    top:0;
    right: 0;
    margin:0;
}
.table-box .table-top-box .table-top-info {
    font-weight: bold;
    font-size:1.8rem;
}
.table-box .table-top-box .table-top-info .m-hidden {
    vertical-align: baseline;
}
.table-box table {
    table-layout: fixed;
}
.table-box thead th {
    height:70px;
    border-bottom:1px solid #333;

}
.table-box tbody td {
    padding:20px 0;
    color:#666;
    font-size:1.6rem;
    text-align: center;
    border-bottom:1px solid #e8e8e8;
}
.table-box tbody td.title {
    padding-left:10px;
    color:#333;
    text-align:left;
}
.table-box .title span {
    display:inline-block;
    
}
.table-box .title .badge {
    display:inline-block;
    margin-right:10px;
    min-width:52px;
    height:25px;
    line-height:25px;
    color:#fff;
    font-size:1.4rem;
    text-align:center;
    border-radius: 2.5rem;
    background:blue;
}
.table-box .title a {
    position: relative;
    display:inline-block;
    max-width:88%;
    vertical-align: middle;
}
.table-box .title a:hover:after {
    content: '';
    position: absolute;
    top:16px;
    left:0;
    width: 100%;
    height:10px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.table-box .title .b-tit {
    display: block;
    max-width:100%;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
/* 테이블 조직도 */
.table-box.org {
    margin-top:20px;
}
.table-box.org table {

}
.table-box.org table td.left {
   
}
.table-box.org table td .s-bullet {}
.table-box.org table td .s-bullet li {
    padding-left:20px;
    list-style: disc;
    list-style-position: inside;
    font-weight:500;
    color:#333;
}
/* 테이블 type01 */
.table-box .m-board {
    overflow: hidden;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #e8e8e8;
}
.table-box .m-board.solo {
    margin-top:20px;
}
.table-box .m-board th {
    height:50px;
    border: 1px solid #b1e2e5;
    background:#e8f9fa;
}

.table-box .m-board td {
    padding:10px 0;
    border:1px solid #e8e8e8;
}
.table-box .m-board .part tr {
    background:url('/img/common/bg_tr_arrow.png') no-repeat center;
}
.table-box .m-board .part tr td {
    border:0 none;
    border-bottom: 1px solid #e8e8e8;
}
.table-box .m-board .row td {
    padding-left:30px;
}
.table-box .m-board th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
 
.table-box .m-board th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
 
.table-box .m-board th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
 
.table-box .m-board tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
 
.table-box .m-board tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
/* list */
.list-box {
    margin-top:40px;
}
.list-box .thumb-list {
}
.list-box .thumb-list ul {
    margin:0 -10px;
    font-size:0;
}
.list-box .thumb-list li {
    position: relative;
    display:inline-block;
    overflow:hidden;
    margin:10px;
    width:calc(33.3333% - 22px);
    border-radius: 25px;
}
.list-box .thumb {

}
.list-box .thumb img {
    width: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%); */
}
.list-box .cont {
    padding:20px;
} 
.list-box .cont .list-tit {
    min-height:48px;
} 
.list-box .type-letter .cont .list-tit {
    min-height:auto;
} 
.list-box .cont .date {
    margin-top:10px;
    font-size:1.6rem;
}
.list-box .over {
    width:100%;
    height:100%;
}
.list-box .thumb-list li:hover {
    margin:9px;
    border:2px solid #2f8188;
}
.list-box li a:hover .over {
}
.list-box .over .ico {
    width:40px;
    height:40px;

}

.horizen-list {}
.horizen-list ul {}
.horizen-list li {
    margin:20px 0;
    padding:30px;
    border:1px solid #bcbcbc;
    border-radius: 1.5rem;
    display: table;
}
.horizen-list .thumb {
    display: table-cell;
    padding-bottom:0;
    width: 14%;
    min-width: 158px;
    height:198px;
    border:1px solid #bcbcbc;
    border-radius: 1.5rem;
    vertical-align: middle;
}
.horizen-list .list-cont {
    display: table-cell;
    vertical-align: middle;
    width: calc(70% - 40px);
    padding-left:40px;
}
.horizen-list .list-tit {
    font-size:2.4rem;
}
.horizen-list .list-tit .info-badge {
    margin-left:10px;
    vertical-align: middle;
}
.horizen-list .list-txt {
    margin:24px 0 20px;
    line-height: 1.4;
    font-size:1.8rem;
}

/* search */
.search-tit {
    margin:30px 0 20px;
    font-size:2.4rem;
}
.search-tit .key-word {
}
.s-result {
    margin-top:55px;
}
.s-result .s-head {
    margin-top:20px;
    padding:22px 10px;
    font-size:1.8rem;
}
.s-result .s-head .btn-ico {
    position: absolute;
    right:20px;
}
.s-result ul {
    margin-bottom:20px;
}
.s-result li {
    display:flex;
    flex-wrap:nowrap;
    padding:22px 5px;
}
.s-result li a {
    position: relative;
    padding:0 5px;
}
.s-result li a:hover::after {
    content: '';
    position: absolute;
    top:16px;
    left:0;
    width: 100%;
    height:8px;
    border-radius: 2.5rem;
    background:#a2dbdf;
    z-index:-1;
}
.s-result li .date {
}
.s-result li .key-word {
}
/* button */
.btn-box {
    margin-top:40px;
}
button.btn,a.btn,input[type="button"].btn {
    min-width: 87px;
    height: 40px;
    margin:0 10px;
    padding: 0 30px;
    border-radius: 3px;
    font-size: 1.6rem;
    line-height: 40px;
}
.btn.small {
    margin:0 5px;
    padding:0 20px;
    height:30px;
    line-height:30px;
}
.btn.large {
    padding:0 40px;
    height:50px;
    line-height:50px;
}
.btn.round {
    padding:0 53px;
    border-radius:3.5rem;
}
.btn.direct {
    font-size:1.6rem;
    font-weight: 500;
    border-radius: 1rem;
}

/* 자료실 */

.detail-box {
    
}
.detail-box .detail-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 26px 30px;
    border-top:2px solid #333;
    border-bottom:1px solid #d5d6d8;
}
.detail-box .detail-top .detail-tit {
    padding:0;
    font-size:2rem;
    font-weight: 600;
}
.detail-box .detail-top .detail-util {}
.detail-box .detail-top .detail-util dl {
    display: inline-block;
    margin-left:40px;
    font-size:1.6rem;
}
.detail-box .detail-top .detail-util dt {
    display: inline-block;
    margin-right:20px;
    font-weight: 600;
}
.detail-box .detail-top .detail-util dd {
    display: inline-block;
    color:#666;
}
.detail-box .detail-cont {
    position: relative;
    padding-top:10px;
    border-bottom:1px solid #333;
}
.detail-box .detail-cont .file-box {
    border-radius: 1.5rem;
    background:#f9f9f9;
}
.detail-box .detail-cont .file-tit {

}
.detail-box .detail-cont .file-box .detail-part {
    padding:20px 40px;

}
.detail-box .detail-cont .file-box .detail-part li {
    margin:4px 0;
}
.detail-box .detail-cont .file-box .detail-part a {
    padding-left:5px;
}
.detail-box .detail-cont .file-box .detail-part a:hover {
    text-decoration: underline;
}
.detail-box .detail-cont .file-box .detail-part.dash {
    border-top:1px dashed #333;
}
.detail-box .detail-cont .detail-txt {
    margin-top:40px;
    padding:20px;
}
.detail-box .detail-cont .tag {
    margin-top:40px;
}
.detail-box .detail-cont .open-nuri {
    text-align: right;
}
.detail-box .list-ctrl {
    margin-top:40px;
    border:solid #333;
    border-width: 1px 0 1px 0;
}
.detail-box .list-ctrl ul {}
.detail-box .list-ctrl li {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.detail-box .list-ctrl li.next_list {
    border-top:1px solid #d5d6d8;
}
.detail-box .list-ctrl li .ico-updown {
    display: block;
    width: 12px;
    height: 7px;
    background: url(/img/common/ico_footer_arrow.png) no-repeat center;
}
.detail-box .list-ctrl .next_list .ico-updown {
    transform: rotate(180deg);
}
.detail-box .list-ctrl strong {
    padding-left:40px;
    
}
.detail-box .list-ctrl li a {
    margin-left:60px;
    color:#666;
}
.detail-box .list-ctrl .date {
    margin-left:auto;
    color:#666;
}

/* tab */
.nav {}
.nav .nav-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 -10px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav .nav-item li {
    margin:0 10px;
    flex-grow: 1;
    text-align: center;
    border-radius: 0;
}
.nav .nav-item li a {
    padding: 23px 0;
    font-size: 1.8rem;
}
.nav .nav-item li.active a, .nav .nav-item li a:hover {
    margin:-1px;
}

/* faq */
.faq-list {
    margin-top:40px;
}
.faq-list dl {
    margin:10px 0;
    font-size:1.8rem;
}
.faq-list dt {
    padding:24px 70px;
}
.faq-list dt:before {
   top:26px;
   left:30px;
   width: 20px;
   height:20px;
   background-position:-116px -50px;
}
.faq-list dt::after {
    top:18px;
    right:30px;
    width: 35px;
    height:35px;
    background-position:-184px -38px;
}
.faq-list .active dt::after {
    top:13px;
}
.faq-list .active dt {
    margin:4px -1px;
}
.faq-list dd {
    padding:24px 70px;
    line-height:2.8rem;
}
.faq-list dd::before {
    top:35px;
    left:30px;
    width: 20px;
    height:20px;
    background-position:-141px -50px;
}

/* ico 아이콘형 버튼 */
a.btn-ico, button.btn-ico, span.btn-ico,span.ico {
    width:34px;
    height:34px;
}
.btn-ico.main-more {
    margin-left:13px; 
    background-position:-184px 0;
}
.ico.ico-file {
    margin-top:2px;
    margin-left:8px;  
    width:15px;
    height:17px;
    background-position:-1px -50px;
}
.ico.ico-link {
    margin-left:8px;  
    width:18px;
    height:17px;
    background-position:-88px -50px;
}
.ico.ico-new {
    margin-left:8px;  
    width:22px;
    height:22px;
    background-position:-22px -50px;
}
.ico.ico-noti {
    width:28px;
    height:24px;
    background-position:-49px -50px;
}
.ico.ico-more {
    width:30px;
    height:30px;
    background-position:-311px 1px;
}
.ico.ico-caution {
    width:24px;
    height:24px;
    background-position:-357px -9px;
}
.ico.ico-arrow {
    margin:-4px 0 0 15px;
    width:7px;
    height:12px;
    background-position:-230px -50px;  
}
.ico.ico-car {
    width:53px;
    height:50px;
    background-position:-312px -80px;
}
.ico.ico-bus {
    width:49px;
    height:50px;
    background-position:-257px -80px;
}



/* Desktop Device */
@media screen and (max-width: 1200px) {
    .main-slide .visual-box .play-ctrl {
        margin-left:-32%;
    }
    .main-slide .wrap {
        padding:0 40px;
    }
    .main-slide .visual-box .slick-prev {
        left:-4%;
    }
    .main-slide .visual-box .slick-next {
        right:-4%;
    }
    .category {
        padding:60px 40px 80px;
    }
    .center-news .center-act {
        padding:0 40px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .center-news .wrap .schedule {
        width: 100%;
    }
    .center-news .wrap .main-calendar {
        margin:33px auto 16px;
    }
    .main-banner .detail {
        left:0;
        margin-left:0;
    }
}
