/*
* color palette
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
.text-primary {
    color: #00566d;
}

.text-primary:hover, .text-primary:focus {
    color: tint-color(#00566d, 20%);
}

.text-secondary {
    color: #f39530;
}

.text-secondary:hover, .text-secondary:focus {
    color: tint-color(#f39530, 20%);
}

.text-tertiary {
    color: #4682b4;
}

.text-tertiary:hover, .text-tertiary:focus {
    color: tint-color(#4682b4, 20%);
}

.text-quaternary {
    color: #7b68ee;
}

.text-quaternary:hover, .text-quaternary:focus {
    color: tint-color(#7b68ee, 20%);
}

.text-info {
    color: #2185d0;
}

.text-info:hover, .text-info:focus {
    color: tint-color(#2185d0, 20%);
}

.text-success {
    color: #21ba45;
}

.text-success:hover, .text-success:focus {
    color: tint-color(#21ba45, 20%);
}

.text-warning {
    color: #f2c037;
}

.text-warning:hover, .text-warning:focus {
    color: tint-color(#f2c037, 20%);
}

.text-danger {
    color: #cc1424;
}

.text-danger:hover, .text-danger:focus {
    color: tint-color(#cc1424, 20%);
}

.text-blue {
    color: #0050b4;
}

.text-blue:hover, .text-blue:focus {
    color: tint-color(#0050b4, 20%);
}

.text-purple {
    color: #a333c8;
}

.text-purple:hover, .text-purple:focus {
    color: tint-color(#a333c8, 20%);
}

.text-pink {
    color: #e03997;
}

.text-pink:hover, .text-pink:focus {
    color: tint-color(#e03997, 20%);
}

.text-red {
    color: #cc1424;
}

.text-red:hover, .text-red:focus {
    color: tint-color(#cc1424, 20%);
}

.text-orange {
    color: #f2711c;
}

.text-orange:hover, .text-orange:focus {
    color: tint-color(#f2711c, 20%);
}

.text-yellow {
    color: #ffe812;
}

.text-yellow:hover, .text-yellow:focus {
    color: tint-color(#ffe812, 20%);
}

.text-green {
    color: #21ba45;
}

.text-green:hover, .text-green:focus {
    color: tint-color(#21ba45, 20%);
}

.text-teal {
    color: #00b5ad;
}

.text-teal:hover, .text-teal:focus {
    color: tint-color(#00b5ad, 20%);
}

.text-sky {
    color: #47d3ec;
}

.text-sky:hover, .text-sky:focus {
    color: tint-color(#47d3ec, 20%);
}

.text-black {
    color: #1b1c1d;
}

.text-black:hover, .text-black:focus {
    color: tint-color(#1b1c1d, 20%);
}

.text-gray {
    color: #b3b3b3;
}

.text-gray:hover, .text-gray:focus {
    color: tint-color(#b3b3b3, 20%);
}

.text-white {
    color: #ffffff;
}

.text-white:hover, .text-white:focus {
    color: tint-color(#ffffff, 20%);
}

/*
* base reset
*/
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    min-height: 100%;
    font-size: 1rem;
}

body {
    min-width: 320px;
    margin: 0;
    font-family: Pretendard Variable, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #1b1c1d;
    line-height: 1.5;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
    font-family: Pretendard Variable, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #1b1c1d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    overflow-wrap: break-word;
}

p {
    hyphens: auto;
}

a {
    color: #565656;
    cursor: pointer;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
}

svg {
    display: inline-block;
    vertical-align: top;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

iframe {
    border: 0;
}

ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

em,
address {
    font-style: normal;
}

em,
mark {
    color: #f39530;
    background-color: transparent;
}

hr {
    margin: 1.6rem 0;
    border-color: #ccced2;
}

figure,
form {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 0 none;
}

label {
    cursor: pointer;
}

button {
    box-sizing: border-box;
    padding: 0;
    background: transparent;
    border: 0 none;
    cursor: pointer;
    -webkit-appearance: none;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: inherit;
}

label {
    cursor: pointer;
}

[type='checkbox'],
[type='radio'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type='number'],
input[type='text'],
input[type='password'],
input[type='file'],
input[type='tel'],
input[type='email'],
select,
option,
textarea,
input[type='submit'],
button {
    -webkit-appearance: none;
}

input[type='number']:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='file']:focus,
input[type='tel']:focus,
input[type='email']:focus,
select:focus,
option:focus,
textarea:focus,
input[type='submit']:focus,
button:focus {
    outline: 0;
}

[type='date'],
[type='datetime-local'],
[type='month'],
[type='time'] {
    -webkit-appearance: listbox;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[type='file'] {
    -webkit-appearance: button;
    border-radius: 0;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
[type='file']:not(:disabled) {
    cursor: pointer;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
}

[type='number']::-webkit-inner-spin-button {
    display: none;
}

[type='search'] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 0;
    outline-offset: -2px;
    -webkit-appearance: none;
    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

button::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
[type='file'] > [type='button']::-moz-focus-inner {
    padding: 0;
    border: none;
}

textarea,
[type='text'],
[type='email'],
[type='password'],
[type='submit'],
[type='search'],
[type='tel'],
[type='number'] {
    border-radius: 0;
    -webkit-appearance: none;
}

textarea {
    vertical-align: top;
    resize: vertical;
}

input:invalid,
textarea:invalid {
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
}

td {
    vertical-align: middle;
}

select {
    vertical-align: middle;
    border-radius: 0;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

summary {
    display: list-item;
    vertical-align: top;
}

[hidden],
hr,
template {
    display: none;
}

::selection {
    color: #ffffff;
    background: #00566d;
    text-shadow: none;
}

::-webkit-input-placeholder,
::-ms-input-placeholder,
:-moz-placeholder {
    color: #555;
}

::placeholder {
    text-overflow: ellipsis;
}

:placeholder-shown {
    text-overflow: ellipsis;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-animated {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-80px);
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
    transition-delay: 0.1s;
}

.section.active .is-animated {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s all ease-in-out 0.1s;
}

.gs__reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
}

body.loaded .hero__heading > span:nth-child(1) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s all ease-in-out 0.1s;
}

body.loaded .hero__heading > span:nth-child(2) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s all ease-in-out 0.25s;
}

body.loaded .hero__heading > span:nth-child(3) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s all ease-in-out 0.4s;
}

body.loaded .hero__heading > span:nth-child(4) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s all ease-in-out 0.55s;
}

body.loaded .hero__heading > .feature__text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s all ease-in-out 0.7s;
    padding: 20px 0;
}

body:not(.fp-viewing-page1) .logo {
    background-image: url(../images/logo.svg);
}

body.fp-viewing-page1 .fp-tooltip {
    color: rgba(255, 255, 255, 0.3);
}

body.fp-viewing-page5 .logo {
    background-image: url(../images/logo_white.svg);
}

body.fp-viewing-page5 .fp-tooltip {
    color: rgba(255, 255, 255, 0.3);
}

body.fp-viewing-page5 #fp-nav ul li:hover .fp-tooltip,
body.fp-viewing-page5 #fp-nav.fp-show-active a.active + .fp-tooltip {
    color: #fff;
}

header {
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 70px;
    z-index: 100;
}

@media screen and (max-width: 1440px) {
    header {
        top: 0;
        padding: 4.861vw;
    }
}

@media screen and (max-width: 767px) {
    header {
        padding: 6.528vw 1rem 10px;
    }
    header.on {
        background-color: #fff;
    }
}

header .logo {
    display: flex;
    align-items: center;
    width: 80px;
    height: 58px;
    background-image: url(../images/logo_white.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 1440px) {
    header .logo {
        width: 5.556vw;
        height: 4.028vw;
    }
}

@media screen and (max-width: 767px) {
    header .logo {
        width: 16.667vw;
        height: 12.083vw;
    }
}

header.scroll .logo {
    background-image: url(../images/logo.svg);
}

header nav {
    display: flex;
    margin-left: auto;
    display: none;
}

header nav > ul {
    display: flex;
}

header nav > ul > li + li {
    margin-left: 1rem;
}

header nav > ul > li a {
    font-size: 1rem;
    text-transform: uppercase;
}

.fp-viewing-page1 .logo svg {
    fill: #fff;
}

.n1 {
    background-image: url(../images/common/img_hero.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.n1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.n1 .fp-tableCell {
    vertical-align: middle;
}

.n3,
.n6 {
    background-color: #f9f9f9;
}

.n5 {
    background-color: #111;
}

.n5 .section__title,
.n5 .section__subtitle {
    color: #fff;
}

.n5 strong {
    display: flex;
    margin-top: 0.5rem;
    color: #fff;
}

.hero__heading {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
    transition-delay: 0.15s;
}

@media screen and (max-width: 1440px) {
    .hero__heading {
        padding-left: 19.531vw;
        font-size: 5.208vw;
    }
}

@media screen and (max-width: 959px) {
    .hero__heading {
        justify-content: center;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .hero__heading {
        padding-right: 8vw;
        padding-left: 8vw;
        font-size: 7.917vw;
    }
}

.hero__heading .stroke {
    font-family: 'Pretendard';
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero__heading > span,
.hero__heading > p {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
}

.feature__text {
    font-size: 26px;
    font-weight: 100;
    color: #fff;
}

@media screen and (max-width: 1440px) {
    .feature__text {
        font-size: 1.693vw;
    }
}

@media screen and (max-width: 767px) {
    .feature__text {
        margin-top: 3.125vw;
        font-size: 3.385vw;
    }
}

.section {
    position: relative;
}

@media screen and (max-width: 959px) {
    .section {
        height: 100%;
    }
    .section.n1 {
        height: 100vh;
    }
}

.section__wrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 30px;
}

@media screen and (max-width: 767px) {
    .section__wrapper {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.section_inner {
    padding: 70px 0 100px;
}

@media screen and (max-width: 1600px) {
    .section_inner {
        padding-top: 11.181vw;
        padding-bottom: 6.25vw;
    }
}

@media screen and (max-width: 767px) {
    .section_inner {
        padding-top: 21.333vw;
        padding-bottom: 0;
    }
}

.section__header {
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 1279px) {
    .section__header {
        flex-direction: column;
    }
}

.section__title {
    margin-bottom: 60px;
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .section__title {
        margin-bottom: 2.583vw;
    }
}

.section__subtitle {
    flex: 1 1;
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
}

.section__subtitle .hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .section__subtitle {
        font-size: 7.292vw;
        line-height: 10.417vw;
    }
}

.section__desc {
    flex: 1 1;
    padding: 20px 0;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .section__desc {
        font-size: 4.167vw;
    }
}

.section__content {
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 0px;
}

.section__content__n2 {
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
    padding: 30px 30px;
}

@media screen and (max-width: 767px) {
    .section__content {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 30px;
    }
    .section__content__n2 {
        padding-top:15px;
    }
}

.about__list {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1440px) {
    .about__list {
        gap: 13px;
        margin: 0 -1rem;
        padding: 8px 1rem;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        -webkit-scroll-padding-left: 1rem;
        scroll-padding-left: 1rem;
    }
}

.about__item {
    position: relative;
    width: calc(100% / 4);
    max-width: 390px;
    height: 520px;
    max-height: 50vh;
    padding: 60px;
    border: 1px solid #000;
    transition: all 0.3s;
}

@media screen and (max-width: 1440px) {
    .about__item {
        flex: none;
        padding: 4.167vw;
        -webkit-scroll-snap-align: start;
        scroll-snap-align: start;
    }
    @supports (width: calc((1% - 1px) / 1)) {
        .about__item {
            width: calc((100% - 136px) / 1);
        }
    }
}

@media screen and (max-width: 767px) {
    .about__item {
        padding: 6.25vw;
        height: 60.417vw;
    }
}

@media (hover: hover) {
    .about__item:hover .number {
        color: rgba(0, 0, 0, 0.15);
    }
    .about__item:hover .about__title {
        top: 60px;
        transform: translate(0px);
    }
}

@media screen and (hover: hover) and (max-width: 1440px) {
    .about__item:hover .about__title {
        top: 4.167vw;
    }
}

@media screen and (hover: hover) and (max-width: 767px) {
    .about__item:hover .about__title {
        top: 12.5vw;
    }
}

@media (hover: hover) {
    .about__item:hover .about__desc {
        opacity: 1;
        transition-delay: 0.1s;
        transform: translate(0px);
    }
}

.about__cont .number {
    position: absolute;
    top: -18px;
    right: -9px;
    overflow: hidden;
    font-weight: bold;
    font-size: 200px;
    color: rgba(0, 0, 0, 0.07);
    line-height: 180px;
    transition: color 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.09);
}

@media screen and (max-width: 1440px) {
    .about__cont .number {
        font-size: 13.889vw;
        line-height: 12.5vw;
    }
}

@media screen and (max-width: 767px) {
    .about__cont .number {
        top: -12px;
        right: -4px;
        font-size: 20.833vw;
        color: rgba(0, 0, 0, 0.15);
        line-height: 20.833vw;
    }
}

.about__title {
    position: absolute;
    top: calc(100% - 132px);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    transition: top 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
    .about__title {
        top: 20px;
        font-size: 4.167vw;
    }
}

.about__desc {
    position: absolute;
    bottom: 60px;
    right: 60px;
    left: 60px;
    opacity: 0;
    font-size: 20px;
    line-height: 1.5;
    transform: translateY(30px);
    transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.5s ease-in-out;
}

@media screen and (max-width: 1440px) {
    .about__desc {
        white-space: normal;
    }
}

@media screen and (max-width: 767px) {
    .about__desc {
        bottom: 6.25vw;
        right: 6.25vw;
        left: 6.25vw;
        font-size: 2.917vw;
        opacity: 1;
        transform: translate(0px);
    }
}

.business__content {
    max-width: 1340px;
    margin-top: 50px;
}

.business__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 1365px) {
    .business__list {
        flex-direction: column;
    }
}

.business__item {
    flex: 1 1;
    position: relative;
    margin: 50px 40px 0 40px;
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
}

.business__item dt {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}

.business__item dt::after {
    content: '';
    display: block;
    height: 200px;
    margin-top: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.business__item dd {
    font-size: 20px;
    line-height: 1.6;
}

.business__item dd + dd {
    margin-top: 1rem;
}

.business__item:nth-child(1) dt::after {
    background-image: url("../images/about/about01.png");
    border-radius: 100px;
}

.business__item:nth-child(2) dt::after {
    background-image: url("../images/about/about02.png");
    border-radius: 100px 0;
}

.business__item:nth-child(3) dt::after {
    background-image: url("../images/about/about03.png");
    border-radius: 0 100px 100px 0;
}

@media screen and (min-width: 960px) and (max-width: 960px) {
    .business__item {
        min-height: 200px;
        padding-left: 300px;
        margin-bottom: 50px;
    }
    .business__item dt::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 360px;
        margin: 0;
    }
}

@media screen and (max-width: 959px) {
    .business__item {
        margin: 0;
        margin-bottom: 20px;
    }
    .business__item dt {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .business__item dt::after {
        height: 160px;
        margin-top: 20px;
    }
    .business__item dd {
        font-size: 13px;
    }
    .business__item dd + dd {
        margin-top: 0.5rem;
    }
}

.marketing {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.marketing__content {
    flex: 1 1;
}

.marketing__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 75px;
}

.marketing__area {
    display: flex;
    flex-direction: column;
}

.marketing__area h4 {
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.marketing__area ul li {
    font-weight: 600;
    font-size: 18px;
    color: #111;
}

.marketing__text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.marketing__word {
    font-weight: 900;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.04);
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

@media screen and (min-width: 960px) {
    .marketing__section {
        max-width: 1320px;
        padding: 150px 0px;
    }
    .marketing__area {
        flex-direction: row;
        justify-content: space-between;
        min-width: 660px;
        margin-left: auto;
    }
    .marketing__area h4 {
        font-size: 20px;
    }
    .marketing__area ul {
        min-width: 420px;
    }
    .marketing__area ul li {
        font-size: 26px;
    }
    .marketing__word {
        font-size: 200px;
        line-height: 160px;
    }
}

/* WORK */
.work__content {
    margin-top: 50px;
}
@media screen and (max-width: 767px) {
    .work__content {
        margin-top: 6vmin;
    }
}

.client__list {
    display: flex;
    flex-wrap: wrap;
}

.client__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 10%;
}

.client__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    padding: 20px;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
    .client__item:nth-child(n + 6):nth-child(-n + 9) {
        width: 25%;
    }
}

@media screen and (max-width: 1199px) {
    .client__item {
        width: calc(100% / 3);
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 767px) {
    .client__item {
        width: calc(100% / 2);
        padding-bottom: 20%;
    }
    .client__item img {
        padding: 0 30px;
    }
}

.client__item img {
    filter: grayscale(1);
}

/* LOCATION */
.location__item {
    display: flex;
    flex-direction: column;
}

.location__item > span {
    display: flex;
}

.location__item + .location__item {
    margin-top: 70px;
}

@media screen and (max-width: 959px) {
    .location__item + .location__item {
        margin-top: 30px;
    }
}

.location__title {
    font-size: 20px;
    color: #777;
    opacity: 0;
    -webkit-animation: text-up 1s both;
    animation: text-up 1s both;
}

@media screen and (max-width: 959px) {
    .location__title {
        font-size: 13px;
    }
}

.location__address,
.location__email a {
    font-weight: 700;
    font-size: 30px;
    color: #111;
    opacity: 0;
}
.location__email a {
    -webkit-animation: text-up 1.5s both;
    animation: text-up 1.5s both;
}

@media screen and (max-width: 959px) {
    .location__address,
    .location__email a {
        font-size: 18px;
    }
}

.map__content {
    margin-top: 40px;
}

@media screen and (min-width: 960px) {
    .map__content {
        margin-top: 70px;
    }
}

.map {
    position: relative;
    width: 100%;
    min-height: 320px;
    background: url(../images/map.png) no-repeat 50%;
    /* filter: grayscale(1); */
}

@-webkit-keyframes text-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes text-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

/*# sourceMappingURL=map/wplatforms.css.map */
