@charset "utf-8";

:root {
    --txt-wht:#ffffff;
    --txt-sub:#979797;
    --txt-red:#dc3545;
}

/* 수정하지 마세요 개별적으로 사용시엔 setup.css에 해주시기 바랍니다. */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.dpn { display: none; }
.hidden { position: absolute; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -10000px; overflow: hidden; }
.vam { vertical-align: middle; }
.ofh { overflow: hidden; }
.ofh100{ overflow: hidden; width: 100%; }
.clear { clear: both; }
.bold { font-weight: 700; }
.bolder { font-weight: 800; }
.fwn { font-weight: normal; }
.floatleft { float: left !important; }
.floatright { float: right !important; }
.noneborder { border: none !important; }
.nonebg { background-image: none !important; }
.b1 { border: 1px solid red; }
.imgfix { font-size: 0; line-height: 0; vertical-align: top; }
.floatfix { *zoom: 1; }
.floatfix:after { display: block; content: ''; clear: both; }
.inlineb { display: inline-block; *display: inline; *zoom: 1; }

/* width */
.w5 { width: 5%; }
.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w35 { width: 35%; }
.w40 { width: 40%; }
.w45 { width: 45%; }
.w50 { width: 50%; }
.w55 { width: 55%; }
.w60 { width: 60%; }
.w65 { width: 65%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.w95 { width: 95%; }
.w100 { width: 100%; }


.block {
    display: block;
}