@charset "utf-8";
@import url('font.css');

@import url('basic.css'); 
@import url('layout.css'); 
@import url('setup.css'); 



.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Tabs */
.tabs { display: flex; flex-wrap: wrap; width: 100%; padding-bottom: 20px; }
.tabs .tabs-item { flex: 1; }
.tabs .tabs-link { display: block; padding: 11px 10px 10px; text-align: center; font-size:16px; background: #eee; color: #888; text-decoration: none; height: 40px; border: 1px solid #dbdbdb; box-sizing: border-box;}
.tabs .active .tabs-link { font-weight: 600; background: #fff; border-color: #142e7b; color: #142e7b; }
.tabs .tabs-item:first-child .tabs-link { border-left: 1px solid #dfdfdf; }
.tabs .tabs-item:first-child.active .tabs-link { padding: 11px 10px 10px 11px; margin-left: -1px; border-left: 1px solid #145b8b; }
.tabs-content .tabs-content-item { display: none; padding: 15px;}
.tabs-content .tabs-content-item.active { display: block; }

/* Search */
.search-area {
	display: flex;
	justify-content: end;
}
.search-box {
	padding:20px 0;
	width: 425px;
    border-bottom:2px solid #222;
}
.search-box .input_search {
    border:0 none;
    padding:0;
    width: 90%;
	font-size: 18px;
	color:#888;
}
.search-box .input_search:focus-visible {
    outline: 0 none;
}
.search-box .btn_search {
    display: inline-block;
	width: 23px;
    height:23px;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 512 512' enable-background='new 0 0 512 512'%3E%3Cg%3E%3Cpath d='m495,466.1l-119.2-119.2c29.1-35.5 46.5-80.8 46.5-130.3 0-113.5-92.1-205.6-205.6-205.6-113.6,0-205.7,92.1-205.7,205.7s92.1,205.7 205.7,205.7c49.4,0 94.8-17.4 130.3-46.5l119.1,119.1c8,8 20.9,8 28.9,0 8-8 8-20.9 0-28.9zm-443.2-249.4c-1.42109e-14-91 73.8-164.8 164.8-164.8 91,0 164.8,73.8 164.8,164.8s-73.8,164.8-164.8,164.8c-91,0-164.8-73.8-164.8-164.8z'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
    text-indent: -999em;
}

/* Button */
.btn { 
    display: inline-block; 
    font-weight: 500; 
    color: #111; 
    text-align: center; 
    text-decoration: none; 
    vertical-align: middle; 
    cursor: pointer; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: 0 15px; 
    font-size: 14px; 
    font-weight: 400;
    color:#fff;
    height: 33px; 
    line-height: 33px; 
    min-width: 70px; 
    transition: all .3s ease; 
    box-sizing: border-box; 
}
.btn.md {
    padding:0 20px;
    height:40px;
    line-height:40px;
}
.btn.lg { 
    padding:0 30px;
    height:50px;
    line-height:50px;
    font-size: 16px;
}
.btn.rd {
    border-radius:33px;
}
.md.rd {
    border-radius: 42px;
}
.btn.sm {min-width:50px; font-size:12px; height:25px; line-height:25px;}
.btn.btn-import {
    background-color: #142e7b;
}
.btn.btn-import:focus,
.btn.btn-import:hover {
    background-color: #06194f;
}
.btn.btn-normal {
    background-color: #666;
}
.btn.btn-normal:focus,
.btn.btn-normal:hover {
    background-color: #454545;
}
.btn-import.rd {
    color:#222;
    border-color:#222;
    background-color: transparent;
}
.btn-import.rd:focus,
.btn-import.rd:hover {
    border-color: transparent;
    color:#fff;
    background-color: #142e7b;
}
.btn-normal.rd {
    color:#fff;
    border-color: rgba(255,255,255,0.4);
    background-color: transparent;
}
.btn-normal.rd:focus,
.btn-normal.rd:hover {
    color:#222;
    background-color: #fff;
}
.btn.btn-more {
    position: relative;
    padding-right:15px;
    color:#ab8850;
    background-color: transparent;
}
.btn.btn-more:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    border-top: 2px solid #bcb19c;
    border-right: 2px solid #bcb19c;
    transform: rotate(45deg);
}
.btn.txt-link {
    padding:0;
    color:#142e7b;
}
.btn.txt-link > span {
    position: relative;
    padding-right: 17px;
}
.btn.txt-link span:hover {
    border-bottom: 1px solid #142e7b;
}
.btn.txt-link > span::after {
    content:'';
    display: block;
    position: absolute;
    top:2px;
    right:0;
    width: 14px;
    height:14px;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='44.952px' height='44.952px' viewBox='0 0 44.952 44.952' style='enable-background:new 0 0 44.952 44.952;' xml:space='preserve'%3E%3Cpath d='M44.952,22.108c0-1.25-0.478-2.424-1.362-3.308L30.627,5.831c-0.977-0.977-2.561-0.977-3.536,0 c-0.978,0.977-0.976,2.568,0,3.546l10.574,10.57H2.484C1.102,19.948,0,21.081,0,22.464c0,0.003,0,0.025,0,0.028 c0,1.382,1.102,2.523,2.484,2.523h35.182L27.094,35.579c-0.978,0.978-0.978,2.564,0,3.541c0.977,0.979,2.561,0.978,3.538-0.001 l12.958-12.97c0.885-0.882,1.362-2.059,1.362-3.309C44.952,22.717,44.952,22.231,44.952,22.108z' fill='%23142e7b'/%3E%3C/svg%3E");
}
.btn:disabled,
.btn[disabled] { background-color: #eee; border-color: #eee; color: #888; pointer-events: none; }

/* Checkbox, Radio */
.chk { position: relative; padding-left: 23px; }
.chk + .chk { margin-left:10px; }
.chk.single { padding-left: 16px; }
.chk input { opacity: 0; position: absolute; top: 0; left: 0; width: 16px; height: 16px; margin: 0; }
.chk .chk-label::before { content: ''; position: absolute; top: -2px; left: 0; width: 16px; height: 16px; border: 1px solid #dbdbdb; }
.chk.radio .chk-label::before { border-radius: 50%;}
.chk input:checked + .chk-label::before {border:1px solid #142e7b;}
.chk input:checked + .chk-label::after { content: ''; position: absolute; top: -1px; left: 1px; width: 10px; height: 10px; background: #142e7b; margin: 3px; border-radius: 50%; }
.chk.checkbox input:checked + .chk-label::after { content: ''; position: absolute; top: 2px; left: 3px; width: 10px; height: 5px; background: #142e7b; margin: 0; border-radius: 0; border-left: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(-45deg); }
.chk.checkbox input:checked + .chk-label::before {background-color: #142e7b;}
.chk input:disabled + .chk-label::before { background: #e9e9e9; border-color: #e9e9e9; }
.chk input[type="checkbox"]:focus-visible + .chk-label,
.chk input[type="radio"]:focus + .chk-label {  border:1px solid #111; outline: 0;}
.chk .chk-label .txt {font-size:16px;}
.chk-wrap .chk {margin: 5px 10px 0 0;}
 /* Form */
.form-info {vertical-align: text-bottom; color:#007bff; }
.input-default, .sel { display: block; width: 100%; padding: 5px 10px; font-size: 0.85rem; color: #111; background-color: #fff; background-clip: padding-box; border: 1px solid #dbdbdb; height: 40px; box-sizing: border-box; }
.input-default:focus,
.input-default:focus-visible {border:1px solid #222; outline: 0;}
.field .field-error {display:none;  margin-top:5px;}
.error .input-default {border-color:#dc3545;}
.error .field-error {display:block;}
.input-default::placeholder {color:#888;}
.input-default.textarea { resize: vertical; height: auto; min-height: 100px; padding: 10px; }
.input-default:disabled { background-color: #ccc; border-color: #ccc; color: #737373; opacity: 1; }
.input-select { display: inline-block; position: relative; width: 100%; }
.input-select select { -webkit-appearance: none; appearance: none; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1024' width='767.5'%3E%3Cpath d='M0 384l383.75 383.75L767.5 384H0z'/%3E%3C/svg%3E"); background-size: 12px; background-position: calc(100% - 12px) center; background-repeat: no-repeat; }
.input-select select option {
    color: #222;
    padding: 8px;
    font-size: 16px;
}
.frm-file {
    position: relative;
}
input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 78px;
    height: 40px;
    line-height: 4rem;
    opacity: 0;
}
input[type="file"] + label {
    margin-left:10px;
    display: inline-block;
    height: 40px;
    margin-right: 5px;
    padding: 0 10px;
    background-color: #666666;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
input[type="file"]:focus + label {
    outline: auto !important;
}

/* custom select */
.sel.disable,
.sel.disable:hover {
    background-color: #d4cec9;
    border-color:#d4cec9;
    color:#fff;
}
.sel:hover {
    background-color: #fff;
}
.sel.active {
}
.sel::before {
    position: absolute;
    content: '';
    color: #FFF;
    width: 13px;
    height:9px;
    right: 20px;
    top: calc(50% - 5px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1024' width='767.5'%3E%3Cpath d='M0 384l383.75 383.75L767.5 384H0z'/%3E%3C/svg%3E"); background-size: 100%; background-position:center; background-repeat: no-repeat;
}

.sel.active::before {
    transform: rotateX(-180deg);
}

.sel-placeholder {
    display: block;
    text-align: left;
    color:#888;
    line-height: 29px;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel-placeholder {
    visibility: hidden;
}

.sel-placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding:5px 10px;
    height:100%;
    content: attr(data-placeholder);
    visibility: hidden;
    box-sizing: border-box;
}

.sel.active .sel-placeholder::before {
    visibility: visible;
}

.sel-box {
    position: absolute;
    top: calc(100%);
    left: -1px;
    display: none;
    padding:9px;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #fff;
    width: calc(100% + 2px);
    border:1px solid #dbdbdb;
    box-sizing: border-box;
    z-index: 1;
}

.sel.active .sel-box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel-box-options {
    display: list-item;
    font-size: 14px;
    padding: 0.5em 1em;
    user-select: none;
}

.sel-box-options:hover {
    background-color: #f7f7f7;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row.g20 {
    gap:20px;
}
.form-row + .form-row {
    margin-top:10px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

/* badge */
.badge {
    display: inline-block;
    min-width: 9px;
    height: 24px;
    padding: 0 13px;
    text-align: center;
    box-sizing: border-box;
    color:#fff !important;
    font-size: 14px !important;
    line-height: 24px;
}
.badge.pre {background-color: #142e7b;}
.badge.ing {background-color: #ef6000;}
.badge.done {background-color: #666;}

/* Table */
.tbl {margin-top:40px;}
.tbl table { width: 100%; border-top:2px solid #222; table-layout: fixed; }
.tbl table th,
.tbl table td { padding: 20px 30px; font-size: 18px; text-align: center; border-bottom: 1px solid #dbdbdb; }
.tbl table th { font-weight:500;}
.tbl table td > span {font-size:15px; color:#888;}
.tbl table td a {display: block; width: 100%; line-height:1.4; text-align: left;}
.tbl table td a:hover {text-decoration:underline; text-underline-position: under;}
.tbl .btn { font-weight: 600; }
.tbl .tbl-btn-area { padding-top: 10px; }
.tbl .tbl-btn-area.right { text-align: right; }
.tbl .center { text-align: center; }
.tbl .right { text-align: right; }
.tbl .tbl-paging { position: relative; text-align: center; display: flex; justify-content: center; margin-top: 30px; }
.tbl .tbl-paging .paging-select { margin-left: 40px; }
.tbl .tbl-paging .paging-info { position: absolute; top: 8px; right: 0; }
.tbl.tbl-row {margin-top:0;}
.tbl.tbl-row table { border-top:0;}
.tbl.tbl-row table th {text-align: left; background-color: #f7f7f7;}
.tbl.tbl-row table td { text-align: left;}

/* Paging */
.paging { margin:40px 0 8px; display: flex; justify-content: center;}
.paging.add-btn .pagination,
.paging.add-btn .btn-wrap {margin-left:auto;}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.page-link {
    position: relative;
    display: block;
    padding: 8px 14px;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination .page-item {
    margin:0 3px;
}
.pagination .page-item .page-link {
    font-size: 1rem;
    color: #212529;
    background-color: transparent;
    border: 0;
    outline: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #142e7b;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.pagination .page-item .page-link:focus-visible {
    outline: auto;
}
.pagination .page-item.prev {
    margin-right:10px;
}
.pagination .page-item.next {
    margin-left:10px;
}
.pagination .page-item > button.page-link {
    margin-top:1px;
    width: 0;
    height:18px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
}
.pagination .page-item.first > button.page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='레이어_1' x='0' y='0' style='enable-background:new 0 0 44 52' version='1.1' viewBox='0 0 44 52'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23666666;stroke-width:2;stroke-miterlimit:10%7D%3C/style%3E%3Cpath d='M39.8 2.9 16.6 26.1l23 23' class='st0'/%3E%3Cpath d='M27.4 2.9 4.2 26.1l23.1 23' class='st0'/%3E%3C/svg%3E");
}
.pagination .page-item.prev > button.page-link {
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 32 52' viewBox='0 0 32 52'%3E%3Cpath d='M27.6 2.9 4.4 26.1l23 23' style='fill:none;stroke:%23666666;stroke-width:2;stroke-miterlimit:10'/%3E%3C/svg%3E");
}
.pagination .page-item.next > button.page-link {
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 32 52' viewBox='0 0 32 52'%3E%3Cpath d='m4.4 2.9 23.2 23.2-23 23' style='fill:none;stroke:%23666666;stroke-width:2;stroke-miterlimit:10'/%3E%3C/svg%3E");
}
.pagination .page-item.last > button.page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='레이어_1' x='0' y='0' style='enable-background:new 0 0 44 52' version='1.1' viewBox='0 0 44 52'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23666666;stroke-width:2;stroke-miterlimit:10%7D%3C/style%3E%3Cpath d='m4.2 2.9 23.2 23.2-23 23' class='st0'/%3E%3Cpath d='m16.6 2.9 23.2 23.2-23.1 23' class='st0'/%3E%3C/svg%3E");
}

.pagination .page-item > button.page-link[disabled] {
    cursor: default;
    opacity: 0.4;
}

/* Popup */
.popup { display: none; position: fixed; left: 50%; top: 50%; z-index: 200; padding: 0; min-width: 900px; overflow: hidden; border-radius: 1.8rem; background-color: #fff; transform: translateX(-50%) translateY(-50%);}
.popup.sm {min-width: 580px;}
.popup .pop-header { height: 50px; line-height: 50px; padding: 45px 30px 0; font-size: 28px; text-align: center; font-weight: 500; color: #222; }
.popup .pop-body { padding: 30px 10px 20px 30px; box-sizing:border-box;}
.popup .pop-body .pop-tit {font-size:2rem;}
.popup .pop-body .pop-txt {margin-top:10px;font-size:1rem; line-height:1.4;}
.popup .pop-body .search-area {justify-content: center;}
.popup .pop-body .search-result {margin:58px 20px 0 0; border-top:1px solid #222;}
.popup .pop-body .search-result .empty {padding:50px; font-size:18px; text-align: center;}
.popup .pop-body .search-result ul {overflow-y: auto; max-height:200px;}
.popup .pop-body .search-result li {padding:23px 50px; border-bottom:1px solid #eee;}
.popup .pop-body .search-result li a {display: block; font-size:18px; color:#222;}
.popup .pop-body .join-wrap .sub-txt {text-align: center;  line-height:1.4; color:#666; font-size:18px;}
.popup .pop-body .join-wrap .field-box {margin-top:10px; max-height:400px; overflow-y: auto;}
.popup .pop-body .info-txt {margin-top:39px; font-size:16px; line-height:1.4; text-align:center; color:#666;}
.popup .pop-body .info-txt > strong {color:#142e7b;}
.popup .pop-footer {padding:0 0 60px;}
.popup .pop-close:before, 
.popup .pop-close { position: absolute; width: 30px; height: 30px; right: 25px; top: 10px; }
.popup .pop-close:after,
.popup .pop-close:before { position: absolute; left: 15px; top: 5px; content: ' '; height: 20px; width: 2px; background-color: #222; }
.popup .pop-close:before { transform: rotate(45deg); }
.popup .pop-close:after { transform: rotate(-45deg); }
.popup .pop-btn-area {text-align: center;}
.popup .pop-btn-area .btn { margin: 0 3px; width: auto; }
.dimmed { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 150; background-color: #000; opacity: .5; }




@media screen and (max-width:1024px) {
    /* Popup */
    .popup {min-width:90%;}
    .popup .pop-header { height: 50px; line-height: 50px; padding: 45px 30px 0; font-size: 28px; text-align: center; font-weight: 500; color: #222; }
    .popup .pop-body { padding: 30px 10px 20px 30px; }
    .popup .pop-body .pop-tit {font-size:2rem;}
    .popup .pop-body .pop-txt {margin-top:10px;font-size:1rem; line-height:1.4;}
    .popup .pop-body .join-wrap .sub-txt {margin-top:-20px}
    .popup .pop-footer {padding:0 0 60px;}
    .popup .pop-close:before, 
    .popup .pop-close { position: absolute; width: 30px; height: 30px; right: 25px; top: 10px; }
    .popup .pop-close:after,
    .popup .pop-close:before { position: absolute; left: 15px; top: 5px; content: ' '; height: 20px; width: 2px; background-color: #222; }
    .popup .pop-close:before { transform: rotate(45deg); }
    .popup .pop-close:after { transform: rotate(-45deg); }
    .popup .pop-btn-area {text-align: center;}
    .popup .pop-btn-area .btn { margin: 0 3px; width: auto; }
}

@media screen and (max-width: 768px) {
    .chk .chk-label .txt {font-size:14px; line-height:1.2;}

    
    .btn.md {
        padding:0 20px;
        height:42px;
        line-height:42px;
    }
    .btn.lg { 
        padding:0 20px;
        height:40px;
        line-height:40px;
        font-size: 14px;
    }
    .search-box {
        padding:15px 0;
    }
    .search-box .input_search {
        font-size:16px;
    }
    .tbl table {
        display: block;
    }
    .tbl table thead {display: none;}
    .tbl table tbody {
        display: block;
    }
    .tbl table tbody tr {
        position: relative;
        display: block;
        padding: 10px 30px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        border-bottom: 1px solid #ececec;
    }
    .tbl table tbody tr::after {
        display: block;
        content:'';
        clear:both;
    }
    .tbl table tbody td {
        display: block;
        padding: 2px 0;
        border: 0;
        font-size: 13px;
        text-align: left;
    }
    .tbl table tbody td.m-pos {
        position: absolute;
        bottom:10px;
        left:30px;
    }
    .tbl table tbody td.m-pad {
        margin-left:130px;
    }
    .tbl table tbody td.m-flt {
        position: relative;
        float:left;
        margin-right:10px;
        padding-right:10px;
    }
    .tbl table tbody td.m-flt::before {
        display: block;
        position: absolute;
        top:5px;
        left:-10px;
        content:'';
        width: 1px;
        height:11px;
        background-color: #dbdbdb;
    }
    .tbl table tbody td > span {
        font-size:12px;
    }
    .tbl table tbody td.m-hidden {
        display: none;
    }
    .tbl.tbl-row table th {
        display: block;
        padding-left:0;
        font-size:14px;
        border:0 none;
        background-color: transparent;
    }
    .search-area {
		justify-content: center;
	}
    /* badge */
    .badge {
        min-width: 50px;
        height: 16px;
        padding: 0 6px;
        font-size: 11px !important;
        line-height: 16px;
    }

    .paging.add-btn { margin:20px 0 8px; flex-wrap: wrap;}
    .paging.add-btn .pagination,
    .paging.add-btn .btn-wrap {margin-left:0;}
    .paging.add-btn .btn-wrap {margin-top:20px; width: 100%; text-align: center;}
    .pagination .page-item .page-link {
        padding:4px 9px;
        font-size:0.875rem;
    }
    .popup.sm {min-width: 90%;}
    .popup .pop-body .search-box .input_search {font-size:14px; width: 85%;}
    .popup .pop-body .search-result {margin-top:30px;}
    .popup .pop-body .search-result li {padding:15px 30px}
    .popup .pop-body .search-result li a {font-size:14px;}
    .popup .pop-body .join-wrap .sub-txt {font-size: 14px;}
}

@media screen and (max-width: 475px) {
    .search-box {
        width: 85%;
    }
}
@media screen and (max-width: 375px) {
    .tbl table tbody td.m-pos {
        bottom:10px;
    }
    .tbl table tbody td.m-pad {
        margin-left:110px;
    }
    .tbl table tbody td.m-flt {
        position: relative;
        float:left;
        margin-right:5px;
        padding-right:5px;
    }
    .tbl table tbody td.m-flt::before {
        left:-5px;
    }
    .tbl table tbody td > span {
        font-size: 11px;
    }
}
