@charset "utf-8";


/* reset */

html { margin:0 auto; min-width:320px; max-width: 1920px; height:100%; overflow-x:hidden; overflow-y:auto; }
body {margin-top:0 !important; height:100%; font:12px/14px 'noto sans', 'Arial', 'Dotum', 'applegothic', sans-serif; color:#000; word-break:break-all; word-wrap:break-word; word-break:keep-all;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p, button {margin:0; padding:0; -webkit-text-size-adjust:none;}
fieldset, img, abbr, acronym {border:0 none;}
img {vertical-align: top;}
legend {position:absolute; height:0; line-height:0; font-size:0; overflow:hidden; margin:0; padding:0;}
legend.showlegend {position:static; line-height:14px; font-size:12px; overflow:visible;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal;}
ol, ul {list-style:none;}
q:before, q:after {content:'';}
table {width:100%; border-collapse:collapse; border-spacing:0;}
caption {height:0; line-height:0; font-size:0; overflow:hidden; text-indent:-10000px;}
input:focus,
a:focus,
button:focus { /* outline: #000 dotted 1px !important; outline-offset: -1px;  */}
textarea:focus { /* outline: none !important; */ }
a:focus {transition:outline 0.2s; -webkit-transition:outline 0.2s;}
a {text-decoration:none; cursor:pointer; color:#000;}
button {box-sizing:content-box;}
button {border:0 none; background:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
button, input, select, textarea {font:12px/14px 'noto sans', 'Dotum', 'applegothic', sans-serif; vertical-align:middle;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {cursor:pointer; overflow:visible; -webkit-appearance:button; }
select {min-width:100px; -webkit-border-radius:0;}
textarea {overflow:auto; resize:none;}

input[type="checkbox"],
input[type="radio"] {width:14px; height:14px; line-height:14px; box-sizing:border-box; -webkit-border-radius:0;}
input[type="search"] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

/* html5 태그*/
header, footer, article, section, aside, details, figure, figcaption, nav, hgroup {display:block; margin:0; padding:0;}
audio[controls], canvas, video {display:inline-block; *display:inline; *zoom: 1;}

/* 건너뛰기 네비게이션 */
#skip_nav {width:100%; height:0; text-align:center; overflow:hidden;}
#skip_nav a {color:#000; font-size:14px; font-weight:800; float:left;}
#skip_nav a:focus, 
#skip_nav a:hover, 
#skip_nav a:active {position:absolute; top:0; left:0; width:100%; height:20px;  line-height:20px; text-decoration:underline; background-color:#fff; overflow:visible; z-index:9999; }

/* 본문바로가기 */
/* #skip_navi a {display:block; overflow:hidden; position:absolute; top:0; left:0; margin-top:-1px; width:100%; height:1px; background:#000; font-size:1.6rem; color:#fff; line-height:1; text-align:center; z-index:9999;}
#skip_navi a:focus,
#skip_navi a:active {height:auto; margin-top:0; padding:10px 0px; line-height:1.5;} */


@media screen and (max-width: 1023px ) {
	body.forMobile > * {font-family:'noto-sans','Noto Sans Korean', sans-serif !important; }
}

.dpnone {display:none;}
.blind {position:absolute; left:-9999px; top:0; visibility:hidden; overflow:hidden; line-height:0.1%; font-size:0.1%; width:0.1%; height:0.1%;}

/*layout*/

.wrap {position:relative; margin:0 auto; max-width:1200px;}
.dim { display:none; position:fixed; right:0; top:105px; width:100%; height:100% !important; background-color: #000;  z-index:100; opacity:0.53; filter: alpha(opacity=53);}

/* header */
#wrap-top {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:1px solid rgba(255,255,255,0.15);
	z-index: 10;
}
#wrap-top::after { 
	content: ""; 
	display: block; 
	position: absolute; 
	width: 100%; 
	height: 0; 
	left: 0; 
	right: 0; 
	margin: 0 auto; 
	top: 90px; 
	background-color:#f7f7f7; 
	z-index: 5; 
	opacity: 0; 
	transition: 0.3s; 
}
#wrap-top.on::after { 
	height: 394px;
	opacity: 1; 
}
#wrap-top.on,
#wrap-top.wht {
	background-color: #fff;
}
#wrap-top.wht {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%);
}
#wrap-top .logo {
	margin-left:66px;
	display: block;
	width: 344px;
	height:27px;
	background:url('/front/img/logo_wht.png') no-repeat center;
}
#wrap-top.on .logo,
#wrap-top.wht .logo {
	background:url('/front/img/logo_blk.png') no-repeat center;
}
#wrap-top .logo a {
	display: block;
	width: 100%;
	height:100%;
	text-indent:-999em;
	font-size: 0;
}

#wrap-top .menu-box {
	flex-grow:1;
	text-align: center;
}
#wrap-top .menu-box  > ul {
	display: inline-block;
	font-size: 0;
}
#wrap-top .menu-box  > ul > li {
	position: relative;
	display: inline-block;
	/* margin:0 40px; */
	z-index: 6;
}
#wrap-top .menu-box  > ul > li > a {
	display: block;
	padding:38px 40px;
	font-size:20px;
	font-weight: 600;
	color:var(--txt-wht);
	box-sizing: border-box;
}
#wrap-top .menu-box  > ul > li > a span {
	position: relative;
	display:block;
}
#wrap-top .menu-box  > ul > li > a span::after {
	content:'';
	position: absolute;
	display: block;
	bottom:-39px;
	left:50%;
	width: 50%;
	height:4px;
	background-color: transparent;
	transform: translateX(50%);
    transition: transform 200ms ease-in-out;
}
#wrap-top.on .menu-box  > ul > li > a,
#wrap-top.wht .menu-box  > ul > li > a {
	color:#111;
}
#wrap-top .menu-box  > ul > li.active > a,
#wrap-top .menu-box  > ul > li > a:hover {
	color:#142e7b;
}
#wrap-top .menu-box  > ul > li.active > a span::after,
#wrap-top .menu-box  > ul > li > a:hover span::after,
#wrap-top .menu-box  > ul > li > a:focus span::after {
	display: block;
	left:0%;
	width: 100%;
	transform: translateX(0%); 
	transition: transform 200ms ease-in-out;
	background-color: #142e7b;
}
#wrap-top .menu-box .sub-box {
	display:none;
	position: absolute;
	top:90px;
	padding:67px 50px 0;
	width: 300px;
	height:394px;
	text-align: left;
	background-color:transparent;
	box-sizing: border-box;
	z-index: 6;
}
#wrap-top .menu-box .sub-box::after {
	display: block;
	content:'';
	position: absolute;
	top:0;
	right:0;
	width: 1px;
	height:100%;
	background-color:#e9e9e9 ;
}
#wrap-top .menu-box > ul > li:nth-child(1) .sub-box {
	left:-282px;
}
#wrap-top .menu-box > ul > li:nth-child(2) .sub-box {
	left:-159px
}  
#wrap-top .menu-box > ul > li:nth-child(3) .sub-box {
	left:-17px;
}
#wrap-top .menu-box > ul > li:nth-child(4) .sub-box {
	left:83px
}
#wrap-top .menu-box .sub-box > ul > li > a {
	font-size:24px;
	color:#142e7b;
	font-weight: 600;
}
#wrap-top .menu-box .sub-box .depth li a {
	display: block;
	color:#666;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}
#wrap-top .menu-box .sub-box .depth {
	margin-top:25px;
}
#wrap-top .menu-box .sub-box .depth li a:hover {
	color:#142e7b;
	font-weight: 600;
}
#wrap-top .top-util {
	margin-left:auto;
	margin-right:28px;
}
#wrap-top .top-util a {
	position: relative;
	display:inline-block;
	padding:0 12px;
	color:var(--txt-wht);
	font-size:14px;
}
#wrap-top.wht .top-util a,
#wrap-top.on .top-util a {
	color:#666;
}
#wrap-top .top-util .login::after {
	position: absolute;
	top:-5px;
	left:-5px;
	display: block;
	content:'';
	width: 5px;
	height:5px;
	border-radius: 50%;
	background-color: #061345;
}
#wrap-top .contact {
	position: relative;
	top:1px;
	margin-top:-1px;
	padding:27px 47px;
	color:var(--txt-wht);
	background-color: #142e7b;
}
#wrap-top .contact dt {
	margin-bottom:8px;
	font-size:13px;
}
#wrap-top .contact dd {
	font-size:18px;
	font-weight: 600;
}
#wrap-top .ctrl-menu {
	margin-right:30px;
	display: none;
}
#wrap-top .ctrl-menu a {
	position: relative;
}
#wrap-top .ctrl-menu a > span {
	position: relative;
	top:0;
	margin:10px 0;
	display: block;
	width: 30px;
	height:3px;
	background:#fff;
	transition: .5s ease-in-out;
}
#wrap-top .ctrl-menu a > span:nth-child(2) {
	top:2px;
}
#wrap-top.on .ctrl-menu a > span,
#wrap-top.wht .ctrl-menu a > span {
	background: #111;
}
/* footer */
#wrap-footer {
	background-color: #181b21;
}
#wrap-footer .info-box {
	padding:40px 0;
	border-bottom:1px solid #2b2d33;
}
#wrap-footer .info-box .info-txt {
	color:var(--txt-sub);
	line-height:1.75;
	font-weight: 400;
	font-size:16px;
}
#wrap-footer .info-box dl {
	margin-top:20px;
	display: flex;
	font-size: 24px;
	color:var(--txt-wht);
}
#wrap-footer .info-box dt {
	margin-right: 5px;
} 
#wrap-footer .info-box dd a {
	color:var(--txt-wht);
	font-weight: 700;
}
#wrap-footer .info-box .footer-menu {
	
}
#wrap-footer .info-box .footer-menu > ul > li {
	display: inline-block;
	margin-left:60px;
	vertical-align: top;

}
#wrap-footer .info-box .footer-menu > ul > li > a {
	font-size: 18px;
	font-weight: 600;
	color:#dbdbdb;
}
#wrap-footer .info-box .footer-menu .sub {
	margin-top:16px;
}
#wrap-footer .info-box .footer-menu .sub li a {
	color:var(--txt-sub);
	font-size:14px;
	font: 300;
	line-height:1.75;
}
#wrap-footer .info-box .footer-menu .sub li a:hover {
	text-decoration: underline;
	text-underline-position: under;
}
#wrap-footer .copy-box {
	padding:40px 0;
}
#wrap-footer .copy-box .footer-etc {
	margin-bottom:17px;
}
#wrap-footer .copy-box .footer-etc ul li {
	position: relative;
	display: inline-block;
	padding-right:40px;
}
#wrap-footer .copy-box .footer-etc ul li:first-child::after{
	display: block;
	content:'';
	position: absolute;
	top:50%;
	margin-top:-6px;
	right:16px;
	width: 1px;
	height:13px;
	background-color: #545454;
}
#wrap-footer .copy-box .footer-etc ul li:first-child a {
	color:var(--txt-wht);
	font-size:14px;
	font-weight:600;
}
#wrap-footer .copy-box .footer-etc ul li a {
	color:var(--txt-sub);
	font-size:14px;
	line-height:1.75;
}
#wrap-footer .copy-box .copy {
	font-size:14px;
	color:var(--txt-sub);
}
#wrap-footer .select-wrap {}
#wrap-footer .select-wrap .select-box  {
	font-size: 0;
}
#wrap-footer .select-wrap .select-box > li {
	display: inline-block;
	vertical-align: top;
}
#wrap-footer .select-wrap .select-box > li + li {
	margin-left:7px;
}
#wrap-footer .select-wrap .select-box > li > a {
	position: relative;
	display: block;
	padding:15px 136px 15px 20px;
	font-size:16px;
	color:var(--txt-sub);
	border:1px solid #58595c;
}
#wrap-footer .select-wrap .select-box > li > a::after {
	display: block;
	content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -8px;
	width: 8px;
	height:8px;
	border-left:1px solid var(--txt-sub);
	border-bottom:1px solid var(--txt-sub);
	transform: rotate(-45deg);
}

/* media query */
/* pc Device  */
@media screen and (max-width: 1600px) {

	#wrap-top .logo {
		margin-left:28px;
	}
	#wrap-top .menu-box > ul > li {
		/* margin:0 4%; */
	}
	#gnb.open .sub-box {
		display: block;
	}
	#wrap-top .ctrl-menu {
		display: none;
	}
	#wrap-top .ctrl-menu .show span:nth-child(1) {
		top:5px;
		transform: rotate(45deg);
	}
	#wrap-top .ctrl-menu .show span:nth-child(2) {
		top:-8px;
		transform: rotate(-45deg);
	}

}

/* tabet Device  */
@media screen and (max-width: 1280px) {
	#wrap-top {
		height:90px;
	}
	#gnb {
		display: none;
	}
	#wrap-top .ctrl-menu {
		display: block;
	}
	.wrap {
		padding-left:50px;
		padding-right:50px;
	}
}
@media screen and (max-width: 1024px) {
	.main-slide .slick-list {
		padding:0 !important;
	}
	.main-slide .slide-box .slick-current .cont-box {
		position: static;
	}

	#wrap-footer {
		padding:0 50px;
		text-align: center;
	}
	#wrap-footer .info-box {
		display: none;
	}
	#wrap-footer .copy-box .flex-box {
		flex-direction: column-reverse;
	}
}
/* mobile Device  */
@media screen and (max-width: 720px) {
	#gnb.open {
		position: fixed;
		display: block;
		top:0;
		left:0;
		width: 100%;
		height:100vh;
		background:#fff;
	}
	#gnb.open > ul {
		display: block;
		text-align:left;
	}
	#gnb.open > ul > li {
		display: block;
	}
	#gnb.open > ul > li > a {
		color:#222;
		font-size:20px;
		line-height: 30px;
	}
	#gnb.open .menu-box > ul > li.active > a, 
	#gnb.open  .menu-box > ul > li > a:hover {

	}
	#gnb.open > ul > li > a span::after {
		display: none !important;
	}
	#gnb.open .sub-box > ul > li > a {
		display: none;
	}
	#gnb.open > ul > li .sub-box {
		top:0;
		padding:0;
		display: none;
	}
	#gnb.open > ul > li.active .sub-box {
		display: block;
	}
	#gnb.open  .sub-box::after {
		display: none;
	}
	#gnb.open > ul > li:nth-child(1) .sub-box,
	#gnb.open > ul > li:nth-child(2) .sub-box,
	#gnb.open > ul > li:nth-child(3) .sub-box,
	#gnb.open > ul > li:nth-child(4) .sub-box {
		left:50%;
	}
	.top-util {
		display: none;
	}
	
}
@media screen and (max-width: 720px) {

}