@charset "utf-8";


.block {
    display: block;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}

/* btn_ico 아이콘형 버튼 */
a.btn_ico, button.btn_ico, span.btn_ico {display:inline-block; overflow:hidden; width:35px; height:35px; font-size:0; line-height:0; vertical-align:middle; white-space:nowrap; background:url('/static/images/common/sp_icon.png') 0 0 no-repeat;}
.btn_ico.join {margin-right:8px; width:25px; height:21px; background-position:0 0;}
.btn_ico.login {margin-right:8px; width:25px; height:21px; background-position:-25px 0;}
.btn_ico.home {margin-right:8px; width:12px; height:13px; background-position:0 -21px;}
.btn_ico.nextArrow {margin-left:18px; width:16px; height:34px; background-position:-50px 0;}
.btn_ico.beArrow {margin-right:18px; width:16px; height:34px; background-position:-66px 0;}
.btn_ico.blog {margin-right:16px; width:34px; height:34px; background-position:-82px 0;}
.btn_ico.face {margin-right:20px; width:34px; height:34px; background-position:-116px 0;}

/* main */
.topArea {
	padding-top:260px;
	height:850px;
	background: url('/front/img/main/main_visual.jpg') no-repeat;
	background-size: cover;
	box-sizing: border-box;
}
.topArea .top-tit {
	max-width: 715px;
	font-size:54px;
	line-height:1.2;
	color:var(--txt-wht);
}
.topArea .top-txt {
	margin-top:21px;
	max-width: 575px;
	font-size:16px;
	font-weight: 300;
	line-height:1.4;
	color:var(--txt-wht);
}
.topArea .btn-wrap {
	margin-top:46px;
}
.topArea .btn {
	min-width: 188px;
	font-size:20px;
	font-weight: 200;
	height:48px;
	line-height:48px;
	border-radius: 48px;
	color:var(--txt-wht);
	border:1px solid #9ea2a8;
}

.main-why {
	background: url('/front/img/main/main_why.jpg') no-repeat center;
	background-size:cover ;
}
.content > div {
	padding:100px 0 120px;
	box-sizing: border-box;
}
.content .sec-tit {
	color:#222;
	font-size:48px;
	line-height: 3.75rem;
}
.content .sec-tit.wht {
	color:var(--txt-wht);
}
.content .sec-tit small {
	display: block;
	font-size:22px;
	font-weight: 400;
	color:#0971ff;
}
.feature-box .flex-box {
	margin-top:120px;
	justify-content: space-around;
	color:#222;
}
.feature-box .ico {
	margin:0 auto;
	width: 80px;
	height:80px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.feature-box .ico.cloud {
	background-image: url('/front/img/main/main_ico_01.svg');
}
.feature-box .ico.short {
	background-image: url('/front/img/main/main_ico_02.svg');
}
.feature-box .ico.pay {
	background-image: url('/front/img/main/main_ico_03.svg');
}
.feature-box .flex-box dt {
	margin:50px 0 30px;
	font-size:26px;
}
.feature-box .flex-box dd {
	max-width: 234px;
	font-size: 18px;
	line-height: 1.875rem;
	font-weight: 200;
}
.main-slide {
	padding:60px 0 180px;
}
.main-slide .sec-tit {
	margin: 0 auto 54px;
	max-width: 50%;
	font-size:48px;
	font-weight: 700;
	line-height: 3.75rem;
}
.main-slide .slick-list {
	padding:0 15vw !important;
}
.main-slide .slide-box {
	text-align: center;
}
.main-slide .slide-box .slide-cont {
	display: inline-block !important;
	margin:0 40px;
}
.main-slide .slide-box .thumb {
	position: relative;
	max-width: 1200px;
}
.main-slide .slide-box .thumb img {
	width: 100%;
}
.main-slide .slide-box .cont-box {
	display: none;
	padding:50px 70px;
	position: absolute;
	right:0;
	bottom:0;
	max-width: 600px;
	text-align: left;
	color:#666;
	font-size:24px;
	line-height: 2.25rem;
	font-weight: 200;
	background-color:var(--txt-wht);
}
.main-slide .slide-box .slick-current .cont-box {
	display: block;
}
.main-slide .slide-box .top-slider-prev,
.main-slide .slide-box .top-slider-next {
	position: absolute;
	top:-72px;
	left:50%;
	font-size:14px;
	font-weight: 300;
}
.main-slide .slide-box .top-slider-prev {
	margin-left:-41.5%;
}
.main-slide .slide-box .top-slider-prev span {
	display: inline-block;
	width: 30px;
	height:10px;
	background: url('/front/img/main/slide_arrow.png') no-repeat 0 0;
}
.main-slide .slide-box .top-slider-next {
	margin-left:37%;
}
.main-slide .slide-box .top-slider-next span {
	display: inline-block;
	width: 30px;
	height:10px;
	background: url('/front/img/main/slide_arrow.png') no-repeat 14px -10px;
}
.main-slide .slide-box .num {
	position: absolute;
    top: -61px;
    right: 50%;
    margin-right: -560px;
    z-index: -1;
}
.main-slide .slide-box .slick-counter .current {
	font-size: 240px;
    color: #fff;
	letter-spacing: -0.5rem;
    -webkit-text-stroke: 1px #e2e2e2;
    font-weight: bolder;
}
.main-slide .slide-box .slick-counter .top-slider-pause,
.main-slide .slide-box .slick-counter .top-slider-play {
	display: none;
}
.circle-box > ul {
	margin-top:80px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.circle-box > ul > li {
	flex-grow: 1;
	text-align: center;
	font-size:24px;
	line-height:1.4;
	color:var(--txt-wht);
}
.circle-box > ul > li .ico {
	margin:0 auto 50px;
	width:110px;
	height:110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.circle-box > ul > li .ico.easy {
	background-image: url('/front/img/main/ico_main_con01.svg');
}
.circle-box > ul > li .ico.price {
	background-image: url('/front/img/main/ico_main_con02.svg');
}
.circle-box > ul > li .ico.discount {
	background-image: url('/front/img/main/ico_main_con03.svg');
}
.circle-box > ul > li .ico.comport {
	background-image: url('/front/img/main/ico_main_con04.svg');
}
.circle-box > ul > li .ico.update {
	background-image: url('/front/img/main/ico_main_con05.svg');
}
.more-box .sub-tit {
    margin-top:-26px;
	line-height:3.75rem;
	color:#142e7b;
	font-size:18px;
	font-weight: 600;
}
.more-box P {
    max-width: 80%;
	line-height: 1.4;
	font-size:30px;
	font-weight: 400;
	letter-spacing: -0.25;
}
.more-box .btn-wrap {
    margin:27px 0 45px;
}
.more-box .btn-wrap .btn {
    min-width: 220px;
    border-radius: 48px;
    border:1px solid #707070;
}
.more-box .radius-box {
	border-radius: 10px;
	border:1px solid #dbdbdb;
}
.more-box .radius-box ul {
	display: flex;
}
.more-box .radius-box li {
	padding:20px 25px;
	flex-grow: 1;
	font-size:15px;
	font-weight: 300;
	text-align: center;
	border-right:1px solid #dbdbdb;
}
.more-box .radius-box li:last-child {
	border:0 none;
}
.more-box .radius-box li .ico {
	margin:0 auto 15px;
	display: block;
	width: 44px;
	height:44px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.more-box .radius-box li .ico.support {
	background-image: url('/front/img/main/ico_support.svg');
}
.more-box .radius-box li .ico.notice {
	background-image: url('/front/img/main/ico_notice.svg');
}
.more-box .radius-box li .ico.faq {
	background-image: url('/front/img/main/ico_faq.svg');
}
.more-box .radius-box li .ico.edu {
	background-image: url('/front/img/main/ico_education.svg');
}

.bottom-banner {
	display: flex;
	align-items: center;
	height:392px;
	text-align: center;
	font-size: 38px;
	line-height: 1.2;
	font-weight: 500;
	color:var(--txt-wht);
	background: url('/front/img/main/main_bottom_banner.jpg') no-repeat center;
	background-size:cover;
	box-sizing: border-box;
}
.bottom-banner small {
	margin-top:26px;
	display: block;
	font-size:20px;
	font-weight: 200;
}
.bottom-banner .btn-wrap {
	margin-top:60px;
}
.bottom-banner .btn-wrap .btn {
	color:var(--txt-wht);
	min-width: 188px;
	font-weight:200;
	border-radius: 48px;
    border: 1px solid #9ea2a8;
}


/* media query */
/* pc Device  */
@media screen and (max-width: 1600px) {
	.contact {
		display: none;
	}

}

/* tabet Device  */
@media screen and (max-width: 1280px) {
	.topArea {
		padding:200px 50px;
		height:auto;
		background-position:65% center;
		background-image: url('/front/img/main/main_visual_m.jpg');
	}
	.content .sec-tit small {
		display:none;
	}
	.main-slide .sec-tit {
		font-size:22px;
		line-height:1.2;
	}
	.main-slide .slide-box .num {
		top:-48px;
		margin-right: -31%;
	}
	.main-slide .slide-box .slick-counter .current {
		font-size:100px;
	}
	.more-box P {
		max-width: 100%;
	}
	.more-box .flex-box {
		padding:0 50px;
		display: block;
	}
	.more-box .flex-box .flex-cont:last-child {
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	.main-slide {
		border-top:2px solid #e3e3e3;
	}
	.main-slide .slick-list {
		padding:0 5vw !important;
		margin-left:-11vw;
	}
	.main-slide .slide-box .slick-current .cont-box {
		position: static;
	}
	.main-slide .slide-box .num {
		display:none;
	}
}

@media screen and (max-width: 768px) {
    #wrap-top {
        height:50px;
    }
	.main-slide {
		padding:50px 20px 50px 50px;
	}
	.main-slide .slide-box .slide-cont {
		margin:0 15px;
	}
	.main-slide .slide-box .slick-current .cont-box {
		padding:20px 0;
		font-size:12px;
		line-height: 1.4;
	}
	.main-slide .top-slider-prev,
	.main-slide .top-slider-next {
		display:none;
	}
	.main-slide .sec-tit {
		max-width: 80%;
	}

}
/* mobile Device  */
@media screen and (max-width: 720px) {
	
	.top-util {
		display: none;
	}
	.topArea {
		padding:160px 50px;
		height:auto;
	}
	.topArea .top-tit {
		font-size:36px;
	}
	.topArea .top-txt {
		display: none;
	}

	.content .sec-tit {
		font-size:22px;
		line-height: 1.6875rem;
	}
	.content .feature-box {
		padding:50px;
	}
	.feature-box .flex-box {
		margin-top:50px;
		display: block;
		text-align: left;
	}
	.feature-box .flex-box .flex-cont {
		display:flex;
		align-items: center;
		margin-top:40px;
	}
	.feature-box .flex-box dl {
		display: inline-block;
		width: calc(100% - 80px);
	}
	.feature-box .flex-box dt {
		margin:0 0 12px;
		font-size:13px;
	}
	.feature-box .flex-box dd {
		max-width: 100%;
		font-size:12px;
		line-height: .9375rem;
	}
	.feature-box .ico {
		margin-right:20px;
		display: inline-block;
		width: 53px;
		height:53px;
		vertical-align: middle;
	}
	.content .main-why {
		padding:50px 0;
	}
	.content .main-why .sec-tit {
		margin:0 auto;
		width: 60%;
		word-break: keep-all;
	}
	.circle-box > ul {
		flex-wrap:wrap;
		justify-content: center;
		margin-top:40px;
		padding:0;
	}
	.circle-box > ul > li {
		margin:0 8%;
		flex-grow: 0;
		font-size:14px;
	}
	.circle-box > ul > li .ico {
		margin-bottom:6px;
		width: 64px;
		height:64px;
	}
	.content .more-box {
		padding:50px 0;
		text-align: center;
	}
	.more-box > div {
		
	}
	.more-box .sub-tit {
		display: none;
	}
	.more-box P {
		font-size:14px;
	}
	.more-box .radius-box li {
		padding:5%;
		width: 25%;
	}
	.more-box .radius-box li a {
		font-size:11px;
	}
	.more-box .radius-box li .ico {
		margin-bottom:5px;
		width: 23px;
		height: 23px;
	}
	.bottom-banner {
		padding:50px;
		height: auto;
		font-size:16px;
		line-height: 1.4;
	}
	.bottom-banner small {
		display: none;
	}
	.bottom-banner .btn-wrap {
		margin-top:20px;
	}
	
}