@charset "utf-8";


.block {
    display: block;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}

.section {
    margin-top:95px;
}

/* btn_ico 아이콘형 버튼 */
a.btn_ico, button.btn_ico, span.btn_ico {display:inline-block; overflow:hidden; width:35px; height:35px; font-size:0; line-height:0; vertical-align:middle; white-space:nowrap; background:url('/static/images/common/sp_icon.png') 0 0 no-repeat;}
.btn_ico.join {margin-right:8px; width:25px; height:21px; background-position:0 0;}
.btn_ico.login {margin-right:8px; width:25px; height:21px; background-position:-25px 0;}
.btn_ico.home {margin-right:8px; width:12px; height:13px; background-position:0 -21px;}
.btn_ico.nextArrow {margin-left:18px; width:16px; height:34px; background-position:-50px 0;}
.btn_ico.beArrow {margin-right:18px; width:16px; height:34px; background-position:-66px 0;}
.btn_ico.blog {margin-right:16px; width:34px; height:34px; background-position:-82px 0;}
.btn_ico.face {margin-right:20px; width:34px; height:34px; background-position:-116px 0;}

/* main */
.topArea {
	padding-top:260px;
	height:850px;
	background: url('/front/img/main/main_visual.jpg') no-repeat;
	background-size: cover;
	box-sizing: border-box;
}
.topArea .top-tit {
	max-width: 715px;
	font-size:54px;
	line-height:1.2;
	color:var(--txt-wht);
}
.topArea .top-txt {
	margin-top:21px;
	max-width: 575px;
	font-size:16px;
	font-weight: 300;
	line-height:1.4;
	color:var(--txt-wht);
}
.topArea .btn-wrap {
	margin-top:46px;
}
.topArea .btn {
	min-width: 188px;
	font-size:20px;
	font-weight: 200;
	height:48px;
	line-height:48px;
	border-radius: 48px;
	color:var(--txt-wht);
	border:1px solid #9ea2a8;
}


/* 슬라이드 모션 */
.topArea .top-tit {
	-webkit-animation:fadeInDown .5s both .5s;
	animation:fadeInDown .5s both .5s;
}
.topArea .top-txt {
	-webkit-animation:fadeInDown .8s both .8s;
	animation:fadeInDown .8s both .8s;
}
.topArea .btn-wrap {
	-webkit-animation:fadeInDown 1s both 1s;
	animation:fadeInDown 1s both 1s;
}

.feature-box .sec-tit,
.main-why .sec-tit,
.more-box.active .flex-box > div:nth-child(1),
.more-box.active .flex-box > div:nth-child(2)  {
	opacity: 0;
}
.feature-box.active .sec-tit {
	-webkit-animation:fadeInUp 0.8s both 0.8s;
	animation:fadeInUp 1s both 0.8s;
}
.feature-box.active .flex-box > div:nth-child(1) {
	-webkit-animation:slideIn 0.5s both 0.5s;
	animation:slideIn 0.5s both 0.5s;
}
.feature-box.active .flex-box > div:nth-child(2) {
	-webkit-animation:slideIn 0.8s both 0.8s;
	animation:slideIn 0.8s both 0.8s;
}
.feature-box.active .flex-box > div:nth-child(3) {
	-webkit-animation:slideIn 1s both 1s;
	animation:slideIn 1s both 1s;
}
.main-why.active .sec-tit {
	-webkit-animation:fadeInDown .5s both .5s;
	animation:fadeInDown .5s both .5s;
}
.main-why.active .circle-box {
	-webkit-animation:zoomIn .9s both .9s;
	animation:zoomIn .9s both .9s;
}
.more-box.active .flex-box > div:nth-child(1) {
	-webkit-animation: fadeInLeft .7s both .7s;
    animation: fadeInLeft .7s both .7s;
}
.more-box.active .flex-box > div:nth-child(2) {
    -webkit-animation: fadeInRight .9s both .9s;
    animation: fadeInRight .9s both .9s;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideIn {
	0% {
		transform: translateX(500px) scale(.2);
	}
	100% {
		transform: translateX(0px) scale(1);
	}
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.main-why {
	background: url('/front/img/main/main_why.jpg') no-repeat center;
	background-size:cover ;
}
.content > div {
	padding:100px 0 120px;
	box-sizing: border-box;
}
.content .sec-tit {
	color:#222;
	font-size:48px;
	line-height: 3.75rem;
}
.content .sec-tit.wht {
	color:var(--txt-wht);
}
.content .sec-tit small {
	display: block;
	font-size:22px;
	font-weight: 400;
	color:#0971ff;
}
.content .top-tit {
	line-height: 1.4;
	font-size: 40px;
	text-align: center;
}
.feature-box .flex-box {
	margin-top:120px;
	justify-content: space-around;
	color:#222;
}
.feature-box .ico {
	margin:0 auto;
	width: 80px;
	height:80px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.feature-box .ico.cloud {
	background-image: url('/front/img/main/main_ico_01.svg');
}
.feature-box .ico.short {
	background-image: url('/front/img/main/main_ico_02.svg');
}
.feature-box .ico.pay {
	background-image: url('/front/img/main/main_ico_03.svg');
}
.feature-box .flex-box dt {
	margin:50px 0 30px;
	font-size:26px;
}
.feature-box .flex-box dd {
	max-width: 234px;
	font-size: 18px;
	line-height: 1.875rem;
	font-weight: 200;
}
.main-slide {
	padding:60px 0 180px;
}
.main-slide .sec-tit {
	margin: 0 auto 54px;
	max-width: 50%;
	font-size:48px;
	font-weight: 700;
	line-height: 3.75rem;
}
.main-slide .slick-list {
	padding:0 15vw !important;
}
.main-slide .slide-box {
	text-align: center;
}
.main-slide .slide-box .slide-cont {
	display: inline-block !important;
	margin:0 40px;
}
.main-slide .slide-box .thumb {
	position: relative;
	max-width: 1200px;
}
.main-slide .slide-box .thumb img {
	width: 100%;
}
.main-slide .slide-box .cont-box {
	display: none;
	padding:50px 70px;
	position: absolute;
	right:0;
	bottom:0;
	max-width: 600px;
	text-align: left;
	color:#666;
	font-size:24px;
	line-height: 2.25rem;
	font-weight: 200;
	background-color:var(--txt-wht);
}
.main-slide .slide-box .slick-current .cont-box {
	display: block;
}
.main-slide .slide-box .top-slider-prev,
.main-slide .slide-box .top-slider-next {
	position: absolute;
	top:-72px;
	left:50%;
	font-size:14px;
	font-weight: 300;
}
.main-slide .slide-box .top-slider-prev {
	margin-left:-41.5%;
}
.main-slide .slide-box .top-slider-prev span {
	display: inline-block;
	width: 30px;
	height:10px;
	background: url('/front/img/main/slide_arrow.png') no-repeat 0 0;
}
.main-slide .slide-box .top-slider-next {
	margin-left:37%;
}
.main-slide .slide-box .top-slider-next span {
	display: inline-block;
	width: 30px;
	height:10px;
	background: url('/front/img/main/slide_arrow.png') no-repeat 14px -10px;
}
.main-slide .slide-box .num {
	position: absolute;
    top: -61px;
    right: 50%;
    margin-right: -560px;
    z-index: -1;
}
.main-slide .slide-box .slick-counter .current {
	font-size: 240px;
    color: #fff;
	letter-spacing: -0.5rem;
    -webkit-text-stroke: 1px #e2e2e2;
    font-weight: bolder;
}
.main-slide .slide-box .slick-counter .top-slider-pause,
.main-slide .slide-box .slick-counter .top-slider-play {
	display: none;
}

.circle-box > ul {
	margin-top:80px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.circle-box > ul > li {
	flex-grow: 1;
	text-align: center;
	font-size:24px;
	line-height:1.4;
	color:var(--txt-wht);
}
.circle-box > ul > li .ico {
	margin:0 auto 50px;
	width:110px;
	height:110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.circle-box > ul > li .ico.easy {
	background-image: url('/front/img/main/ico_main_con01.svg');
}
.circle-box > ul > li .ico.price {
	background-image: url('/front/img/main/ico_main_con02.svg');
}
.circle-box > ul > li .ico.discount {
	background-image: url('/front/img/main/ico_main_con03.svg');
}
.circle-box > ul > li .ico.comport {
	background-image: url('/front/img/main/ico_main_con04.svg');
}
.circle-box > ul > li .ico.update {
	background-image: url('/front/img/main/ico_main_con05.svg');
}
.more-box .sub-tit {
    margin-top:-26px;
	line-height:3.75rem;
	color:#142e7b;
	font-size:18px;
	font-weight: 600;
}
.more-box P {
    max-width: 80%;
	line-height: 1.4;
	font-size:30px;
	font-weight: 400;
	letter-spacing: -0.25;
}
.more-box .btn-wrap {
    margin:27px 0 45px;
}
.more-box .btn-wrap .btn {
    min-width: 220px;
    border-radius: 48px;
    border:1px solid #707070;
}
.more-box .radius-box {
	border-radius: 10px;
	border:1px solid #dbdbdb;
}
.more-box .radius-box ul {
	display: flex;
}
.more-box .radius-box li {
	padding:20px 25px;
	flex-grow: 1;
	font-size:15px;
	font-weight: 300;
	text-align: center;
	border-right:1px solid #dbdbdb;
}
.more-box .radius-box li:last-child {
	border:0 none;
}
.more-box .radius-box li .ico {
	margin:0 auto 15px;
	display: block;
	width: 44px;
	height:44px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.more-box .radius-box li .ico.support {
	background-image: url('/front/img/main/ico_support.svg');
}
.more-box .radius-box li .ico.notice {
	background-image: url('/front/img/main/ico_notice.svg');
}
.more-box .radius-box li .ico.faq {
	background-image: url('/front/img/main/ico_faq.svg');
}
.more-box .radius-box li .ico.edu {
	background-image: url('/front/img/main/ico_education.svg');
}

.bottom-banner {
	display: flex;
	align-items: center;
	height:392px;
	text-align: center;
	font-size: 38px;
	line-height: 1.2;
	font-weight: 500;
	color:var(--txt-wht);
	background: url('/front/img/main/main_bottom_banner.jpg') no-repeat center;
	background-size:cover;
	box-sizing: border-box;
}
.bottom-banner small {
	margin-top:26px;
	display: block;
	font-size:20px;
	font-weight: 200;
}
.bottom-banner .btn-wrap {
	margin-top:60px;
}
.bottom-banner .btn-wrap .btn {
	color:var(--txt-wht);
	min-width: 188px;
	font-weight:200;
	border-radius: 48px;
    border: 1px solid #9ea2a8;
}

	/* 로그인 */
.login-box {
	margin-top:90px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('/front/img/bg_login.jpg');
}
.login-box .sub-tit {
	width: 100%;
	font-size:48px;
	line-height: 1.2;
}
.login-box .login {
	margin-top:45px;
	padding:60px 80px 75px;
	min-width: 600px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 1px 14px -2px rgba(168,166,159,0.2);
}
.login-box .login h3 {
	margin-bottom:45px;
	font-size:40px;
	line-height: 1.2;
	font-weight: 500;
}
.login-box .login .field {
	margin-bottom:20px;
}
.login-box .login .field-error {
	position: relative;
	padding-left:17px;
	font-size:14px;
	text-align: left;
	color:#dc3545;
}
.login-box .login .field-error::before {
	content:'';
	display: block;
	position: absolute;
	top:-1px;
	left:0;
	width: 16px;
	height:16px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1024px' height='1024px' viewBox='0 0 1024 1024' class='icon'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z' fill='%23dc3545'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M464 688a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm24-112h48c4.4 0 8-3.6 8-8V296c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8z' fill='%23dc3545'/%3E%3C/svg%3E");
	background-size: 100%; 
	background-position: calc(100%) center; 
	background-repeat: no-repeat;
}
.login-box .login .fieldset-addinfo {
	margin:20px 0;
	text-align:left;
}
.login-box .login .btn-wrap {
	margin:25px 0 20px;
}
.login-box .login .login-util a {
	font-size:16px;
}

	/* 회원가입 */
.gray-box {
	margin-top:90px;
	background-color: #f7f7f7;
}
.join-wrap {
	margin:0 auto;
	max-width: 740px;
}
.join-wrap.single {
	max-width: 440px;
}
.gray-box .sub-tit {
	margin-bottom:5px;
	font-size:40px;
	line-height: 3.75rem;
	letter-spacing: -0.1rem;
}
.gray-box .sub-txt {
	font-size:16px;
	color:#666;
	line-height:1.4;
}
.gray-box .sub-txt.import {
	color:#dc3545;
}
.gray-box .sub-txt.small {
	font-size:14px;
}
.join-wrap .field-box {
	margin-top:50px;
	display: flex;
	gap:20px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.join-wrap .field-box .field-line {
	width: 48%;
}
.join-wrap .field-box .field-line.full {
	width: 100%;
} 
.join-wrap .field-box .field-line.single {
	margin-top:40px;
}
.join-wrap .label-tit {
	display: block;
	margin:40px 0 15px;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
}
.join-wrap .label-tit > strong {
	color:#dc3545;
}
.join-wrap .agree-box {
	margin-top:90px;
	text-align: left;
}
.join-wrap .agree-box h3 {
	margin-bottom:7px;
	font-size:20px;
	line-height:1.3;
}
.join-wrap .agree-box ul {
	margin-top:30px;
	border-top:2px solid #222;
}
.join-wrap .agree-box ul li {
	padding:22px 0;
	display: flex;
	text-align:left;
	justify-content: space-between;
	align-items: center;
	border-bottom:1px solid #dbdbdb;
}
.join-wrap .agree-box ul li .txt-link {
	display: block;
}
.join-wrap .agree-box ul li .sub-filed {
	margin-top:16px;
}
.join-wrap .btn-wrap {
	margin-top:50px;
}
.join-wrap .flex-box {
	gap:10px;
}
.join-wrap .flex-box .btn {
	flex-grow: 1;
}
.join-wrap .wht-box {
	margin-top:95px;
	padding:40px 20px;
	background-color: #fff;
}
.join-wrap .wht-box dt {
	font-size:15px;
	font-weight: 500;
	color:#142e7b;
}
.join-wrap .wht-box dd {
	margin-top:15px;
	font-size:28px;
	font-weight: 500;
	line-height:1.2;
	color:#222;
}
.join-wrap .btn-wrap {
	margin:25px 0 20px;
}
.join-wrap .login-util {
	font-size:16px;
}
.join-wrap .login-util a:hover {
	text-decoration: underline;
	text-underline-position: under;
}
.join-wrap .caution {
	margin-top:16px;
}
.join-wrap .caution li {
	padding-left:6px;
	text-indent:-2px;
	text-align:left;
	font-size:16px;
	line-height:1.4;
}
.join-wrap .caution li::before {
	display: inline-block;
	content:'- ';
}
.join-wrap .caution li.txt-red{
	color:#dc3545;
}

/* 탑영역 */
.top-area {
	margin-top:90px;
	height:400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.top-area.notice {
	background-image: url('/front/img/bg_notice.jpg');
}
.top-area.support {
	background-image: url('/front/img/bg_support.jpg');
}
.top-area.faq {
	background-image: url('/front/img/bg_faq.jpg');
}
.top-area.mypage {
	background-image: url('/front/img/bg_mypage.jpg');
}
.top-area .sec-tit {
	padding-top:120px;
	text-align:center;
	font-size:54px;
	color:#fff;
}
.top-area .lnb {
	padding:40px 60px 0 0;
	text-align:right;
}
.top-area .lnb li {
	position: relative;
	display:inline-block;
	padding-left:50px;
	font-size:16px;
	font-weight: 300;
	color:#fff;
}
.top-area .lnb li:first-child {
	padding-left:0;
}
.top-area .lnb li:first-child::after {
	display: none;
}
.top-area .lnb li::after {
	content:'';
	position: absolute;
	display:block;
	top:2px;
	left:23px;
	width:7px;
	height:11px;
	background-size: 12px;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 478.448 478.448' viewBox='0 0 478.448 478.448'%3E%3Cpath d='m131.659 0-31.165 32.035 213.31 207.197-213.31 207.141 31.156 32.075 246.304-239.216z' style='fill:%23ffffff'/%3E%3C/svg%3E");
}

.top-util {margin-bottom:20px;}
.top-util .top-tit {margin-bottom:50px;}
.top-util .flex-box {align-items: center;}
.top-util .tbl-info-txt {font-size:14px; color:#999;}
.top-util .case-id {font-size:18px; font-weight:500;}
.custom-chk .radio-btn {
	padding-right:25px;
	cursor: pointer;
    position: relative;
}
.custom-chk .radio-btn input {
	position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: -1;
    opacity: 0;
}
.custom-chk .radio-btn > span {
	position: relative;
	font-size:18px;
	color:#666;
}
.custom-chk .radio-btn input:checked + span {
	font-weight: 500;
	color:#142e7b;
}
.custom-chk .radio-btn input:checked + span::after {
	content:'';
	position: absolute;
	top:-2px;
	right:-5px;
	display: block;
	width: 5px;
	height:5px;
	border-radius: 50%;
	background-color: #142e7b;
}

/* 공지사항 */
.detail-box {
	border-top:2px solid #222;
}
.detail-box.thin {border-width:1px;}
.detail-box .detail-top {
	padding:35px 0;
	text-align: center;
	border-bottom:1px solid #dbdbdb;
}
.detail-box .detail-top .category {display:block; margin-bottom:10px; color:#142e7b; font-size:15px; font-weight: 500;}
.detail-box .detail-top .detail-tit {
	font-size:28px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.05rem;
}
.detail-box .detail-top .detail-util {
	margin-top:12px;
	justify-content: center;
}
.detail-box .detail-top .detail-util span {
	font-size:16px;
	color:#888;
}
.detail-box .detail-top .detail-util .bar {
	display: block;
	padding:0 20px;
	color:#dbdbdb;
}
.detail-box .detail-cont {
	padding:60px 170px;
	font-size: 16px;
	font-weight: 200;
	line-height:1.4;
	color:#666;
	border-bottom:1px solid #dbdbdb;
}
.detail-box .detail-cont.reply {
	background-color: #f7f7f7;
	border-bottom:0 none;
}
.detail-box .detail-cont .info-box {}
.detail-box .detail-cont .info-box > ul {
	display: flex;
	margin-bottom:10px;
}
.detail-box .detail-cont .info-box > ul > li {
	position: relative;
	color:#888;
	font-size:14px;
}
.detail-box .detail-cont .info-box .user-name {
	margin-right:20px;
	padding-right:20px;
	color:#142e7b;
	font-weight: 400;
}
.detail-box .detail-cont.reply .info-box .user-name::before {
	position: absolute;
	top:2px;
	left:-15px;
	width: 9px;
	height:12px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-image:url('/front/img/bg_reply.png');
}
.detail-box .detail-cont .info-box .user-name::before {
	content: '';
	position: absolute;
	top:5px;
	left:0;
}
.detail-box .detail-cont .info-box .user-name::after {
	content: '';
	position: absolute;
	top:5px;
	right:0;
	display: block;
	width: 1px;
	height:10px;
	background-color: #dbdbdb;
}
.detail-box .list-ctrl {
	margin-top:40px;
	border-top:1px solid #222;
}
.detail-box .list-ctrl li {
	padding:20px 40px;
	border-bottom:1px solid #dbdbdb;
}
.detail-box .list-ctrl li strong {
	display: inline-block;
	padding-right:67px;
	font-size:16px;
}
.detail-box .list-ctrl li a {
	display: inline-block;
	padding-left:32px;
	max-width: 80%;
	font-size:16px;
	color:#666;
	border-left:1px solid #dbdbdb;
}
.detail-box .list-ctrl li a:hover {
	text-decoration: underline;
	text-underline-position: under;
}
.detail-box .btn-wrap {
	margin-top:40px;
}

/* FAQ */
.faq-cont {
	display: flex;
}
.faq-cont .faq-menu {
	margin-top:40px;
	width: 235px;
}
.faq-cont .faq-menu li {

}
.faq-cont .faq-menu li a {
	position: relative;
	color:#666;
	font-size: 18px;
	line-height: 3.625rem;
}
.faq-cont .faq-menu li.active a {
	color:#142e7b;
	font-weight: 500;
}
.faq-cont .faq-menu li.active a::after {
	position: absolute;
	top:-2px;
	right: -6px;
	display: block;
	content:'';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #142e7b;
}
.faq-cont #faq-detail {
	width: calc(100% - 235px);
}
.faq-cont #faq-detail .faq-section {
	display: none;
}
.faq-cont #faq-detail .faq-section.on {
	display: block;
}
.faq-cont .faq-list {
	margin-top:40px;
	border-top:2px solid #222;
}
.faq-cont .faq-list li {}
.faq-cont .faq-list li a {
	position: relative;
	display: block;
	padding:32px 60px;
	font-size: 18px;
	font-weight: 500;
	border-bottom:1px solid #dbdbdb;
}
.faq-cont .faq-list li a .arrow {
	position: absolute;
	top:34px;
	right: 30px;
	display: block;
	width: 24px;
	height:12px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M505.752,123.582c-8.331-8.331-21.839-8.331-30.17,0L256,343.163L36.418,123.582c-8.331-8.331-21.839-8.331-30.17,0 s-8.331,21.839,0,30.17l234.667,234.667c8.331,8.331,21.839,8.331,30.17,0l234.667-234.667 C514.083,145.42,514.083,131.913,505.752,123.582z'/%3E%3C/svg%3E");
	transition: transform 0.2s;
}
.faq-cont .faq-list li .active .arrow {
	transform: rotate(180deg);
}
.faq-cont .faq-list li .expand-box {
	display:none;
	padding:30px 60px;
	font-size:16px;
	color:#666;
	line-height:1.4;
	background: #f7f7f7;
}
.faq-cont .btn-wrap {
	margin-top:40px;
}
.faq-cont .btn-wrap .btn-more {
	display: block;
	padding:18px 0;
	text-align: center;
	font-size:16px;
	color:#888;
	background-color: #eee;
}
.faq-cont .btn-wrap .btn-more .dw-arrow {
	margin:0 0 2px 10px;
	display: inline-block;
	width: 12px;
	height: 6px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M505.752,123.582c-8.331-8.331-21.839-8.331-30.17,0L256,343.163L36.418,123.582c-8.331-8.331-21.839-8.331-30.17,0 s-8.331,21.839,0,30.17l234.667,234.667c8.331,8.331,21.839,8.331,30.17,0l234.667-234.667 C514.083,145.42,514.083,131.913,505.752,123.582z'/%3E%3C/svg%3E");
	opacity: 0.5;
}
/* mypage */
.mypage .top-tit {
	margin-bottom:35px;
}
.mypage .top-tit .top-sub-txt {
	display: block;
	font-size:16px;
	color:#666;
	font-weight: 400;
}
.detail-box .amount-used {}
.detail-box .amount-used {
	margin-top:50px;
	display:flex;
	width: 100%;
	align-items: center;
}
.detail-box .amount-used > div {}
.detail-box .amount-used .service-name {
	margin-right:35px;
	color:#222;
	font-size:18px;
	font-weight: 500;
}
.detail-box .amount-used .service-used {
	flex-grow:1;
}
.detail-box .amount-used .service-used .progress-bar {
	position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background-color: #eee;
}
.detail-box .amount-used .service-used .state-graph {
	position: relative;
	display: block;
    height: 10px;
    background-color: #142e7b;
}
.detail-box .amount-used .service-used .state-txt {
	display: block;
    position: absolute;
    right: -17px;
    top: 13px;
    font-size: 14px;
    color: #142e7b;
	font-weight: 500;
}
.detail-box .amount-used .service-value {
	margin-left:18px;
	font-size:14px;
	color:#666;
}

/* popup 약관영역 */
.privacy-wrap {
	padding:20px 20px 40px;
}
.privacy-wrap .section {
	margin-top:50px;
}
.privacy-wrap p,
.privacy-wrap .section > p,
.privacy-wrap .section > ol,
.privacy-wrap .section > ul {
	margin-top:15px;
	font-size:16px;
	color:#666;
	line-height:1.6;
	font-weight: 200;
}

/* media query */
/* pc Device  */
@media screen and (max-width: 1600px) {
	.contact {
		display: none;
	}

}

/* tabet Device  */
@media screen and (max-width: 1280px) {
	.topArea {
		padding:200px 50px;
		height:auto;
		background-position:65% center;
		background-image: url('/front/img/main/main_visual_m.jpg');
	}
	.content .sec-tit small {
		display:none;
	}
	.main-slide .sec-tit {
		font-size:22px;
		line-height:1.2;
	}
	.main-slide .slide-box .num {
		top:-48px;
		margin-right: -31%;
	}
	.main-slide .slide-box .slick-counter .current {
		font-size:100px;
	}
	.more-box P {
		max-width: 100%;
	}
	.more-box .flex-box {
		padding:0 50px;
		display: block;
	}
	.more-box .flex-box .flex-cont:last-child {
		display: none;
	}

	.login-box,
	.content .gray-box,
	.top-area {
		margin-top:50px;
	}
}
@media screen and (max-width: 1024px) {
	.main-slide {
		border-top:2px solid #e3e3e3;
	}
	.main-slide .slick-list {
		padding:0 5vw !important;
		margin-left:-11vw;
	}
	.main-slide .slide-box .slick-current .cont-box {
		position: static;
	}
	.main-slide .slide-box .num {
		display:none;
	}
	.top-area {
		height:300px;
	}
	.top-area .sec-tit {
		padding-top:80px;
	}

	.detail-box .detail-cont {
		padding:50px 80px;
	}

}

@media screen and (max-width: 768px) {
    #wrap-top {
        height:50px;
    }
	.section {
		margin-top:50px;
	}
	.main-slide {
		padding:50px 20px 50px 50px;
	}
	.main-slide .slide-box .slide-cont {
		margin:0 15px;
	}
	.main-slide .slide-box .slick-current .cont-box {
		padding:20px 0;
		font-size:12px;
		line-height: 1.4;
	}
	.main-slide .top-slider-prev,
	.main-slide .top-slider-next {
		display:none;
	}
	.main-slide .sec-tit {
		max-width: 80%;
	}

		/* 로그인 */
	.content .login-box {
		align-items: center;
		padding:50px 30px 65px;
		min-height:calc(100vh - 233px);
		background-image: url('/front/img/bg_m_login.jpg');
	}
	.login-box .sub-tit {
		font-size:25px;
		line-height: 1.4;
	}
	.login-box .login {
		margin-top:-70px;
		padding:30px 30px 35px;
		min-width: 100%;
		background-color: #fff;
		box-sizing: border-box;
		box-shadow: 0px 1px 14px -2px rgba(168,166,159,0.2);
	}
	.login-box .login h3 {
		margin-bottom:25px;
		font-size:25px;
		line-height: 1.4;
	}
	.login-box .login .field {
		margin-bottom:10px;
	}
	.login-box .login .field-error {
		padding-left:16px;
		font-size:11px;
	}
	.login-box .login .field-error::before {
		top:0;
		width: 13px;
		height:13px;
	}
	.login-box .login .fieldset-addinfo {
		margin:20px 0 0;
		text-align:left;
	}
	.login-box .login .btn {
		margin:25px 0 20px;
	}
	.login-box .login .login-util a {
		font-size:14px;
	}

		/* 회원가입 */
	.content .gray-box {
		padding:50px 30px 65px;
	}
	.join-wrap {
		margin:0 auto;
		max-width: 100%;
	}
	.join-wrap.single {
		max-width: 100%;
	}
	.join-wrap .sub-tit {
		font-size:25px;
		line-height: 3.75rem;
	}
	.join-wrap .sub-txt {
		font-size:12px;
	}
	.join-wrap .label-tit {
		margin:23px 0 10px;
		font-size: 14px;
	}
	.join-wrap .field-box {
		margin-top:25px;
	}
	.join-wrap .field-box .label-tit {
		margin-top:0;
	}
	.join-wrap .field-box .field-line {
		width: 100%;
	}
	.join-wrap .agree-box {
		margin-top:50px;
	}
	.join-wrap .agree-box ul {
		border-top:2px solid #222;
	}
	.join-wrap .agree-box ul li {
		padding:15px 0;
	}
	.join-wrap .agree-box ul li .txt-link span {
		position: relative;
	}
	.join-wrap .btn-wrap {
		margin-top:30px;
	}
	.join-wrap .flex-box {
		gap:10px;
	}
	.join-wrap .flex-box .btn {
		flex-grow: 1;
	}
	.join-wrap .wht-box {
		margin-top:45px;
	}

	.content .wrap.notice {
		padding:50px 0 65px;
	}

	.top-area.notice {
		height:125px;
		background-image:url('/front/img/bg_m_notice.jpg');
	}
	.top-area.support {
		height:125px;
		background-image:url('/front/img/bg_m_support.jpg');
	}
	.top-area.faq {
		height:125px;
		background-image:url('/front/img/bg_m_faq.jpg');
	}
	.top-area.mypage {
		height:125px;
		background-image:url('/front/img/bg_m_mypage.jpg');
	}
	.top-area .sec-tit {
		padding-top:55px;
		font-size:30px;
	}
	.top-area .lnb {
		display: none;
	}
	.detail-box .detail-top {
		padding:15px 30px;
	}
	.detail-box .detail-top .detail-tit {
		font-size:19px;
	}
	.detail-box .detail-top .detail-util {
		margin-top:5px;
	}
	.detail-box .detail-top .detail-util span {
		font-size:12px;
	}
	.detail-box .detail-top .detail-util .bar {
		padding:0 10px;
	}
	.detail-box .detail-cont {
		padding:35px 30px;
	}
	.detail-box .list-ctrl {
		margin-top:20px;
	}
	.detail-box .list-ctrl li {
		padding:17px 30px;
	}
	.detail-box .list-ctrl li strong {
		padding-right:5%;
		font-size:14px;
	}
	.detail-box .list-ctrl li a {
		padding-left:5%;
		font-size:14px;
	}

	/* faq */
	.content .wrap.faq {
		padding:50px 0 65px;
	}
	.faq-cont {
		position: relative;
		display: block;
		flex:unset;
	}
	.faq-cont .faq-side {
		margin:0 -20px;
		width: calc(100% + 40px);
		overflow-x:auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		z-index: 2;
	}
	.faq-cont .faq-menu {
		display: flex;
		padding: 0 20px;
		width: fit-content;
	}
	.faq-cont .faq-menu li {
		flex-grow: 1;
	}
	.faq-cont .faq-menu li a {
		padding:0 10px;
		font-size: 14px;
		white-space: nowrap;
	}
	.faq-cont #faq-detail {width: 100%;}
	.faq-cont .faq-list {margin-top:0;}
	.faq-cont .faq-list li a {padding:15px 30px; font-size:14px;}
	.faq-cont .faq-list li a .arrow {
		top:17px;
		width: 18px;
		height:10px;
	}
	.faq-cont .faq-list li .expand-box {padding:30px; font-size:12px;}
	.faq-cont .btn-wrap {padding:0 30px;}
	.faq-cont::after {
		position: absolute;
		z-index: 2;
		display: block;
		content: '';
		top: 48px;
		right: -20px;
		width: 57px;
		height: 42px;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
		pointer-events: none;
	}
	.faq-cont .btn-wrap .btn-more {padding:13px 0; font-size:14px;}

	/* mypage */
	.mypage .top-tit {
		margin-bottom:20px;
		padding-left:30px;
		text-align:left;
		font-size:22px;
	}
	.detail-box .amount-used {
		padding:0 30px;
		box-sizing: border-box;
	}
	.mypage .top-tit .top-sub-txt {
		margin-top:9px;
		font-size:12px;
	}
	.detail-box .amount-used .service-name {
		margin-right:17px;
		font-size:14px;
	}
	.detail-box .amount-used .service-used .state-txt {
		top:10px;
		right:-14px;
		font-size:11px;
	}
	.detail-box .amount-used .service-value {
		margin-left:17px;
		font-size:11px;
	}

	
	.faq-cont::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	.faq-cont::-webkit-scrollbar-track {
		background-color: transparent;
	}
	.faq-cont::-webkit-scrollbar-thumb {
		box-shadow: none;
	}

}
/* mobile Device  */
@media screen and (max-width: 720px) {
	
	.top-util {
		display: none;
	}
	.top-util.m-block {
		display: block;
	}
	.top-util.m-block .top-tit {
		margin-bottom:35px;
		font-size:19px;
	}
	.top-util .tbl-info-txt {font-size:12px;}
	.custom-chk {padding-left:30px;}
	.custom-chk .radio-btn > span {font-size:14px;}
	.topArea {
		padding:160px 50px;
		height:auto;
	}
	.topArea .top-tit {
		font-size:36px;
	}
	.topArea .top-txt {
		display: none;
	}

	.content .sec-tit {
		font-size:22px;
		line-height: 1.6875rem;
	}
	.content .feature-box {
		padding:50px;
	}
	.feature-box .flex-box {
		margin-top:50px;
		display: block;
		text-align: left;
	}
	.feature-box .flex-box .flex-cont {
		display:flex;
		align-items: center;
		margin-top:40px;
	}
	.feature-box .flex-box dl {
		display: inline-block;
		width: calc(100% - 80px);
	}
	.feature-box .flex-box dt {
		margin:0 0 12px;
		font-size:13px;
	}
	.feature-box .flex-box dd {
		max-width: 100%;
		font-size:12px;
		line-height: .9375rem;
	}
	.feature-box .ico {
		margin-right:20px;
		display: inline-block;
		width: 53px;
		height:53px;
		vertical-align: middle;
	}
	.content .main-why {
		padding:50px 0;
	}
	.content .main-why .sec-tit {
		margin:0 auto;
		width: 60%;
		word-break: keep-all;
	}
	.circle-box > ul {
		flex-wrap:wrap;
		justify-content: center;
		margin-top:40px;
		padding:0;
	}
	.circle-box > ul > li {
		margin:0 8%;
		flex-grow: 0;
		font-size:14px;
	}
	.circle-box > ul > li .ico {
		margin-bottom:6px;
		width: 64px;
		height:64px;
	}
	.content .more-box {
		padding:50px 0;
		text-align: center;
	}
	.more-box > div {
		
	}
	.more-box .sub-tit {
		display: none;
	}
	.more-box P {
		font-size:14px;
	}
	.more-box .radius-box li {
		padding:5%;
		width: 25%;
	}
	.more-box .radius-box li a {
		font-size:11px;
	}
	.more-box .radius-box li .ico {
		margin-bottom:5px;
		width: 23px;
		height: 23px;
	}
	.bottom-banner {
		padding:50px;
		height: auto;
		font-size:16px;
		line-height: 1.4;
	}
	.bottom-banner small {
		display: none;
	}
	.bottom-banner .btn-wrap {
		margin-top:20px;
	}
	
	.join-wrap .caution {
		margin-top:13px;
	}
	.join-wrap .caution li {
		padding-left:6px;
		text-indent:-2px;
		font-size:12px;
	}
	
}
/* mobile Device  */
@media screen and (max-width: 414px) {
	.detail-box .list-ctrl li a {
		max-width: 70%;
	}
}